


  <div class="jarviswidget jarviswidget-color-green" id="wid-id-3" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-colorbutton="false" >
 
  <header>
    <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
    <h2>Proveedores</h2>  
  </header>
  <div>
    <div class="jarviswidget-editbox">
    </div>
    <div class="widget-body no-padding">

      <%= form_for(@provider, html:{:class => 'smart-form'}) do |f| %>
        <% if @provider.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@provider.errors.count, "error") %> prohibited this identity from being saved:</h2>          
            <ul>
            <% @provider.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>
        
        <fieldset>   
          <section>
            <label>Nombre</label>
            <label class="input"> <i class="icon-append fa fa-truck"></i>
              <%= f.text_field :nombre, placeholder: 'Nombre', required: true %>     
            </label>
          </section>
          <section>
            <label>Página Web</label>
            <label class="input"> <i class="icon-append fa fa-cloud"></i>
              <%= f.text_field :web, placeholder: 'Página Web', required: false %>     
            </label>
          </section>
          <section>
            <label>RUT</label>
            <label class="input"> <i class="icon-append fa fa-bookmark"></i>
              <%= f.text_field :rut, placeholder: 'RUT', required: false %>     
            </label>
          </section>
          <section>
              <div class="form-group">
                <label>Contacto</label>
                  <div class="row">
                    <section class="col col-6">
                      <label class="input"> <i class="icon-append fa fa-phone-square"></i>
                      <%= f.text_field :telefono, placeholder: 'Teléfono', required: true %>  
                      </label>
                    </section>
                    <div class="col col-0"></div>
                    <section class="col col-6">
                      <label class="input"> <i class="icon-append fa fa-mobile-phone"></i>
                      <%= f.text_field :celular, placeholder: 'Celular', required: false %>  
                      </label>
                    </section>
                  </div>  
                </label>
              </div>  
              <div class="form-group">
                  <div class="row">
                    <section class="col col-6">
                      <label class="input"> <i class="icon-append fa fa-envelope"></i>
                      <%= f.text_field :email, placeholder: 'Email', required: true %>  
                      </label>
                    </section>
                    <div class="col col-0"></div>
                    <section class="col col-6">
                      <label class="input"> <i class="icon-append fa fa-map-marker"></i>
                      <%= f.text_field :domicilio, placeholder: 'Domicilio', required: false %>  
                      </label>
                    </section>
                  </div>  
                </label>
              </div> 
            </section>

        
        </fieldset>
        <footer>
          <%= f.submit 'Confirmar', class:'btn btn-success'   %>  
          <div>
             <%= link_to 'Volver', providers_path, class: 'btn btn-default'  %>
          </div>
        </footer>
      <% end %>
    </div>
  </div>
</div>

