<% content_for :ribbon do %>
  <!-- RIBBON -->
  <div id="ribbon">
  
    <span class="ribbon-button-alignment">
      <span id="refresh" class="btn btn-ribbon" data-action="resetWidgets" data-title="refresh"  rel="tooltip" data-placement="bottom" data-original-title="<i class='text-warning fa fa-warning'></i> Advertencia! se perderán los cambios no guardados. " data-html="true">
        <i class="fa fa-refresh"></i>
      </span>
    </span>
  
    <!-- breadcrumb -->
    <ol class="breadcrumb">
      <li><%= link_to 'Inicio', root_path %></li>
      <li><%= link_to 'Proveedores', providers_path %></li>     
      <li>Ver Proveedor</li>
    </ol>
    <!-- end breadcrumb -->
  </div>
<!-- END RIBBON -->
<% end %>

<!-- MAIN CONTENT -->
<div id="content">
	
	<!-- widget grid -->
  <section id="widget-grid" class="">
    <!-- row -->
  	<div class="row">

      <!-- NEW COL START -->
    	<article class="col-sm-12 col-md-12 col-lg-6">

				<div class="jarviswidget jarviswidget-color-green" id="wid-id-3" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-colorbutton="false" >
					<header>
						<span class="widget-icon"> <i class="fa fa-eye"></i> </span>
						<h2>Ver Proveedor</h2>  
					</header>
					
					<!-- widget div-->
					<div>
						<!-- widget edit box -->
						<div class="jarviswidget-editbox">
								<!-- This area used as dropdown edit box -->
						</div>
						<!-- end widget edit box -->
					
						<!-- widget content -->
						<!--<div class="widget-body no-padding">	-->	
						<fieldset>          	
							<!-- widget div-->
							<div>
								<!-- widget edit box -->
								<div class="jarviswidget-editbox">
									<!-- This area used as dropdown edit box -->
								</div>
								<!-- end widget edit box -->
					
								<!-- widget content -->
								<div class="widget-body no-padding">
									<form class="smart-form">
										<header>										
  										  <label class="label">Nombre</label>
												<label class="input">
													<%= @provider.nombre %>
												</label>
										</header>
										<fieldset>
											<section class="col col-5">							
  											<label class="label">Web</label>
													<label class="input">
														<%= @provider.web %>
												</label>
    									</section>
    									<section class="col col-5">							
  											<label class="label">Rut</label>
													<label class="input">
														<%= @provider.rut %>
												</label>
    									</section>
    									<section class="col col-5">							
  											<label class="label">Domicilio</label>
													<label class="input">
														<%= @provider.domicilio %>
												</label>
    									</section>
    									<section class="col col-5">							
  											<label class="label">Teléfono</label>
													<label class="input">
														<%= @provider.telefono %>
												</label>
    									</section>
    									<section class="col col-5">							
  											<label class="label">Celular</label>
													<label class="input">
														<%= @provider.celular %>
												</label>
    									</section>
    									<section class="col col-5">							
  											<label class="label">Email</label>
													<label class="input">
														<%= @provider.email %>
												</label>
    									</section>
    								</fieldset>
										<footer>
											<div>
					               <%= link_to 'Volver', providers_path, class: 'btn btn-default'  %>
					            </div>
										</footer>
									</form>
								</div>
							</div>
						</fieldset>
						
					</div>
				</div>	
    	</article>
      <!-- WIDGET END -->
  	</div>
    <!-- end row -->   
	</section>
  <!-- end widget grid -->
</div>






