<p id="notice"><%= notice %></p>

<p>
  <strong>Descripcion:</strong>
  <%= @phone.descripcion %>
</p>

<p>
  <strong>Numero:</strong>
  <%= @phone.numero %>
</p>

<p>
  <strong>Person:</strong>
  <%= @phone.person %>
</p>

<%= link_to 'Edit', edit_phone_path(@phone) %> |
<%= link_to 'Back', phones_path %>
