
<% content_for :html_id, "lock-page" %>
<!-- MAIN CONTENT -->

  <%= form_for @identity, url: sessions_path, html: {class: "lockscreen animated flipInY"} do |form| %>
    <%- if warden_message %>
      <div class=''></div>
      <div class="alert alert-danger fade in">
          <button class="close" data-dismiss="alert">
            ×
          </button>
          <i class="fa-fw fa fa-times"></i>
          <strong>Error!</strong> <%= warden_message %>
        </div>
    <% end %>
    <% if notice %>
      <div class="alert alert-success fade in">
        <button data-dismiss="alert" class="close">
          ×
        </button>
        <i class="fa-fw fa fa-check"></i>
        <%= notice %>
      </div>
    <% end %>
    <% if alert %>
      <div class="alert alert-danger fade in">
        <button data-dismiss="alert" class="close">
          ×
        </button>
        <i class="fa-fw fa fa-times"></i>
        <strong>Error! </strong><%= alert %>
      </div>
    <% end %>
    <div class="logo">
      <h1 class="semi-bold"><%= image_tag 'inmotour/Logo60-60.png', alt: '' %> Inmotur</h1>
    </div>
    <div>
      <%= image_tag 'inmotour/Logo120-120.png', alt: '', width: '120', height: '120' %>
      <div>
        <h1><i class="fa fa-user fa-3x text-muted air air-top-right hidden-mobile"></i>Inmotur <small><i class="fa fa-lock text-muted"></i> &nbsp;Acceso para usuarios autorizados</small></h1>
      <p class="text-muted">
       </br>
      </p>
        
        <div class="input no-padding">   
            
            <%= form.email_field :email,  placeholder: "E-mail",required: true, class:"form-control" %>				   
				    <p class="no-margin margin-top-5">
				
				    <%= form.password_field :password, placeholder: "Contraseña",required: true , class:"form-control" %> 
				    
        </div>
       <p class="no-margin margin-top-5"></p>
         <div class="input-group-btn">
            <%= form.submit 'Ingresar', class:"btn btn-primary" %>          
                        
          </div>
        
      </div>
  
    </div>

    
    
<% end %>

 

