


 <!-- Widget ID (each widget will need unique ID)-->
    <div class="jarviswidget jarviswidget-color-green" id="wid-id-3" data-widget-editbutton="false"  data-widget-deletebutton="false" data-widget-colorbutton="false" >
   
    <header>
      <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
      <h2><%= 'Cliente' if @person.tipo == 'C' %>
          <%= 'Dueño' if @person.tipo == 'D' %>
      </h2>  
    </header>
  
    <!-- widget div-->
    <div>
  
      <!-- widget edit box -->
      <div class="jarviswidget-editbox">
        <!-- This area used as dropdown edit box -->
      </div>
      <!-- end widget edit box -->
  
      <!-- widget content -->
      <div class="widget-body no-padding">
  
        <%= nested_form_for(@person, html:{:class => 'smart-form'}) do |f| %>
          <% if @person.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@person.errors.count, "error") %> prohibited this identity from being saved:</h2>          
              <ul>
              <% @person.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
              </ul>
            </div>
          <% end %>
          
  
          <fieldset>   
            <section>
              <div class="form-group">
                <label>Nombres</label>
                <label class="input"> <i class="icon-append fa fa-male"></i>
                  <div class="row">
                    <section class="col col-5">
                       <%= f.text_field :nombres, placeholder: 'Primer Nombre', required: true %>  
                    </section>
                    <div class="col col-0"></div>
                    <section class="col col-5">
                      <%= f.text_field :segundo_nom, placeholder: 'Segundo Nombre', required: false %>  
                    </section>
                  </div>  
                </label>
              </div>  
            </section>
          
            <section>
              <div class="form-group">
                <label>Apellidos</label>
                <label class="input"> <i class="icon-append fa fa-male"></i>
                  <div class="row">
                    <section class="col col-5">
                      <%= f.text_field :apellidos, placeholder: 'Primer Apellido', required: true %>  
                    </section>
                    <div class="col col-0"></div>
                    <section class="col col-5">
                      <%= f.text_field :segundo_ape, placeholder: 'Segundo Apellido', required: false %>  
                    </section>
                  </div>  
                </label>
              </div>  
            </section>
            
            
            <section>
              <div class="form-group">
                <label>País del Documento</label>
                <% if params[:action] == "new" %>
                  <%= f.collection_select  :pais_origen_doc, Nationality.all, :codigo, :nombre, { :include_blank => "Seleccionar país...", :selected => "UY"}, {:class=>'form-control', :required => false}  %>
				        <% else %>
				          <%= f.collection_select  :pais_origen_doc, Nationality.all, :codigo, :nombre, { :include_blank => "Seleccionar país..."}, {:class=>'form-control', :required => false}  %>
				        <% end %>
				      </div>
				    </section>
            
            <section>
              <label class="input">Documento</label>
              <label class="input"> <i class="icon-append fa fa-indent"></i>
              <%= f.text_field :documento, placeholder: 'Documento', required: false,  :pattern => '[0-9a-zA-Z_\-]{6,}' %> 
              </label>
            </section>
            
            <section>
                <label class="input">Tipo Documento</label>
                <%= f.collection_select :document_type_id, DocumentType.all, :id, :nombre, { :include_blank => "Seleccionar tipo documento..."}, {:class=>'form-control',:required => false}  %> 
			      
            </section>
         
            <section>
              <label class="input">Fecha Nacimiento </label>
              <label class="input"><i class="icon-append fa fa-calendar"></i>
                <%= f.date_field :fecha_nac, placeholder: 'Fecha Nacimiento', required: false %>     
              </label>
            </section>
            
            <section>
              <label class="input">Sexo</label>
              <label class="input"><i class="icon-append fa fa-male"></i>
               <% if params[:action] == "new" %>
                 <%= f.select :sexo, [['Femenino', 'F'], ['Masculino', 'M']], {:include_blank => "Seleccionar sexo...", :selected => 'M' },  required: false, class:"form-control"  %>   
               <% else %>
                  <%= f.select :sexo, [['Femenino', 'F'], ['Masculino', 'M']], {:include_blank => "Seleccionar sexo..." },  required: false, class:"form-control"  %> 
               <% end %>
              </label>
            </section>
            
            <section>
              <div class="form-group">
                <label class="input" for="">Nacionalidad</label>
                <% if params[:action] == "new" %>
                  <% @uruguay = Nationality.find_by(:codigo => 'UY') %>
                  <%= f.collection_select  :nationality_id, Nationality.all, :id, :nombre, { :include_blank => "Seleccionar nacionalidad...", :selected => @uruguay.id }, {:class=>'form-control',:required => false}  %>
                <% else %>
                  <%= f.collection_select  :nationality_id, Nationality.all, :id, :nombre, { :include_blank => "Seleccionar nacionalidad..."}, {:class=>'form-control',:required => false}  %>
                <% end %>
				      </div>
            </section>
            <section>
              <div class="form-group">
                <label class="input" for="">País Residencia</label>
                <% if params[:action] == "new" %>
                    <%= f.collection_select  :pais_residencia, Nationality.all, :codigo, :nombre, { :include_blank => "Seleccionar país...", :selected => "UY"}, {:class=>'form-control',:required => false}  %>
                <% else %>
                    <%= f.collection_select  :pais_residencia, Nationality.all, :codigo, :nombre, { :include_blank => "Seleccionar país..."}, {:class=>'form-control',:required => false}  %>
                <% end %>
				      </div>
            </section>
            
            <section>
              <div class="form-group">
                <label>Domicilios</label>
                <label class="input"> <i class="icon-append fa fa-map-marker"></i>
                  <div class="row">
                    <section class="col col-5">
                      <%= f.text_field :ciudad, placeholder: 'Ciudad', required: false %>  
                    </section>
                    <div class="col col-0"></div>
                    <section class="col col-5">
                      <%= f.text_field :domicilio, placeholder: 'Domicilio', required: false %>  
                    </section>
                  </div>  
                </label>
              </div>  
            </section>
           
            <section>
              <label>Matricula/Coche</label>
              <label class="input"> <i class="icon-append fa fa-car"></i>
                <%= f.text_field :matricula_coche, placeholder: 'Matricula Coche', required: false %>    
              </label>
            </section> 
            
            <% if @person.tipo == 'D'  %>   
              <section>
                <label>Cuenta Bancaria</label>
                <label class="input"> <i class="icon-append fa fa-key"></i>
                  <%= f.text_field :cuenta_banco, placeholder: 'Cuenta bancaria', required: false %>    
                </label>
              </section> 
            <% end  %>   
            
          </fieldset>
         
          <fieldset>
              <h2>Telefonos</h2> <br>
             
              <div class="form-group">
                <section>
                  <%= f.fields_for :phones do |phone| %>
                      <label class="input">  <i class="icon-append fa fa-phone"></i>
                   
                        <div class="row">
                       
                          <section class="col col-1">
                             <label class="input">
                              <%= phone.link_to_remove "",class: "btn btn-danger btn-sm fa fa-remove" %>
                            </label>
                          </section>
                          
                          <section class="col col-4">
                           <label class="input" id="phones_attributes"> 
                              <%= phone.text_field :descripcion , placeholder: 'Descripción', required: false %>    
                            </label> 
                          </section>
                          
                      
                          <section class="col col-5">
                            <label class="input" id="phones_attributes"> 
                               <%= phone.text_field :numero , placeholder: 'Numero', required: false %> 
                            </label>
                          </section>
                        </div>
                      
                      </label>
                  <% end %>
                  <%= f.link_to_add "", :phones, class: "btn btn-info btn-sm fa fa-plus" %>
                </section>
            </div>  
          </fieldset>
             
           
          <fieldset>
            <h2>Emails</h2> <br>
            <div class="form-group">
              <section>
                <%= f.fields_for :emails, @emails do |email| %>
                  <label class="input"> <i class="icon-append fa fa-envelope"></i>
                    <div class="row">
                        <section class="col col-1">
                          <label class="input">
                          <%= email.link_to_remove "",class: "btn btn-danger btn-sm fa fa-remove" %>
                        </label>
                        </section>
                        
                        <section class="col col-4">
                          <label class="input" id="emails_attributes"> 
                            <%= email.text_field :descripcion , placeholder: 'Descripción', required: false %>    
                          </label> 
                        </section>
                        <div class="col col-0"></div>
                        <section class="col col-5">
                          <label class="input" id="emails_attributes"> 
                             <%= email.text_field :email , placeholder: 'Email', required: false %> 
                          </label> 
                        </section>
                    </div> 
                  </label>
                <% end %>
                <%= f.link_to_add "", :emails, class: "btn btn-info btn-sm fa fa-plus" %>
              </section>
              <%= f.hidden_field :tipo %>
            </div>  
          </fieldset>
          <footer>
            <%= f.submit 'Confirmar', class:'btn btn-success'   %>  
            <div>
              <%= link_to 'Volver', clientes_path, class: 'btn btn-default' if @person.tipo == 'C' %>
              <%= link_to 'Volver', people_path, class: 'btn btn-default' if @person.tipo == 'D' %>
            </div>
          </footer>
        <% end %>
  
      </div>
      <!-- end widget content -->
  
    </div>
    <!-- end widget div -->

  </div>
  <!-- end widget -->




