
<% content_for :ribbon do %>
  <!-- RIBBON -->
  <div id="ribbon">
  
    <span class="ribbon-button-alignment">
      <span id="refresh" class="btn btn-ribbon" data-action="resetWidgets" data-title="refresh"  rel="tooltip" data-placement="bottom" data-original-title="<i class='text-warning fa fa-warning'></i> Advertencia! se perderán los cambios no guardados. " data-html="true">
        <i class="fa fa-refresh"></i>
      </span>
    </span>
  
    <!-- breadcrumb -->
    <ol class="breadcrumb">
      <li><%= link_to 'Inicio', root_path %></li>
      <li><%= link_to 'Clientes datos incompletos', clientes_path %></li>   
    </ol>

    <!-- end breadcrumb -->
  </div>
<!-- END RIBBON -->
<% end %>

<!-- MAIN CONTENT -->
<div id="content">

  <!-- widget grid -->
  <section id="widget-grid" class="">
    <!-- row -->
    <div class="row">

      <!-- NEW WIDGET START -->
      <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                
        <!-- Widget ID (each widget will need unique ID)-->
        <div class="jarviswidget jarviswidget-color-green" id="wid-id-3" data-widget-editbutton="false">
     
          <header>
            <span class="widget-icon"> <i class="fa fa-table"></i> </span>
            <h2>Personas</h2>  
          </header>
  
          <!-- widget div-->
          <div>
  
            <!-- widget edit box -->
            <div class="jarviswidget-editbox">
              <!-- This area used as dropdown edit box -->  
            </div>
            <!-- end widget edit box -->
  
            <!-- widget content -->
            <div class="widget-body no-padding">
  
              <table id="datatable_tabletools" class="table table-striped table-bordered table-hover" width="100%">
                <thead>
                  <tr>
                    <th data-hide="expand">documento</th>
                    <th data-hide="phone">idpaisdocumento</th>
                    <th data-hide="phone">tipodocumento</th>
                    <th data-hide="phone">apellido1</th>
                    <th data-hide="phone">nombre1</th>
                    <th data-hide="expand">Acciones Persona</th> 
                    <th data-hide="expand">Acciones Alquiler</th> 
                  </tr>
                </thead>
                <tbody>
                  <% @rentals.each do |rental| %>
                    <% if rental.informado != "S" %>
                        <% if rental.encurso? %>
                            <% if !rental.person.documento or !rental.person.pais_origen_doc or !rental.person.document_type  or !rental.person.sexo or !rental.person.nationality or !rental.person.pais_residencia or !rental.fechadesde or !rental.fechahasta or !rental.person.fecha_nac %>
                              <tr>
                                  <td><%= rental.person.documento %></td>        
                                  <td><%= rental.person.pais_origen_doc %></td>
                                  <td><%= rental.person.document_type.codigo if rental.person.document_type %></td>
                                  <td><%= rental.person.apellidos %></td>    
                                  <td><%= rental.person.nombres %></td>
                                  <td>
                                      <%= link_to '', rental.person, class: 'btn btn-xs btn-default fa fa-eye'%>
                                      <%= link_to '', edit_person_path(rental.person) , class: 'btn btn-xs btn-default fa fa-pencil' %>
                                  </td>
                                  <td>
                                      <%= link_to '', rental, class: 'btn btn-xs btn-default fa fa-eye'%>
                                      <%= link_to '', edit_rental_path(rental) , class: 'btn btn-xs btn-default fa fa-pencil' %>
                                  </td>
                              </tr>
                            <% end %>
                        <% end %>
                      <% end %>
                  <% end %>     
                  <% @companions.each do |companion| %>
                      
                      <% if companion.rental.encurso? %>
                        <% if !companion.documento || !companion.nombre || !companion.apellido || !companion.pais_origen_doc || !companion.document_type || !companion.sexo || !companion.fecha_nac || !companion.pais_residencia || !companion.nationality %>
                          <tr>
                            <td><%= companion.documento %></td>        
                            <td><%= companion.pais_origen_doc if companion.pais_origen_doc %></td>
                            <td><%= companion.document_type.codigo if companion.document_type %></td>
                            <td><%= companion.apellido %></td>    
                            <td><%= companion.nombre %></td>
                            <td>
                                <%= link_to '', companion, class: 'btn btn-xs btn-default fa fa-eye'%>
                                <%= link_to '', edit_companion_path(companion) , class: 'btn btn-xs btn-default fa fa-pencil' %>
                            </td>
                            <td>
                                <%= link_to '', companion.rental, class: 'btn btn-xs btn-default fa fa-eye'%>
                                <%= link_to '', edit_rental_path(companion.rental) , class: 'btn btn-xs btn-default fa fa-pencil' %>
                            </td>
                          </tr>
                        <% end %>  
                      <% end %> 
                
                  <% end %>  
                </tbody>
              </table>  
            </div>
            <!-- end widget content -->  
          </div>
          <!-- end widget div -->  
        </div>
        <!-- end widget -->  
      </article>
      <!-- WIDGET END -->
    </div>
    <!-- end row -->   
  </section>
  <!-- end widget grid -->
<!-- END MAIN CONTENT -->

 
</div>
<!-- END MAIN CONTENT -->

<% content_for :scripts do %>
  <script type="text/javascript">

    // DO NOT REMOVE : GLOBAL FUNCTIONS!

    $(document).ready(function() {

      pageSetUp();


      var responsiveHelper_datatable_tabletools = undefined;

      var breakpointDefinition = {
        tablet : 1024,
        phone : 480
      };
     
      
      $('#datatable_tabletools').DataTable( {
          dom: "<'dt-toolbar'<'col-xs-12 col-sm-6'f> <'col-sm-6 col-xs-6 hidden-xs'BT>r>"+
              "t"+ "<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-sm-6 col-xs-12'p>>",
          buttons: [
              {
                  extend: 'csvHtml5',
                  text: 'CSV',
                  title: 'Datos Faltantes de Personas',
                  fieldSeparator: ";",
                  exportOptions: {
                      columns: [0,1,2,3,4]
                  }
              },
              {
                  extend: 'pdfHtml5',
                  text: 'PDF',
                  title: 'Datos Faltantes de Personas',
                  exportOptions: {
                      columns: [0,1,2,3,4]
                  }
              },
              {
                  extend: 'excelHtml5',
                  title:'Datos Faltantes de Personas',
                  text: 'EXCEL',
                  exportOptions: {
                      columns: [0,1,2,3,4]
                  }
              }                   
              
          ],
          language: {
              search: '<span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>',
              processing: "Procesando...",
              lengthMenu:    "Afficher _MENU_ &eacute;l&eacute;ments",
              info:           "Mostrando _END_ de _MAX_ registros",
              infoEmpty:      "No hay datos para mostrar",
              infoFiltered:   "(filtrado de _MAX_ registros totales)",
              infoPostFix:    "",
              loadingRecords: "Cargando registros...",
              zeroRecords:    "No hay datos para mostrar",
              emptyTable:     "No hay datos para mostrar",
              paginate: {
                  first:      "Primer",
                  previous:   "Anterior",
                  next:       "Siguiente",
                  last:       "Ultimo"
              },
             
          },
          "pageLength": 10,
          "autoWidth" : true,
          "preDrawCallback" : function() {
            // Initialize the responsive datatables helper once.
            if (!responsiveHelper_datatable_tabletools) {
              responsiveHelper_datatable_tabletools = new ResponsiveDatatablesHelper($('#datatable_tabletools'), breakpointDefinition);
            }
          },
          "rowCallback" : function(nRow) {
            responsiveHelper_datatable_tabletools.createExpandIcon(nRow);
          },
          "drawCallback" : function(oSettings) {
            responsiveHelper_datatable_tabletools.respond();
          }
          
          
      });
      
       //Cambio clases a los botones de CSV,PDF,XLS
      $(".dt-buttons").addClass("DTTT_container");
      $(".dt-button").addClass("DTTT_button");
      $(".dt-button").removeClass("dt-button buttons-csv buttons-html5");
      $(".dt-buttons").removeClass("dt-buttons");

    })

  </script>
<% end %>
