<% content_for :ribbon do %>
  <!-- RIBBON -->
  <div id="ribbon">
  
    <span class="ribbon-button-alignment">
      <span id="refresh" class="btn btn-ribbon" data-action="resetWidgets" data-title="refresh"  rel="tooltip" data-placement="bottom" data-original-title="<i class='text-warning fa fa-warning'></i> Advertencia! se perderán los cambios no guardados. " data-html="true">
        <i class="fa fa-refresh"></i>
      </span>
    </span>
  
     <!-- breadcrumb -->
    <ol class="breadcrumb">
      <li><%= link_to 'Inicio', root_path %></li>
      <li><%= link_to 'Dueños', people_path %></li>
      <li>Ganancias de Dueño</li> 
    </ol>
    <!-- end breadcrumb -->
  </div>
<!-- END RIBBON -->
<% end %>

<!-- MAIN CONTENT -->
<div id="content">
  <!-- widget grid -->
  <section id="widget-grid" class="">
    <!-- row -->
    <div class="row">

      <!-- NEW WIDGET START -->
      <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                
        <!-- Widget ID (each widget will need unique ID)-->
        <div class="jarviswidget jarviswidget-color-green" id="wid-id-3" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-colorbutton="false">
     
          <header>
            <span class="widget-icon"> <i class="fa fa-table"></i> </span>
            <h2>Ganancias de <%= @dueno.nombres %> <%= @dueno.apellidos %></h2>  
          </header>
  
          <!-- widget div-->
          <div>
  
            <!-- widget edit box -->
            <div class="jarviswidget-editbox">
              <!-- This area used as dropdown edit box -->  
            </div>
            <!-- end widget edit box -->
  
            <!-- widget content -->
            <div class="widget-body no-padding">
              <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i>
                Fecha Desde: <input type="date" id="min" name="min" >
                
              </span>
              <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i>
                
                Fecha Hasta: <input type="date" id="max" name="max" >
              </span>
              <table id="datatable_tabletools" class="table table-striped table-bordered table-hover" width="100%">
                <thead>
                	<tr>
                	  <th data-class="expand">Fecha</th> 
                    <th data-class="expand">Casa</th>  
                    <th data-hide="phone">Cliente</th> 
                    <th data-hide="phone">Dias</th> 
                    <th data-hide="phone">Costo/Alquiler</th> 
                    <th data-hide="phone">Ganancia/Alquiler</th>
                    <th data-hide="phone">Costo Luz</th>
                    <th data-hide="phone">Gastos</th>
                    <th data-hide="phone">TOTAL</th>
                  </tr>
                </thead>
                <tbody>
                  <% @rentals.each do |rental| %>
                    <% if rental.cottage.tipo = "D" %>
                      <% if rental.confirmada? or rental.encurso? or rental.finalizada? %>
                          <tr>
                            <td><%= rental.fechadesde %></td>
                            <td><%= rental.cottage.nombre %></td> 
                            <td><%= rental.person.nombres %> <%= rental.person.apellidos %></td>            
                            <td><%= (rental.fecha_entrega - rental.fechadesde).to_i %></td>
                            <td><%= rental.costo_total %></td>
                            <td><%= rental.ganancia_dueno %></td> 
                            <td><%= rental.total_luz %></td>
                            <td>0</td>
                            <td><%= (rental.ganancia_dueno) - (rental.total_luz)  %></td>
                          </tr>
                      
                      <% end %>
                    <% end %>
                  <% end %>                   
                </tbody>
              </table>  
            </div>
            <!-- end widget content -->  
          </div>
          <!-- end widget div -->  
        </div>
        <!-- end widget -->  
      </article>
      <!-- WIDGET END -->
    </div>
    <!-- end row -->   
  </section>
  <!-- end widget grid -->
  <button type="button" class="btn btn-default" onclick="window.history.back();">
  Volver
  </button>
</div>
<!-- END MAIN CONTENT -->


<% content_for :scripts do %>

  <script type="text/javascript">
     /* Custom filtering function which will search data in column four between two values */
    $.fn.dataTable.ext.search.push(
        function( settings, data, dataIndex ) {
            var min = $('#min').val();
            var max = $('#max').val();
          
            
            var age = data[2]; // use data for the age column
          
            if (!min || !max ){
              return true;
            }else{
               // alert(age +"..-.."+max+"--"+min)
              if ( age <= max && age >= min){
                  return true;
              }
            }
            return false;
        }
    );
    // DO NOT REMOVE : GLOBAL FUNCTIONS!
  
    $(document).ready(function() {

      pageSetUp();
     
      var responsiveHelper_datatable_tabletools = undefined;

      var breakpointDefinition = {
        tablet : 1024,
        phone : 480
      };
      
      
      /* TABLETOOLS */
      $('#datatable_tabletools').dataTable({
        
        "sDom": "<'dt-toolbar'<'col-xs-12 col-sm-6'f><'col-sm-6 col-xs-6 hidden-xs'T>r>"+
        "t"+
        "<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-sm-6 col-xs-12'p>>",
        "oLanguage": {
          "sSearch": '<span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>',
          
        },
       
        "oTableTools": {
          "aButtons": [
            {
              "sExtends": "pdf",
              "sTitle": "Ganancia Dueños",
              "sPdfMessage": "Ganancia Dueños",
              "sPdfSize": "letter"
            },

            {
              "sExtends": "xls",
              "sTitle": "Ganancia Dueños",
            },
          ],
          "sSwfPath": "/assets/plugin/datatables/swf/copy_csv_xls_pdf.swf"
        },
        "autoWidth" : true,
        "preDrawCallback" : function() {
          // Initialize the responsive datatables helper once.
          if (!responsiveHelper_datatable_tabletools) {
            responsiveHelper_datatable_tabletools = new ResponsiveDatatablesHelper($('#datatable_tabletools'), breakpointDefinition);
          }
        },
        "rowCallback" : function(nRow) {
          responsiveHelper_datatable_tabletools.createExpandIcon(nRow);
        },
        "drawCallback" : function(oSettings) {
          responsiveHelper_datatable_tabletools.respond();
        }
      });

      /* END TABLETOOLS */
      
       var table = $('#datatable_tabletools').DataTable();
     
      // Event listener to the two range filtering inputs to redraw on input
      $('#min, #max').keyup( function() {
          table.draw();
      } );
     

    })

  </script>
<% end %>