<% content_for :ribbon do %>
  <!-- RIBBON -->
  <div id="ribbon">
  
    <span class="ribbon-button-alignment">
      <span id="refresh" class="btn btn-ribbon" data-action="resetWidgets" data-title="refresh"  rel="tooltip" data-placement="bottom" data-original-title="<i class='text-warning fa fa-warning'></i> Advertencia! se perderán los cambios no guardados. " data-html="true">
        <i class="fa fa-refresh"></i>
      </span>
    </span>
  
     <!-- breadcrumb -->
    <ol class="breadcrumb">
      <li><%= link_to 'Inicio', root_path %></li>
      <li><%= link_to 'Ganancias Dueño', reporte_ganancias_path %></li>
      <li>Ganancias de <%= @dueno.nombres %> <%= @dueno.apellidos %></li> 
    </ol>
    <!-- end breadcrumb -->
  </div>
<!-- END RIBBON -->
<% end %>

<!-- MAIN CONTENT -->
<div id="content">
  <!-- widget grid -->
  <section id="widget-grid" class="">
    <!-- row -->
    <div class="row">

      <!-- NEW WIDGET START -->
      <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                
        <!-- Widget ID (each widget will need unique ID)-->
        <div class="jarviswidget jarviswidget-color-green" id="wid-id-3" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-colorbutton="false">
     
          <header>
            <span class="widget-icon"> <i class="fa fa-table"></i> </span>
            <h2>Ganancias de <%= @dueno.nombres %> <%= @dueno.apellidos %> desde <%= @fecha_desde.to_datetime.strftime("%d-%m-%Y") %> hasta 	<%= @fecha_hasta.to_datetime.strftime("%d-%m-%Y") %> </h2>  
          </header>
  
          <!-- widget div-->
          <div>
  
            <!-- widget edit box -->
            <div class="jarviswidget-editbox">
              <!-- This area used as dropdown edit box -->  
            </div>
            <!-- end widget edit box -->
  
            <!-- widget content -->
            <div class="widget-body no-padding">
             
             
             <table id="datatable_tabletools" class="table table-striped table-bordered table-hover" width="100%">
                <thead>
                    <tr>
                    	<th data-class="expand" class="text-center">Fecha</th> 
                        <th data-class="expand" class="text-center">Casa</th>  
                        <th data-hide="phone" class="text-center">Cliente</th> 
                        <th data-hide="phone" class="text-center">Dias</th> 
                        <th data-hide="phone" class="text-center">Costo/Alquiler</th> 
                        <th data-hide="phone" class="text-center">Ganancia/Alquiler</th>
                        <th data-hide="phone" class="text-center">Costo Luz</th>
                        <th data-hide="phone" class="text-center">Detalle</th>
                        <th data-class="phone" class="text-center">TOTAL</th>
                    </tr>
                </thead>
                <tbody>
                    <% @fecha_next = @fecha_desde.to_datetime %>
                    <% while @fecha_next <= @fecha_hasta.to_datetime  do %>
                 
                        <% @rentals.each do |rental| %>
                            <% if @fecha_next.to_datetime == rental.fechadesde %>
                                
                                <% if rental.fecha_entrega and rental.fechadesde %>
                                  <% @dias = rental.fecha_entrega - rental.fechadesde %>
                                <% else %>
                                  <% @dias = 0 %>
                                <% end %>  
                                <tr>
                                    <td class="text-center"><%= rental.fechadesde %></td>
                                    <td class="text-center"><%= rental.cottage.nombre %></td> 
                                    <td class="text-center"><%= rental.person.nombres %> <%= rental.person.apellidos %></td>            
                                    <td class="text-center"><%= @dias.to_i %></td>
                                    <td class="text-center"><%= rental.costo_total %></td>
                                    <td class="text-center"><%= rental.ganancia_dueno %></td> 
                                    <td class="text-center"><%= rental.total_luz %></td>
                                    <td class="text-center">Alquiler</td>
                                    
                                    <% @diff = 0   %>
                                    
                                    <%  if rental.ganancia_dueno %>
                                      <% @diff = @diff + rental.ganancia_dueno   %>
                                    <% end %>  
                                    
                                    <%  if rental.total_luz %>
                                      <% @diff = @diff + rental.total_luz   %>
                                    <% end %>  
                                    <td class="text-right"><%= @diff  %></td>
                                    
                                </tr>
                                <% @total_ganancias = @total_ganancias.to_i + @diff.to_i  %>
                            <% end %>      
                        <% end %>    
                        
                        <% @gastos.each do |gasto| %>
                            <% if @fecha_next.to_datetime == gasto.fecha %>
                                
                                <tr>
                                    <td class="text-center"><%= gasto.fecha %></td>
                                    <td class="text-center"><%= gasto.cottage.nombre %></td> 
                                    <td></td>            
                                    <td></td>
                                    <td></td>
                                    <td></td> 
                                    <td></td>
                                    <td class="text-center"><%= gasto.descripcion %></td>
                                    <td class="text-right"><%= gasto.importe * (-1)  %></td>
                                </tr>
                                <% @total_gastos = @total_gastos.to_i +  gasto.importe %>
                            <% end %>              
                          
                        <% end %>  
                        
                        <% @fecha_next = @fecha_next.to_datetime.next %>
                          
                    <% end %>
                    
                    <% @total = @total_ganancias.to_i - @total_gastos.to_i %>  
                    <tfoot>
                        <tr>
                            <td></td>            
                            <td></td>
                            <td></td>            
                            <td></td>
                            <td></td>
                            <td></td> 
                            <td></td>
                            <td><strong>TOTAL: $</strong></td>
                            <td class="text-right">   
                                <% if @total < 0 %>
                                    <span class="text-danger"> <%= @total.to_i %></span>
                                <% else %>
                                    <span class="text-success"><%= @total.to_i %> </span>
                                <% end %>
                            </td>
                        </tr>
                        <tr>
                            <td></td>            
                            <td></td>
                            <td></td>            
                            <td></td>
                            <td></td>
                            <td></td> 
                            <td></td>
                            <td><strong>Total Ganancias: $</strong></td>
                            <td class="text-right"><%= @total_ganancias.to_i %>    </td>
                        </tr>
                        <tr>
                            <td></td>            
                            <td></td>
                            <td></td>            
                            <td></td>
                            <td></td>
                            <td></td> 
                            <td></td>
                            <td><strong>Total Gastos $:</strong></td>
                            <td class="text-right"><%= @total_gastos.to_i %>  </td>
                        </tr>
                       
                     </tfoot>
                    
                </tbody>
            </table>  
         
            </div>
            <!-- end widget content -->  
          </div>
          <!-- end widget div -->  
        </div>
        <!-- end widget -->  
      </article>
      <!-- WIDGET END -->
    </div>
    <!-- end row -->   
  </section>
  <!-- end widget grid -->
  <button type="button" class="btn btn-default" onclick="window.history.back();">
  Volver
  </button>
</div>
<!-- END MAIN CONTENT -->


<% content_for :scripts do %>

  <script type="text/javascript">
   
  
    $(document).ready(function() {

      pageSetUp();
     
      var responsiveHelper_datatable_tabletools = undefined;

      var breakpointDefinition = {
        tablet : 1024,
        phone : 480
      };
     
     
     
     $('#datatable_tabletools').DataTable( {
          dom: "<'dt-toolbar'<'col-xs-12 col-sm-6'f> <'col-sm-6 col-xs-6 hidden-xs'BT>r>"+
              "t"+ "<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-sm-6 col-xs-12'p>>",
          buttons: [
              {
                  extend: 'csvHtml5',
                  text: 'CSV',
                  title: "Ganancia Dueño - " + '<%= @dueno.nombres %>' + '<%= @dueno.apellidos %>',
                  fieldSeparator: ";",
                  footer: true
              },
              {
                  extend: 'pdfHtml5',
                  text: 'PDF',
                  title: "Ganancia Dueño - " + '<%= @dueno.nombres %>' + '<%= @dueno.apellidos %>',
                  footer: true,
                  
              },
              {
                  extend: 'excelHtml5',
                  title: "Ganancia Dueño - " + '<%= @dueno.nombres %>' + '<%= @dueno.apellidos %>',
                  text: 'EXCEL',
                  footer: true
              }                   
              
          ],
          
          language: {
              search: '<span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>',
              processing: "Procesando...",
              lengthMenu:    "Afficher _MENU_ &eacute;l&eacute;ments",
              info:           "Mostrando _END_ de _MAX_ registros",
              infoEmpty:      "No hay datos para mostrar",
              infoFiltered:   "(filtrado de _MAX_ registros totales)",
              infoPostFix:    "",
              loadingRecords: "Cargando registros...",
              zeroRecords:    "No hay datos para mostrar",
              emptyTable:     "No hay datos para mostrar",
              paginate: {
                  first:      "Primer",
                  previous:   "Anterior",
                  next:       "Siguiente",
                  last:       "Ultimo"
              },
             
          },
          "order": [[ 0, "asc" ]],
          "pageLength": 20,
          "autoWidth" : true,
          "preDrawCallback" : function() {
            // Initialize the responsive datatables helper once.
            if (!responsiveHelper_datatable_tabletools) {
              responsiveHelper_datatable_tabletools = new ResponsiveDatatablesHelper($('#datatable_tabletools'), breakpointDefinition);
            }
          },
          "rowCallback" : function(nRow) {
            responsiveHelper_datatable_tabletools.createExpandIcon(nRow);
          },
          "drawCallback" : function(oSettings) {
            responsiveHelper_datatable_tabletools.respond();
          }
          
          
      });
      
       //Cambio clases a los botones de CSV,PDF,XLS
      $(".dt-buttons").addClass("DTTT_container");
      $(".dt-button").addClass("DTTT_button");
      $(".dt-button").removeClass("dt-button buttons-csv buttons-html5");
      $(".dt-buttons").removeClass("dt-buttons");

    })

  </script>
<% end %>