<% content_for :ribbon do %>
  <!-- RIBBON -->
  <div id="ribbon">
  
    <span class="ribbon-button-alignment">
      <span id="refresh" class="btn btn-ribbon" data-action="resetWidgets" data-title="refresh"  rel="tooltip" data-placement="bottom" data-original-title="<i class='text-warning fa fa-warning'></i> Advertencia! se perderán los cambios no guardados. " data-html="true">
        <i class="fa fa-refresh"></i>
      </span>
    </span>
  
     <!-- breadcrumb -->
    <ol class="breadcrumb">
      <li><%= link_to 'Inicio', root_path %></li>
      <li><%= link_to 'Ganancias Dueño', reporte_ganancias_path %></li> 
    </ol>
    <!-- end breadcrumb -->
  </div>
<!-- END RIBBON -->
<% end %>


<!-- MAIN CONTENT -->
<div id="content">

  <!-- widget grid -->
  <section id="widget-grid" class="">
    <!-- row -->
    <div class="row">

      <!-- NEW COL START -->
        <article class="col-sm-12 col-md-12 col-lg-6">
         
          <!-- Widget ID (each widget will need unique ID)-->
          <div class="jarviswidget jarviswidget-color-green" id="wid-id-5" data-widget-colorbutton="false"	data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-sortable="false">
            <header>
              <h2>Reporte Ganancias Dueño </h2>
            </header>

            <!-- widget div-->

            <div>
              <!-- widget edit box -->
              <div class="jarviswidget-editbox">
                <!-- This area used as dropdown edit box -->
                <input class="form-control" type="text">
              </div>
              <!-- end widget edit box -->

              <!-- widget content -->
              <div class="widget-body">

                
                <%= form_tag(reporte_ganancias_detalle_path, method: "get") do %>  
                  <fieldset>
                    
                    <div class="form-group">
                        <label>Dueño</label>
                        <%= collection_select(:id_dueno, :person_id,  @duenos, :id, :nom_ape, { :include_blank => "Seleccionar dueño..."}, {:class=>'form-control', :required => true}) %>
                    </div>    
			        
			        
                    <div class="form-group">
                      <label>Fecha Desde</label>
                        <input type="date" id="fecha_desde" name="fecha_desde" required="true" class="form-control">
                    </div>
                    
                    <div class="form-group">
                      <label>Fecha Hasta</label>
                        <input type="date" id="fecha_hasta" name="fecha_hasta" required="true" class="form-control">
                    </div>
                  </fieldset>
                  
                    
                  <div class="form-actions">
                    <div class="row">
                      <div class="col-md-12">
                        <button class= 'btn btn-success' type="submit">Confirmar</button>
                      </div>
                    </div>
                  </div>
                <% end %>
                
                

              </div>
              <!-- end widget content -->

            </div>
            <!-- end widget div -->

          </div>
          <!-- end widget -->
        </article>
      <!-- WIDGET END -->
    </div>
    <!-- end row -->   
  </section>
  <!-- end widget grid -->
  
 </div>
