<% content_for :ribbon do %>
  <!-- RIBBON -->
  <div id="ribbon">
  
    <span class="ribbon-button-alignment">
      <span id="refresh" class="btn btn-ribbon" data-action="resetWidgets" data-title="refresh"  rel="tooltip" data-placement="bottom" data-original-title="<i class='text-warning fa fa-warning'></i> Advertencia! se perderán los cambios no guardados. " data-html="true">
        <i class="fa fa-refresh"></i>
      </span>
    </span>
  
    <!-- breadcrumb -->
    <ol class="breadcrumb">
      <li><%= link_to 'Inicio', root_path %></li>
      <% if @person.tipo == "C" %>
      	<li><%= link_to 'Clientes', clientes_path %></li>
      	<li>Ver Cliente</li>
      <% else %>
      	<li><%= link_to 'Dueños', people_path %></li>
      	<li>Ver Dueño</li>
      <% end %>
      
    </ol>
    <!-- end breadcrumb -->
  </div>
<!-- END RIBBON -->
<% end %>
<!-- MAIN CONTENT -->
<div id="content">
<!-- widget grid -->
  <section id="widget-grid" class="">
    <!-- row -->
    <div class="row">

      <!-- NEW COL START -->
        <article class="col-sm-12 col-md-12 col-lg-6">

			<div class="jarviswidget jarviswidget-color-green" id="wid-id-3" data-widget-editbutton="false"  data-widget-deletebutton="false" data-widget-colorbutton="false" >
				<header>
					<span class="widget-icon"> <i class="fa fa-eye"></i> </span>
					<% if @person.tipo == "C" %>
						<h2>Ver Cliente</h2>  
					<% else %>
						<h2>Ver Dueño</h2>  
					<% end %>
				</header>
				
				<!-- widget div-->
				<div>
					<!-- widget edit box -->
				<div class="jarviswidget-editbox">
						<!-- This area used as dropdown edit box -->
				</div>
					<!-- end widget edit box -->
				
					<!-- widget content -->
					<!--<div class="widget-body no-padding">	-->	
						<fieldset>          	
							<!-- widget div-->
							<div>
								<!-- widget edit box -->
								<div class="jarviswidget-editbox">
									<!-- This area used as dropdown edit box -->
								</div>
								<!-- end widget edit box -->
					
								<!-- widget content -->
								<div class="widget-body no-padding">
									<form class="smart-form">
										<header>
											<label class="label">Nombre</label>
											<label class="input">
												<%= @person.nombres %>&nbsp;   
												<%= @person.segundo_nom %>, 
												<%= @person.apellidos %> &nbsp;
												<%= @person.segundo_ape %>
											</label>
										</header>
										<fieldset>
											<section>
												<label class="label">País documento</label>
												<label class="input">
													<% @nationality = Nationality.find_by(:codigo =>@person.pais_origen_doc) %>
													<%= @nationality.nombre if @nationality %>
												</label>
											</section>	
												
											<section>
												<label class="label">Tipo documento</label>
												<label class="input">
													<%= @person.document_type.nombre if @person.document_type %>
												</label>
											</section>
											<section>
												<label class="label">Documento</label>
												<label class="input">
													<%= @person.documento %>
												</label>
											</section>
											<section>
												<label class="label">Fecha Nacimiento</label>
												<label class="input">
													<%= @person.fecha_nac %>
												</label>
											</section>
											<section>
												<label class="label">Sexo</label>
												<label class="input">
													<%= @person.sexo %>
												</label>
											</section>
											<section>
												<label class="label">Nacionalidad</label>
												<label class="input">
													<%= @person.nationality.nombre  if @person.nationality %>
												</label>
											</section>
											<section>
												<label class="label">País residencia</label>
												<label class="input">
													<% @nationality = Nationality.find_by(:codigo => @person.pais_residencia) %>
													<%= @nationality.nombre if @nationality %>
												</label>
											</section>
											<section>
												<label class="label">Domicilio</label>
												<label class="input">
													<%= @person.domicilio %>, <%= @person.ciudad %>
												</label>
											</section>	
											
											<section>
												<label class="label">Matricula Coche</label>
												<label class="input">
													<%= @person.matricula_coche %>
												</label>
											</section>
											
											<% if @person.cuenta_banco %>
											<section>
												<label class="label">Cuenta Bancaria</label>
												<label class="input">
													<%= @person.cuenta_banco %>
												</label>
											</section>
											<% end %>
											
											<section>
												<label class="label">Telefonos</label>
												<% if @person.phones.any? %>
													<% @person.phones.each do |phone| %>
													<label class="input">
														<%= phone.descripcion %> - <%= phone.numero%> 
													</label>
													<% end %>
												<% else %>
													<p>No hay telefonos</p>
												<% end %>
											</section>
											
											<section>
												<label class="label">Emails</label>
												<% if @person.emails.any? %>
													<% @person.emails.each do |email| %>
													<label class="input">
														<%= email.descripcion %> - <%= email.email%> 
													</label>
													<% end %>
												<% else %>
													<p>No hay Emails</p>
												<% end %>
											</section>
										</fieldset>
										<footer>
										 	<div>
								               <%= link_to 'Volver', clientes_path, class: 'btn btn-default' if @person.tipo == 'C' %>
								               <%= link_to 'Volver', people_path, class: 'btn btn-default' if @person.tipo == 'D' %>
								            </div>
										</footer>
									</form>
								</div>
							</div>
						</fieldset>
				<!--	</div>-->
				</div>
			</div>	
        </article>
      <!-- WIDGET END -->
    </div>
    <!-- end row -->   
 </section>
  <!-- end widget grid -->
</div>



