<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Bienvenido a CodeHero.co, </h1>
    <p>
      Tu correo ha sido enviado satisfactoriamente y su identificador es:
      .<br/>
    </p>
    <p>
      Recuerda visitarnos en: 
    </p>
    <p>Te recomiendo echarle un vistazo a la serie completa de Ruby on Rails desde cero, así como a las otras series de CodeHero, agradeciendo de antemano todas sus dudas y comentarios en la sección de comentarios.</p>
    <p>¡Hasta el próximo capítulo!</p>
  </body>
</html>