<script>
    function verD2() {
        var tipo = $(cottage_tipo).val(); 
        if (tipo=='P'){
          $("#section_person").css({'display':'none'});
          $("#cottage_person_id").val("0"); 
          $('#cottage_person_id > option[value=""]').attr('selected', 'selected');
        }else {
          $("#section_person").css('display','block');
        }
    }
    window.onload= verD2;
</script>

    <!-- Widget ID (each widget will need unique ID)-->
    <div class="jarviswidget jarviswidget-color-green" id="wid-id-3" data-widget-editbutton="false"  data-widget-deletebutton="false" data-widget-colorbutton="false" >
   
    <header>
      <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
      <h2>Casa</h2>  
    </header>
  
    <!-- widget div-->
    <div>
  
      <!-- widget edit box -->
      <div class="jarviswidget-editbox">
        <!-- This area used as dropdown edit box -->
  
      </div>
      <!-- end widget edit box -->
  
      <!-- widget content -->
      <div class="widget-body no-padding" >
  
        <%= form_for(@cottage, html:{:class => 'smart-form'}) do |f| %>
            <% if @cottage.errors.any? %>
              <div id="error_explanation">
                <h2><%= pluralize(@cottage.errors.count, "error") %> prohibited this identity from being saved:</h2>          
                <ul>
                <% @cottage.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
                </ul>
              </div>
            <% end %>
          
  
          <fieldset>          
            
            <section>
              <label>Nombre</label>
              <label class="input"> <i class="icon-append fa fa-home"></i>
                <%= f.text_field :nombre, placeholder: 'Nombre', required: true %>     
              </label>
            </section>
  
            <section>
              <label>Capacidad</label>
              <label class="input"> <i class="icon-append fa fa-group"></i>                
                <%= f.text_field :capacidad,  placeholder: 'Capacidad', required: true %>
              </label>
            </section>
          
            <section>
              <label>Descripción</label>
              <label class="input"> <i class="icon-append fa fa-comment"></i>               
                   <%= f.text_field :descripcion, placeholder: 'Descripción', required: true %>
              </label>
            </section>
           
            <section>
              <label class="input"> Tipo de casa
                <%= f.select :tipo, [['Propia', 'P'], ['Dueño', 'D']],{:include_blank => "Seleccionar tipo..."}, :onchange => 'verD2();',
                placeholder: 'Tipo', required: true, class:"form-control"  %>     
              </label>
            </section>
            
            <section id="section_person" style="display:none" >
              <label class="input" for="">Dueño</label>
              <%= f.collection_select  :person_id, Person.where(:tipo => "D"), :id, :nom_ape, { :include_blank => "Seleccionar dueño..."}, {:class=>'form-control'}  %>
				      
            </section>
        
            
          </fieldset>
  
          <footer>
            <%= f.submit 'Confirmar', class:'btn btn-success'   %>  
            <div>
               <%= link_to 'Volver', cottages_path, class: 'btn btn-default'  %>
            </div>
          </footer>
        <% end %>
  
      </div>
      <!-- end widget content -->
  
    </div>
    <!-- end widget div -->
  
  </div>
  <!-- end widget -->

