
<% content_for :ribbon do %>
	<div id="ribbon">
		<span class="ribbon-button-alignment">
			<span id="refresh" class="btn btn-ribbon" data-action="resetWidgets" data-title="refresh"  rel="tooltip" data-placement="bottom" data-original-title="<i class='text-warning fa fa-warning'></i> Warning! This will reset all your widget settings." data-html="true">
				<i class="fa fa-refresh"></i>
			</span>
		</span>
		<ol class="breadcrumb">
			<li><%= link_to 'Inicio', root_path %></li>
			<li>Calendario</li>
		</ol>
	</div>
<% end %>

<div id="content">
	<section id="widget-grid" class="">
	  	<div class="row">
	   		<section class="col-sm-12 col-md-12 col-lg-10">
	        	<div class="jarviswidget jarviswidget-color-green" id="wid-id-0" data-widget-editbutton="false"  data-widget-deletebutton="false" data-widget-colorbutton="false">
	  
		        	<header>
		            	<span class="widget-icon"> <i class="fa fa-calendar"></i> </span>
		            	<h2> Calendario reservas </h2>
		            	<div class="widget-toolbar">
		              	<!-- add: non-hidden - to disable auto hide -->
		            	</div>
		          	</header>
	  
	              	<div>
		            	<div class="widget-body no-padding">
							<div id="br">
								<br/>
								<br/>
		            			<div id="calendar">
		                
		          				</div>  
			
			              	</div>
		              	</div>
		            </div>
	      		</div>
	       	</section>
	         
	        <section class="col-sm-12 col-md-12 col-lg-2">
	  			<div class="form-group">
		        	<strong>Estado de Alquiler</strong>
		          	<div class="row">
		            	<label class="btn bg-color-green "></label>  Ingresada
		            </div>
		            <div class="row">
		            	<label class="btn bg-color-blue "></label>  Confirmada
		            </div>
		            <div class="row">
		            	<label class="btn bg-color-orange "></label>  En Curso
		            </div>
		            <div class="row">
		            	<label class="btn bg-color-red "></label>  Cancelada
		            </div>
		            <div class="row">
		            	<label class="btn bg-color-darken "></label>  Finalizada
		            </div>
		        </div>
		     </section>
	    </div>
	</section>
</div>

<%= render 'extras/modalAltaAlquiler' %>
<%= render 'extras/alertaCalendario' %>

<div id = "desc_dialog" class="dialog" style="display:none;">
  <div id = "rental_edit">
  </div>
</div>
 
<% content_for :scripts do %>
	<!--<link href='https://cdn.rawgit.com/bilygates/estilosonline/master/fullcalendar.min' rel='stylesheet' />
	<link href='https://cdn.rawgit.com/bilygates/estilosonline/master/scheduler.min' rel='stylesheet' />
	
	<script src='https://cdn.rawgit.com/bilygates/estilosonline/master/fullcalendar.min.js'></script>
	<script src='https://cdn.rawgit.com/bilygates/estilosonline/master/moment.min.js'></script>
	<script src='https://cdn.rawgit.com/bilygates/estilosonline/master/scheduler.min.js'></script>-->

	
	<link href='./assets/fullcalendar.min.css' rel='stylesheet' />
	<link href='./assets/fullcalendar.print.css' rel='stylesheet' media='print' />
	<link href='./assets/scheduler.min.css' rel='stylesheet' />


    <script src='./assets/plugin/fullcalendar/moment.min.js' dataType: 'jsonp'></script>
    <script src='./assets/plugin/fullcalendar/fullcalendar.min.js' dataType: 'jsonp'></script>
    <script src='./assets/plugin/fullcalendar/scheduler.min.js' dataType: 'jsonp'></script>
	
	
<!--	<link href='https://fullcalendar.io/js/fullcalendar-scheduler-1.4.0/lib/fullcalendar.min.css' rel='stylesheet' />
	<link href='https://fullcalendar.io/js/fullcalendar-scheduler-1.4.0/lib/fullcalendar.print.css' rel='stylesheet' media='print' />
	<link href='https://fullcalendar.io/js/fullcalendar-scheduler-1.4.0/scheduler.min.css' rel='stylesheet' />


    <script src='https://fullcalendar.io/js/fullcalendar-scheduler-1.4.0/lib/moment.min.js'></script>
    <script src='https://fullcalendar.io/js/fullcalendar-scheduler-1.4.0/lib/fullcalendar.min.js'></script>
    <script src='https://fullcalendar.io/js/fullcalendar-scheduler-1.4.0/scheduler.min.js'></script>-->
	
    <script type="text/javascript">

	$(function() { // document ready
		$('#calendar').fullCalendar({
			now: '<%= Time.now %>',
			schedulerLicenseKey: 'GPL-My-Project-Is-Open-Source',
			editable: false,
			aspectRatio: 1.8,
			scrollTime: '00:00',
			header: {
				left: 'promptResource',
				center: 'title',
			},
			customButtons: {
				promptResource: {
					text: '+ Alquiler',
					click: function() {
						$('#myModal').modal('toggle');
					}
				}
			},
			defaultView: 'timelineMonth',
			views: {
				timelineDay: {
					buttonText: ':15 slots',
					slotDuration: '00:15'
				},
				timelineTenDay: {
					type: 'timeline',
					duration: { days: 10 }
				}
			},
			resourceAreaWidth: '25%',
			resourceLabelText: 'Casas',
			resources: [
				<% @cottages.each do |cottage| %>
					{ 	id: '<%= cottage.id %>' ,
						title: '<%= cottage.nombre %>' },
				<% end %>
			],
			events: [
				<% @rentals.each do |rental| %>
				 	<% if rental.cottage %>
						{ id: '<%= rental.id %>', resourceId: '<%= rental.cottage_id %>', start: '<%= rental.fechadesde %>', end: '<%= rental.fecha_entrega %>', title: '<%= rental.person.nombres %> <%= rental.person.apellidos %>', url: '',
						<% if rental.ingresada? %>
							className: ["event", "bg-color-green"],
						<% elsif rental.confirmada?  %> 
								className: ["event", "bg-color-blue"],
						<% elsif rental.encurso?  %> 
								className: ["event", "bg-color-orange"],
						<% elsif rental.cancelada?  %>
								className: ["event", "bg-color-red"],
						<% elsif rental.finalizada?  %>
								className: ["event", "bg-color-darken"],
						<% end %>
						},
					<% end %>
				<% end %>
			],
			eventRender: function(event, element) {
				element.attr('href', 'javascript:void(0);');
		        element.click(function() {
					<% @rentals.each do |rental| %>
						var id = event.id;
						var idr = '<%= rental.id %>';
						if (id==idr){
							
							var casa_nombre = '<%= rental.cottage.nombre if rental.cottage %>';
							var persona = '<%= rental.person.nombres if rental.person %>, <%= rental.person.apellidos if rental.person %>';
							var fechadesde = '<%= rental.fechadesde if rental.fechadesde %>';
							var fechahasta = '<%= rental.fechahasta if rental.fechahasta %>';
						    var horadesde= '<%= rental.hora_entrada.to_formatted_s(:time) if rental.hora_entrada %>';
						    var horahasta= '<%= rental.hora_entrega.to_formatted_s(:time) if rental.hora_entrega %>';
						    var fechaentrega = '<%= rental.fecha_entrega if rental.fecha_entrega %>';
						    var estado ='<%= rental.estado %>';
						    var pago_luz = '<%= rental.pago_luz %>';
						    var total_luz = '<%= rental.total_luz %>';
						    var total_luz_char = total_luz.toString();
						   
							$('#casa_nombre').val(casa_nombre);
							$('#persona').val(persona);
							$('#fechadesde').val(fechadesde);
							$('#horadesde').val(horadesde);
							$('#horahasta').val(horahasta);
							$('#fechahasta').val(fechahasta);
							$('#fechaentrega').val(fechaentrega);
							if (pago_luz == 'S'){
								 $('#luz_ingreso').val('$ '+ total_luz_char);
							}
								
						
							$("#btn_cancelar").attr('onClick', "cancelar("+idr+");");
						
						    <% rental.person.phones.each do |phone| %>
						    	var p = '<%= phone.numero %>';	
						    	$('#tel1').val(p);
						    <% end %>
						    <% rental.person.emails.each do |email| %>
						    	var e = '<%= email.email %>';	
						    	$('#email').val(e);
						    <% end %>
			
						    $("#btn_ingreso").attr('href', "/ingresopdf/"+idr);
						    $("#btn_ingreso").attr('target', "_blank");
							$("#btn_ingreso").attr('onClick', "window.location.reload(true);");
						
						    $("#btn_finalizar").attr('onClick', "finalizar("+idr+");");
						   
						    $("#btn_confirmar").attr('onClick', "pagar("+idr+");");
						    if (pago_luz == 'S'){
						    	$("#btn_luz").css({'display':'none'});
						    }else{
						    	$("#btn_luz").css({'display':'block'});
						    }
						    $("#btn_luz").attr('onClick', "pagarLuz("+idr+");");
						    
						    $('#ModalDatC').modal('toggle');
							
						}
					<% end %>
		        });
    		},
			
    		
		});
	
	});


	function finalizar(idr){
		jQuery.ajax({
	        data: 'id=' + idr + ', commit= Fin',
	        dataType: "json",
	        //dataType: 'script',
	        type: 'post',
	        url: "/rentals/finalizar",
	        success:function(data) {
	        	if (data.errors) {
			      swal("Error", "No se pudo finalizar. Se permite finalizar si el alquiler esta En Curso o Confirmada.", "error");
			    } else {
			      	swal("Ok", "Finalizada correctamente", "success")
		        	window.location.reload(true);
			    }
	      	}
	    });
	   
	}

	function cancelar(idr){
		jQuery.ajax({
	        data: {"id" : idr, "commit" : "Cancel"},
	        dataType: 'json',
	        type: 'post',
	        url: "/rentals/cancelar",
	        success:function(data) {
	        	if (data.errors) {
			      swal("Error", "No se pudo cancelar. Se permite cancelar si el alquiler esta Ingresado, En Curso o Confirmado.", "error");
			    } else {
			      	swal("Ok", "Cancelada correctamente", "success")
		        	window.location.reload(true);
			    }
		    
	      	}
	    });
	    
	}
	function pagar(idr){
		var importe = 0;
	   jQuery.ajax({
	      url: "/incomes/modal_new/?idr="+ idr + "&importe="+ importe,
	      success: function(data) {
	        $('#rental_edit').html(data['form']);
	        $('#desc_dialog').dialog({
		        title: 'Pagar',
		        modal: true,
		        width: 500,
		        close: function(event, ui){
		            $('#desc_dialog').dialog('destroy')
		        }
		        
		    });
	      } 
	    });
	    
	}
	
	function pagarLuz(idr){
		var importe = 0;
	   jQuery.ajax({
	      url: "/rentals/modal_luz/?idr="+ idr + "&importe="+ importe,
	      success: function(data) {
	        $('#rental_edit').html(data['form']);
	        $('#desc_dialog').dialog({
		        title: 'Pagar',
		        modal: true,
		        width: 500,
		        close: function(event, ui){
		            $('#desc_dialog').dialog('destroy')
		        }
		        
		    });
	      } 
	    });
	    
	}
    </script>

<% end %>

<style>
	#calendar {
		max-width: 900px;
		margin: 10px;
	}
	table td[class*="col-"], table th[class*="col-"] {
    	position: static;
    	float: none;
    
	}

</style>





