

<% content_for :ribbon do %>
	<div id="ribbon">
		<span class="ribbon-button-alignment">
			<span id="refresh" class="btn btn-ribbon" data-action="resetWidgets" data-title="refresh"  rel="tooltip" data-placement="bottom" data-original-title="<i class='text-warning fa fa-warning'></i> Warning! This will reset all your widget settings." data-html="true">
				<i class="fa fa-refresh"></i>
			</span>
		</span>
		<ol class="breadcrumb">
			<li><%= link_to 'Inicio', root_path %></li>
			<li><%= link_to 'Casas', cottages_path %></li>
			<li>Calendario por Casa</li>
		</ol>
	</div>
<% end %>

 

<body>
  <div id="content">
    <div class="row">
      <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
        <h1 class="page-title txt-color-blueDark"><i class="fa fa-calendar fa-fw "></i>
          Calendario
        </h1>
      </div>
      
    </div>
    <!-- row -->
  
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-9">
        <!-- new widget -->
        <div class="jarviswidget jarviswidget-color-green"  >
  
          <header>
            <span class="widget-icon"> <i class="fa fa-calendar"></i> </span>
            <h2> Calendario por casa </h2>
            <div class="widget-toolbar">
              <!-- add: non-hidden - to disable auto hide -->
            </div>
          </header>
  
          <!-- widget div-->
          <div>
  
            <div class="widget-body no-padding">
              <!-- content goes here -->
              <div class="widget-body-toolbar">
  
                <div id="calendar-buttons">
  
                  <div class="btn-group">
                    <a href="javascript:void(0)" class="btn btn-default btn-xs" id="btn-prev"><i class="fa fa-chevron-left"></i></a>
                    <a href="javascript:void(0)" class="btn btn-default btn-xs" id="btn-next"><i class="fa fa-chevron-right"></i></a>
                  </div>
                </div>
              </div>
              <div id="calendar"></div>
  
              <!-- end content -->
            </div>

          </div>
          <!-- end widget div -->
          <button type="button" class="btn btn-default" onclick="window.history.back();">
            Volver
          </button>
        </div>
        <!-- end widget -->
                  
      </div>
  
    </div>
  
    <!-- end row -->
  
  </div>
<!-- END MAIN CONTENT -->
</body>

<% content_for :scripts do %>

  <script type="text/javascript">

    // DO NOT REMOVE : GLOBAL FUNCTIONS!

    $(document).ready(function() {

      pageSetUp();


      "use strict";

      var date = new Date();
      var d = date.getDate();
      var m = date.getMonth();
      var y = date.getFullYear();

      var hdr = {
        left: 'title',
        center: 'month,agendaWeek,agendaDay',
        right: 'prev,today,next'
      };

      var initDrag = function (e) {
        // create an Event Object (http://arshaw.com/fullcalendar/docs/event_data/Event_Object/)
        // it doesn't need to have a start or end

        var eventObject = {
          title: $.trim(e.children().text()), // use the element's text as the event title
          description: $.trim(e.children('span').attr('data-description')),
          icon: $.trim(e.children('span').attr('data-icon')),
          className: $.trim(e.children('span').attr('class')) // use the element's children as the event class
        };
        // store the Event Object in the DOM element so we can get to it later
        e.data('eventObject', eventObject);

        // make the event draggable using jQuery UI
        e.draggable({
          zIndex: 999,
          revert: true, // will cause the event to go back to its
          revertDuration: 0 //  original position after the drag
        });
      };

      var addEvent = function (title, priority, description, icon) {
        title = title.length === 0 ? "Untitled Event" : title;
        description = description.length === 0 ? "No Description" : description;
        icon = icon.length === 0 ? " " : icon;
        priority = priority.length === 0 ? "label label-default" : priority;

        var html = $('<li><span class="' + priority + '" data-description="' + description + '" data-icon="' +
        icon + '">' + title + '</span></li>').prependTo('ul#external-events').hide().fadeIn();

        $("#event-container").effect("highlight", 800);

        initDrag(html);
      };

      /* initialize the external events
       -----------------------------------------------------------------*/

      $('#external-events > li').each(function () {
        initDrag($(this));
      });

      $('#add-event').click(function () {
        var title = $('#title').val(),
          priority = $('input:radio[name=priority]:checked').val(),
          description = $('#description').val(),
          icon = $('input:radio[name=iconselect]:checked').val();

        addEvent(title, priority, description, icon);
      });

      /* initialize the calendar
       -----------------------------------------------------------------*/

      $('#calendar').fullCalendar({
        
          resourceOrder: '-type1,type2',
          resources: [
              {
                  id: 'A',
                  title: 'Resource A',
                  type1: 10,
                  type2: 55
              },
              {
                  id: 'B',
                  title: 'Resource B',
                  type1: 12,
                  type2: 60
              },
              {
                  id: 'C',
                  title: 'Resource C',
                  type1: 12,
                  type2: 50
              }
          ],
      
        header: hdr,
        editable: false,
        droppable: false, // this allows things to be dropped onto the calendar !!!
        locale: 'es',


        drop: function (date, allDay) { // this function is called when something is dropped

          // retrieve the dropped element's stored Event Object
          var originalEventObject = $(this).data('eventObject');

          // we need to copy it, so that multiple events don't have a reference to the same object
          var copiedEventObject = $.extend({}, originalEventObject);

          // assign it the date that was reported
          copiedEventObject.start = date;
          copiedEventObject.allDay = allDay;

          // render the event on the calendar
          // the last `true` argument determines if the event "sticks" (http://arshaw.com/fullcalendar/docs/event_rendering/renderEvent/)
          $('#calendar').fullCalendar('renderEvent', copiedEventObject, true);

          // is the "remove after drop" checkbox checked?
          if ($('#drop-remove').is(':checked')) {
            // if so, remove the element from the "Draggable Events" list
            $(this).remove();
          }

        },

        
        select: function (start, end, allDay) {
          var title = prompt('Event Title:');
          if (title) {
            calendar.fullCalendar('renderEvent', {
                title: title,
                start: start,
                end: end,
                allDay: allDay
              }, true // make the event "stick"
            );
          }
          calendar.fullCalendar('unselect');
        },
        
        events: [
          <% @rentals.each do |rental| %>
            {
              id: '<%= rental.id %>',
            <% if rental.ingresada? %>
             
              title: 'Ingresada - <%= rental.person.nombres %> <%= rental.person.apellidos %>' ,
              <% if Time.now >= rental.fechadesde %>
                icon: 'fa-warning',
                className: ["event", "bg-color-green"],
              <% else %>
                icon: 'fa-square-o',
                className: ["event", "bg-color-green"],
              <% end %>
            <% elsif rental.confirmada?  %> 
              title: 'Confirmada - <%= rental.person.nombres %> <%= rental.person.apellidos %>',
              <% if Time.now >= rental.fechadesde %>
                icon: 'fa-warning',
                className: ["event", "bg-color-blue"],
              <% else %>
                icon: 'fa-check-square-o',
                className: ["event", "bg-color-blue"],
              <% end %>
            <% elsif rental.encurso?  %> 
              title: 'En Curso - <%= rental.person.nombres %> <%= rental.person.apellidos %>',
              icon: 'fa-clock-o',
              className: ["event", "bg-color-orange"],
            <% elsif rental.cancelada? %>
              title: 'Cancelada - <%= rental.person.nombres %> <%= rental.person.apellidos %>',
              icon: 'fa-minus-square',
              className: ["event", "bg-color-red"],
            <% elsif rental.finalizada? %> 
              title: 'Finalizada - <%= rental.person.nombres %> <%= rental.person.apellidos %>',
              icon: 'fa-square',
              className: ["event", "bg-color-darken"],
            <% end %>

            start: new Date( <%= rental.fechadesde.year %> , <%= rental.fechadesde.month %> -1 , <%= rental.fechadesde.day %>),
            end: new Date(<%= rental.fechahasta.year %> , <%= rental.fechahasta.month %> -1 , <%= rental.fechahasta.day %>),
            description: '<%= rental.descripcion %>',
            allDay: true,
            },
          <% end %>
        ],
        eventClick: function(event) {
  				<% @rentals.each do |rental| %>
  					var id = event.id;
  					var idr = '<%= rental.id %>';
  					if (id==idr){
  						swal({
  						  title: "Datos Alquiler",
  						  text:
  						  '<section align="left">'+
  						  	'<label>Persona: '+ '<%= rental.person.nombres %> , ' +'<%= rental.person.apellidos %>'  +'</label> '+ '</br>' +
  						  '</section>'+
  						  '<section align="left">'+
  						  	'<label>Casa: ' + '<%= rental.cottage.nombre %>' + '</label>'+
  						  '</section>'+
  						  '<section align="left">'+
  						  	'<% rental.person.phones.each do |phone| %> ' +
  						  		'<label>Telefono: '+<%= phone.numero %> +'</label> '+ '</br>' 
  						  	+'<% end %> ' +
  						  '</section>'+
  						  '<section align="left">'+
  						  	'<% if rental.hora_entrega %>'+
  						  		'<label>Hora Entrada: ' + '<%= rental.hora_entrega.to_formatted_s(:time) %>' + '</label>'+
                  '<% else %>'+
                    '<label>Hora Entrada: 00:00</label>'+
                  '<% end %> '+
  						  '</section>'+
  							'<section align="left">'+
  						  	'<label>Fecha Desde: ' + '<%= rental.fechadesde %>' + '</label>'+
  						  '</section>'+
  						  '<section align="left">'+
  						  	'<label>Fecha Hasta: ' + '<%= rental.fechahasta %>' + '</label>'+
  						  '</section>' ,
  						  
  						  animation: "slide-from-top",
  						  html: true
  						});	
  					}
  				<% end %>
      	},
        eventRender: function (event, element, icon) {
          if (!event.description == "") {
            element.find('.fc-title').append("<br/><span class='ultra-light'>" + event.description +
            "</span>");
          }
          if (!event.icon == "") {
            element.find('.fc-title').append("<i class='air air-top-right fa " + event.icon +
            " '></i>");
          }
        },

        windowResize: function (event, ui) {
          $('#calendar').fullCalendar('render');
        }
      });

      /* hide default buttons */
      $('.fc-right, .fc-center').hide();


      $('#calendar-buttons #btn-prev').click(function () {
        $('.fc-prev-button').click();
        return false;
      });

      $('#calendar-buttons #btn-next').click(function () {
        $('.fc-next-button').click();
        return false;
      });

      $('#calendar-buttons #btn-today').click(function () {
        $('.fc-today-button').click();
        return false;
      });

      $('#mt').click(function () {
        $('#calendar').fullCalendar('changeView', 'month');
      });

      $('#ag').click(function () {
        $('#calendar').fullCalendar('changeView', 'agendaWeek');
      });

      $('#td').click(function () {
        $('#calendar').fullCalendar('changeView', 'agendaDay');
      });

    })
    
   </script>
<% end %>


<style>
	#calendar {
		margin:1px;
	}

</style>