<% content_for :ribbon do %>
<!-- RIBBON -->
<div id="ribbon">

  <span class="ribbon-button-alignment">
    <span id="refresh" class="btn btn-ribbon" data-action="resetWidgets" data-title="refresh"  rel="tooltip" data-placement="bottom" data-original-title="<i class='text-warning fa fa-warning'></i> Warning! This will reset all your widget settings." data-html="true">
      <i class="fa fa-refresh"></i>
    </span>
  </span>

  <!-- breadcrumb -->
  <ol class="breadcrumb">
    
  </ol>
  <!-- end breadcrumb -->

  <!-- You can also add more buttons to the
  ribbon for further usability

  Example below:

  <span class="ribbon-button-alignment pull-right">
  <span id="search" class="btn btn-ribbon hidden-xs" data-title="search"><i class="fa-grid"></i> Change Grid</span>
  <span id="add" class="btn btn-ribbon hidden-xs" data-title="add"><i class="fa-plus"></i> Add</span>
  <span id="search" class="btn btn-ribbon" data-title="search"><i class="fa-search"></i> <span class="hidden-mobile">Search</span></span>
  </span> -->

</div>
<!-- END RIBBON -->
<% end %>

<script>
   
    function habilitarLuz(){

        check = document.getElementById("luz");
        if (check.checked){
          $("#miluz").css({'display':'block'});
        }else {
          $("#miluz").css('display','none');
        }
    }
    
    function habilitarIngreso(){

        check = document.getElementById("ingreso");
        if (check.checked){
          $("#ingreso_sect").css({'display':'block'});
        }else {
          $("#ingreso_sect").css('display','none');
          
        }
    }
    
    
    function verGanancia() {
      
        var id = $("#person_rentals_attributes_0_cottage_id").val();
        var tipoc = ''
        
        if (id!=0){
          <% @cottages = Cottage.all %>
          <% @cottages.each do |c|%>
              var idc= '<%= c.id %>';
              if (id == idc){
                tipoc = '<%= c.tipo %>';
              }
          <% end %>
        }

        if (tipoc=='P'){
          $("#gdueno").css({'display':'none'});
          $("#person_rentals_attributes_0_ganancia_dueno").val(""); 
        }else {
          $("#gdueno").css('display','block');
        }

    }

    window.onload= verGanancia();

</script>

<!-- MAIN CONTENT -->
<div id="content">

  <div class="row">
   
  <!-- widget grid -->
  <section id="widget-grid" class="">

    <!-- row -->
    <div class="row">
        <!-- NEW WIDGET START -->
      <article class="col-sm-12 col-md-12 col-lg-12">

        <!-- Widget ID (each widget will need unique ID)-->
        <div class="jarviswidget jarviswidget-color-darken" id="wid-id-0" data-widget-editbutton="false" data-widget-deletebutton="false">
          <!-- widget options:
          usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

          data-widget-colorbutton="false"
          data-widget-editbutton="false"
          data-widget-togglebutton="false"
          data-widget-deletebutton="false"
          data-widget-fullscreenbutton="false"
          data-widget-custombutton="false"
          data-widget-collapsed="true"
          data-widget-sortable="false"

          -->
          <header>
            <span class="widget-icon"> <i class="fa fa-check"></i> </span>
            <h2>Ingreso de Alquiler </h2>

          </header>

          <!-- widget div-->
          <div>

            <!-- widget edit box -->
            <div class="jarviswidget-editbox">
              <!-- This area used as dropdown edit box -->

            </div>
            <!-- end widget edit box -->

            <!-- widget content -->
            <div class="widget-body">

              <div class="row">
                
                
                <%= nested_form_for(@person,html:{ :id=>"wizard-1" }) do |f| %>                 
                  <div id="bootstrap-wizard-1" class="col-sm-12">
                    <div class="form-bootstrapWizard">
                      <ul class="bootstrapWizard form-wizard">
                        <li class="active" data-target="#step1">
                          <a href="#tab1" data-toggle="tab"> <span class="step">1</span> <span class="title">Cliente</span> </a>
                        </li>
                        <li data-target="#step2">
                          <a href="#tab2" data-toggle="tab"> <span class="step">2</span> <span class="title">Alquiler</span> </a>
                        </li>
                        <li data-target="#step3">
                          <a href="#tab3" data-toggle="tab"> <span class="step">3</span> <span class="title">Confirmación</span> </a>
                        </li>
                      </ul>
                      <div class="clearfix"></div>
                    </div>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab1">
                          <br>
                          <h3><strong>Paso 1 </strong> - Cliente</h3>
                          <div class="row">
                            <div class="col-sm-6">
                              <div class="form-group">
                                  <label>Primer Nombre</label>
                                  <%= f.text_field :nombres, class:"form-control" ,placeholder: "Primer Nombre" %> 
                              </div>
                            </div>
                            <div class="col-sm-6">
                              <div class="form-group">
                                  <label>Segundo Nombre</label>
                                  <%= f.text_field :segundo_nom, class:"form-control" ,placeholder: "Segundo Nombre" %> 
                              </div>
                            </div>
                          </div>
                          
                          <div class="row">
                            <div class="col-sm-6">
                              <div class="form-group">
                                  <label>Primer Apellido</label>
                                  <%= f.text_field :apellidos, class:"form-control", placeholder: "Primer Apellido" %>   
                              </div>
                            </div>
                            <div class="col-sm-6">
                              <div class="form-group">
                                  <label>Segundo Apellido</label>
                                  <%= f.text_field :segundo_ape, class:"form-control" ,placeholder: "Segundo Apellido" %> 
                              </div>
                            </div>
                          </div>
                          
                          <div class="row">
                            <div class="col-sm-4">
                              <div class="form-group">
                                  <label>País documento</label>
                                  <%= f.collection_select  :pais_origen_doc, Nationality.all, :codigo, :nombre , { :include_blank => "Seleccionar país documento..."}, {:class=>'form-control'} %> 
                              </div>
                            </div>
                            <div class="col-sm-4">
                              <div class="form-group">
                                  <label>Tipo de Documento</label>
                                  <%= f.collection_select :document_type_id, DocumentType.all, :id, :nombre , { :include_blank => "Seleccionar tipo documento..."}, {:class=>'form-control'} %> 
                              </div>
                            </div>
                            <div class="col-sm-4">
                              <div class="form-group">
                                  <label>Documento</label> 
                                  <%= f.text_field :documento, class:"form-control", placeholder: "Documento"  %>
                              </div>
                            </div>
                          </div>
                          
                          <div class="row">
                            <div class="col-sm-12">
                              <div class="form-group">
                                   <label>Sexo</label> 
                                   <%= f.select :sexo, [['Femenino', 'F'], ['Masculino', 'M']], {:include_blank => "Seleccionar sexo..."},  required: true, class:"form-control"  %>
                              </div>
                            </div>
                          </div>
                          
                          <div class="row">
                            <div class="col-sm-6">
                              <div class="form-group">
                                  <label>Nacionalidad</label>
                                  <%= f.collection_select  :nationality_id, Nationality.all, :id, :nombre , { :include_blank => "Seleccionar nacionalidad..."}, {:class=>'form-control'} %>
                              </div>
                            </div>
                            <div class="col-sm-6">
                              <div class="form-group">
                                  <label>País Residencia</label>
                                  <%= f.collection_select  :pais_residencia, Nationality.all, :codigo, :nombre , { :include_blank => "Seleccionar país de residencia..."}, {:class=>'form-control'} %>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-sm-12">
                              <div class="form-group">
                                   <label>Fecha Nacimiento</label> 
                                  <%= f.date_field :fecha_nac, class:"form-control",placeholder: "Fecha Nacimiento"  %>
                              </div>
                            </div>
                          </div>
                          
                          <div class="row">
                            <div class="col-sm-6">
                              <div class="form-group">
                                   <label>Ciudad</label> 
                                  <%= f.text_field :ciudad, class:"form-control", required: false, placeholder: "Ciudad"  %>
                              </div>
                            </div>
                            <div class="col-sm-6">
                              <div class="form-group">
                                   <label>Domicilio</label> 
                                  <%= f.text_field :domicilio, class:"form-control", placeholder: "Domicilio"  %>
                              </div>
                            </div>
                            
                          </div>
                          
                          <div class="row">
                            <div class="col-sm-12">
                              <div class="form-group">
                                   <label>Matricula coche</label> 
                                  <%= f.text_field :matricula_coche, class:"form-control", placeholder: "Matricula coche"  %>
                              </div>
                            </div>
                          </div>
                          
                          <%= f.hidden_field :tipo %>  
                          
                          <div class="row">
                            <div class="col-sm-6">
                               <section>
                                  <div class="form-group">
                                    <label>Telefonos</label>
                                     <%= f.fields_for :phones do |phone| %>
                                      <label class="input"></i>
                                        <div class="row">
                                          <div class="col-sm-1">
                                            <%= phone.link_to_remove "",class: "btn btn-danger btn-sm fa fa-remove" %>
                                          </div>
                                          <div class="col-sm-4">
                                            <%= phone.text_field :descripcion , placeholder: 'Descripción', required: false,class:"form-control" %>    
                                            
                                          </div>
                                          <div class="col-sm-4">
                                            <%= phone.text_field :numero , placeholder: 'Numero', required: false,class:"form-control" %> 
                                          </div>
                                        </div>
                                      </label>
                                    <% end %>
                                  </div>
                                  <%= f.link_to_add "", :phones, class: "btn btn-info btn-sm fa fa-plus" %>
                               </section>
                            </div>
                            
                            <div class="col-sm-6">
                              <section>
                                  <div class="form-group">
                                    <label>Emails</label>
                                     <%= f.fields_for :emails do |email| %>
                                      <label class="input"></i>
                                        <div class="row">
                                          <div class="col-sm-1">
                                            <%= email.link_to_remove "",class: "btn btn-danger btn-sm fa fa-remove" %>
                                          </div>
                                          <div class="col-sm-4">
                                            <%= email.text_field :descripcion , placeholder: 'Descripción', required: false,class:"form-control" %>    
                                            
                                          </div>
                                          <div class="col-sm-4">
                                            <%= email.text_field :email , placeholder: 'Email', required: false,class:"form-control" %> 
                                          </div>
                                        </div>
                                      </label>
                                    <% end %>
                                  </div>
                                  <%= f.link_to_add "", :emails, class: "btn btn-info btn-sm fa fa-plus" %>
                               </section>
                            </div>
                            
                          </div>
                          
                        </div>
                       
                     
                        <div class="tab-pane" id="tab2">
                          <br>
                          <h3><strong>Paso 2</strong> - Alquiler</h3>
                                 
                          <%= f.fields_for :rentals do |rental| %>
                            <div class="row">
                              <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Casa</label>
                                    <%= rental.collection_select :cottage_id, Cottage.all, :id, :nombre, { :include_blank => "Seleccionar casa..."}, {:class=>'form-control',:onchange => 'verGanancia();', :required => true} %> 
                                </div>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Fecha Desde</label>
                                    <%= rental.date_field :fechadesde, class:"form-control", placeholder: "Fecha Desde"%>   
                                </div>
                              </div>
                              <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Fecha Hasta</label>
                                    <%= rental.date_field :fechahasta, class:"form-control", placeholder: "Fecha Hasta"%>   
                                </div>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Fecha Entrega</label>
                                    <%= rental.date_field :fecha_entrega, class:"form-control", placeholder: "Fecha Entrega"%>   
                                </div>
                              </div>
                              <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Hora Entrega</label>
                                    <%= rental.time_field :hora_entrega, class:"form-control", placeholder: "Hora Entrega"%>   
                                </div>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Valor/Día</label>
                                    <%= rental.number_field :valordia, class:"form-control", placeholder: "Valor/Día"%>   
                                </div>
                              </div>
                              <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Costo Total</label>
                                    <%= rental.number_field :costo_total, class:"form-control", placeholder: "Costo total"%>   
                                </div>
                              </div>
                              <section id="gdueno" style="display: none;">
                                <div class="col-sm-4">
                                  <div class="form-group">
                                      <label>Ganancia Dueño</label>
                                      <%= rental.number_field :ganancia_dueno, class:"form-control", placeholder: "Ganancia Dueño"%>   
                                  </div>
                                </div>
                              </section>
                            </div>
                            
                            <div class="row">
                              <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Cant. Acompañantes</label>
                                    <%= rental.number_field :cant_acomp, class:"form-control", placeholder: "Cant. Acompañantes"%>   
                                </div>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Descripción</label>
                                    <%= rental.text_field :descripcion, class:"form-control", placeholder: "Descripción"%>   
                                </div>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Transporte</label>
                                    <%= rental.text_field :transporte, class:"form-control", placeholder: "Transporte"%>   
                                </div>
                              </div>
                            </div>
                            
                            <section>
                              <label>Paga Luz?</label>   
                              <%=check_box_tag('luz', '1', false, {:onchange => 'habilitarLuz();'}) %>
                            </section>
                              </br>
                            <section id="miluz" style="display: none;">
                               <h3>Datos Luz</h3>
                              <div class="row">
                                <div class="col-sm-6">
                                  <div class="form-group">
                                      <label>Medidor KW Ingreso</label>
                                      <%= rental.number_field :medidoringreso, class:"form-control", placeholder: "Medidor KW Ingreso"%>   
                                  </div>
                                </div>
                                <div class="col-sm-6">
                                  <div class="form-group">
                                      <label>Precio/KW</label>
                                     <%= rental.number_field :valorkw, class:"form-control", placeholder: "Precio/KW"%>    
                                  </div>
                                </div>
                              </div>
                            </section>
                            
                            <section>
                              <label>Realiza Ingreso?</label>   
                              <%=check_box_tag('ingreso', '1', false, {:onchange => 'habilitarIngreso();'}) %>
                            </section>
                            </br>
                            <section id="ingreso_sect" style="display: none;">
                              <h3>Ingresos</h3>
                              <%= rental.fields_for :incomes do |income| %>
                                  <div class="row">
                                    <div class="col-sm-6">
                                      <div class="form-group">
                                          <label>Fecha</label>
                                          <%= income.date_field :fecha, class:"form-control", placeholder: "Fecha", required: true%>   
                                      </div>
                                    </div>
                                  </div>
                                  <div class="row">
                                    <div class="col-sm-6">
                                      <div class="form-group">
                                          <label>Tipo</label>
                                          <%= income.select :tipo, [['Giro', 'G'], ['Efectivo', 'E']], {:include_blank => "Seleccionar tipo..."},  required: true, class:"form-control"  %>  
                                      </div>
                                    </div>
                                  </div>
                                  <div class="row">
                                    <div class="col-sm-6">
                                      <div class="form-group">
                                          <label>Importe</label>
                                          <%= income.number_field :importe,placeholder: 'Importe', data: { rule_menorRestante: "true"},class:"form-control",  required: true   %> 
                                      </div>
                                    </div>
                                  </div>
                              <% end %>
                            </section>
                          <% end %>  
                            
                         
                        </div>
                      
                        <div class="tab-pane" id="tab3">
                          <br>
                          <h3><strong>Paso 3</strong> - Confirmación</h3>
                          <br>
                          <h1 class="text-center text-success"><strong><i class="fa fa-check fa-lg"></i> Completo</strong></h1>
                         
                          <br>
                          <br>
                          
                        </div>
                        <div class="modal fade" id="completeModal" tabindex="-1" role="dialog">
                            <div class="modal-dialog modal-sm">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <h4 class="modal-title">Confirmación</h4>
                                    </div>
                        
                                    <div class="modal-body">
                                        <p class="text-center">El alquiler esta completo</p>
                                    </div>
                        
                                    <div class="modal-footer">
                                       <%= f.submit 'Finalizar', class:"btn btn-success text-center" %>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-actions">
                          <div class="row">
                            <div class="col-sm-12">
                              <ul class="pager wizard no-margin">
                               
                                <li class="previous disabled">
                                  <a href="javascript:void(0);" class="btn btn-lg btn-default"> Anterior </a>
                                </li>
                               
                                <li class="next" id="next1">
                                  <a href="javascript:void(0);" class="btn btn-lg txt-color-darken"> Siguiente </a>
                                  
                                </li>
                                
                              </ul>
                            </div>
                          </div>
                        </div>
                    </div>
                  </div>
                <% end %>
              </div>

            </div>
            <!-- end widget content -->

          </div>
          <!-- end widget div -->

        </div>
        <!-- end widget -->

      </article>
      <!-- WIDGET END -->
      
        
    </div>

    <!-- end row -->

  </section>
  <!-- end widget grid -->

</div>
<!-- END MAIN CONTENT -->


<% content_for :scripts do %>
  <script type="text/javascript">

    // DO NOT REMOVE : GLOBAL FUNCTIONS!

    $(document).ready(function() {
      
      pageSetUp();

      $("#person_rentals_attributes_0_valordia").keyup(function(){
  
        var start = $("#person_rentals_attributes_0_fechadesde").val();
        var end = $("#person_rentals_attributes_0_fechahasta").val();
        
        inicial = start.split("-");
	    	final   = end.split("-");
	    	
	    	var dateStart = new Date(inicial[0],inicial[1],inicial[2]);
        var dateEnd   = new Date(final[0],final[1],final[2]);
        
        var days = (dateEnd - dateStart)/1000/60/60/24
        
        val = $("#person_rentals_attributes_0_valordia").val() * days;
        $("#person_rentals_attributes_0_costo_total").val(val);
      });


      
      $.validator.addMethod("menorRestante", function(value, element) {
          var total = $("#person_rentals_attributes_0_costo_total").val();
          var importe = Number(value)
          return total >= importe
      });
      //Bootstrap Wizard Validations

      var $validator = $("#wizard-1").validate({

        rules: {
          "person[nombres]": {
            required: true,
          },
          "person[apellidos]": {
            required: true
          },
          "person[document_type_id]": {
            required: true
          },
          "person[nationality_id]": {
            required: true
          },
          "person[documento]": {
            required: true
          },
          "person[fecha_nac]": {
            required: true
          },
          "person[sexo]": {
            required: true
          },
          "person[pais_origen_doc]": {
            required: true
          },
          "person[pais_residencia]": {
            required: true
          },
          "person[rentals_attributes][0][fechadesde]": {
            required: true
          },
          "person[rentals_attributes][0][fechahasta]": {
            required: true
          },
          "person[rentals_attributes][0][valordia]": {
            required: true
          },
          "person[rentals_attributes][0][cant_acomp]": {
            required: true
          },
          "person[cottage_id]": {
            required: true
          },
          "person[rentals_attributes][0][incomes_attributes][0][importe]": {
            required: true,
          },
          "person[rentals_attributes][0][incomes_attributes][0][tipo]": {
            required: true
          },
          "person[rentals_attributes][0][incomes_attributes][0][importe]": {
            required: true,
            min: 1,
            
          }
        },

        messages: {
          "person[nombres]": "Por favor ingrese los nombres",
          "person[apellidos]": "Por favor ingrese los apellidos",
          "person[document_type_id]": "Por favor seleccione el tipo de documento",
          "person[nationality_id]": "Por favor seleccione la nacionalidad",
          "person[documento]": "Por favor ingrese el documento",
          "person[fecha_nac]": "Por favor ingrese la fecha de nacimiento",
          "person[sexo]": "Por favor seleccione el sexo",
          "person[pais_origen_doc]": "Por favor seleccione el país del documento",
          "person[pais_residencia]": "Por favor seleccione el país de residencia",
          "person[rentals_attributes][0][cottage_id]": {
            required: "Por favor seleccione la casa"
          },
          "person[rentals_attributes][0][fechadesde]": {
            required: "Por favor ingrese la fecha desde",
          },
          "person[rentals_attributes][0][fechahasta]": {
            required: "Por favor ingrese la fecha hasta",
          },
          "person[rentals_attributes][0][fecha_entrega]": {
            required: "Por favor ingrese la fecha de entrega",
          },
          "person[rentals_attributes][0][hora_entrega]": {
            required: "Por favor ingrese la hora de entrega",
          },
          "person[rentals_attributes][0][valordia]": {
            required: "Por favor ingrese el valor por día",
          },
           "person[rentals_attributes][0][costo_total]": {
            required: "Por favor ingrese el costo total",
          },
          "person[rentals_attributes][0][cant_acomp]": {
            required: "Por favor ingrese la cantidad de acompañantes",
          },
          "person[rentals_attributes][0][incomes_attributes][0][fecha]": {
            required: "Por favor ingrese la fecha"
          },
          "person[rentals_attributes][0][incomes_attributes][0][tipo]": {
            required: "Por favor seleccione el tipo"
          },
          "person[rentals_attributes][0][incomes_attributes][0][importe]": {
            required: "Por favor ingrese el importe",
            menorRestante: "El importe debe ser igual o menor al costo total.",
            min:"El importe debe ser mayor a 0"  
          }
        },

        highlight: function (element) {
          $(element).closest('.form-group').removeClass('has-success').addClass('has-error');
        },
        unhighlight: function (element) {
          $(element).closest('.form-group').removeClass('has-error').addClass('has-success');
        },
        errorElement: 'span',
        errorClass: 'help-block',
        errorPlacement: function (error, element) {
          if (element.parent('.input-group').length) {
            error.insertAfter(element.parent());
          } else {
            error.insertAfter(element);
          }
        }
      });

      $('#bootstrap-wizard-1').bootstrapWizard({
        tabClass: 'form-wizard',
        onTabClick: function(tab, navigation, index) {
          return validateTab(index);
        },
        onNext: function (tab, navigation, index) {
          ok = validateTab(index);
          
          if (ok) {
           
            var numTabs    = $('#bootstrap-wizard-1').find('.tab-pane').length;
            /*var isValidTab = validateTab(index - 1);
            if (!isValidTab) {
                return false;
            }*/

            if (index == numTabs) {
               
                 // For testing purpose
                    $('#completeModal').modal();
            }
        
            return ok;
          }else{
            return ok;
          }
          
        },
        onTabShow: function(tab, navigation, index) {

          var numTabs = $('#bootstrap-wizard-1').find('.tab-pane').length;
          $('#bootstrap-wizard-1')
              .find('.next')
                  .removeClass('disabled')    // Enable the Next button
                  .find('a')
                  .html(index === numTabs - 1 ? 'Finalizar' : 'Siguiente');

        }
      });



      function validateTab(index) {
        var $valid = $("#wizard-1").valid();
          if (!$valid) {
            $validator.focusInvalid();
            return false;
          } else {
            $('#bootstrap-wizard-1').find('.form-wizard').children('li').eq(index - 1).addClass(
              'complete');
            $('#bootstrap-wizard-1').find('.form-wizard').children('li').eq(index - 1).find('.step')
              .html('<i class="fa fa-check"></i>');
            return true;
          }
      }
      
    })

  </script>
<% end %>