
    <div class="jarviswidget jarviswidget-color-green" id="wid-id-3" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-colorbutton="false" >
   
    <header>
      <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
      <h2>Tipo Documento</h2>  
    </header>
  
    <!-- widget div-->
    <div>
  
      <!-- widget edit box -->
      <div class="jarviswidget-editbox">
        <!-- This area used as dropdown edit box -->
  
      </div>
      <!-- end widget edit box -->
  
      <!-- widget content -->
      <div class="widget-body no-padding">
  
        <%= form_for(@document_type, html:{:class => 'smart-form'}) do |f| %>
            <% if @document_type.errors.any? %>
              <div id="error_explanation">
                <h2><%= pluralize(@document_type.errors.count, "error") %> prohibited this identity from being saved:</h2>          
                <ul>
                <% @document_type.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
                </ul>
              </div>
            <% end %>
          
  
          <fieldset>          
            
            <section>
              <label>Código</label>
              <label class="input"> <i class="icon-append fa fa-check"></i>
                <%= f.text_field :codigo, placeholder: 'Código', required: true %>     
              </label>
            </section>
  
            <section>
              <label>Nombre</label>
              <label class="input"> <i class="icon-append fa fa-indent"></i>                
                <%= f.text_field :nombre,  placeholder: 'Nombre', required: true %>
              </label>
            </section>
          
          </fieldset>

          <footer>
            <%= f.submit 'Confirmar', class:'btn btn-success'   %>  
            <div>
               <%= link_to 'Volver', document_types_path, class: 'btn btn-default'  %>
            </div>
          </footer>
        <% end %>
  
      </div>
      <!-- end widget content -->
  
    </div>
    <!-- end widget div -->
  
  </div>
  <!-- end widget -->