<%= form_for(@income, html:{:class => 'smart-form'}) do |f| %>
  <fieldset>          

    <section>
      <label>Fecha</label>
        
        <label class="input"> <i class="icon-append  fa fa-calendar"></i>
        <div class="form-group">
          <%= f.date_field :fecha, placeholder: 'Fecha', required: true %>     
          </div>
        </label>
       
    </section>
    
    <section>
      <label>Tipo</label>
       <div class="form-group">
        <%= f.select :tipo, [['Giro', 'G'], ['Efectivo', 'E']], {:include_blank => "Seleccionar tipo..."},  required: true, class:"form-control"  %>     
       </div>
    </section>
   
    <section>
      <label>Alquiler</label>
      <div class="form-group">
        <div class="row">
          <section class="col col-12">
            <label class="input" > 
              <%= f.collection_select  :rental_id, Rental.where(:id => @income.rental_id), :id, :casa_cliente, {}, {:class=>'form-control', :required => true} %> 
               
            </label> 
          </section>
        </div>
      </div>
    <section>
    
    <section>
      <label>Importe</label>
      <div class="form-group">
        <label class="input"> <i class="icon-append fa fa-money"></i>               
           <%= f.number_field :importe,placeholder: 'Importe', required: false,  data: { rule_menorRestante: "true"} %>
        </label>
      </div>  
    </section>
  
  </fieldset>
  <% @importe = @income.importe %>
  <% @commite = 'Aceptar' %>
  <% if @importe > 0  %>
    <% @commite = 'Pagar'  %>
  <% end  %>
  <footer>
     <%= f.submit @commite, class:'btn btn-success'   %>    
  </footer>
<% end %>


<script type="text/javascript">
    $(document).ready(function(){
       $.validator.addMethod("menorRestante", function(value, element) {
          
            var id_rental = $("#income_rental_id").val();
            var importe = $("#income_importe").val();
            if (id_rental!=0){
              <% @rentals = Rental.all %>
              <% @rentals.each do |r|%>
                  var idr=  '<%= r.id %>';
                  if (id_rental == idr){
                    var suma = '<%= Income.where(:rental_id => r.id ).sum(:importe) %>';
                    var totalluz = '<%= r.total_luz %>';
                    var costo_total = '<%= r.costo_total %>';
                    var costo_total2  = costo_total + totalluz;
                    var restante  = costo_total2 - suma
                  }
              <% end %>
              if (value > restante){
                return false
              }else{
                return true
              }
            } 
            
        });
     //Bootstrap Wizard Validations

      var $validator = $(".smart-form").validate({

        rules: {
          "income[fecha]": {
            required: true,
          },
          "income[tipo]": {
            required: true
          },
          "income[rental_id]": {
            required: true
          },
          "income[importe]": {
            required: true,
            min: 1,
            
          }
        },

        messages: {
          "income[fecha]": "Por favor ingrese la fecha",
          "income[tipo]": "Por favor seleccione el tipo",
          "income[rental_id]": "Por favor seleccione el alquiler",
                 "income[importe]": {
            required: "Por favor ingrese el importe",
            menorRestante: "El importe debe ser igual o menor al remanente.",
            min:"El importe debe ser mayor a 0"  
          }
        },

        highlight: function (element) {
          $(element).closest('.form-group').removeClass('has-success').addClass('has-error');
        },
        unhighlight: function (element) {
          $(element).closest('.form-group').removeClass('has-error').addClass('has-success');
        },
        errorElement: 'span',
        errorClass: 'help-block',
        errorPlacement: function (error, element) {
          if (element.parent('.input-group').length) {
            error.insertAfter(element.parent());
          } else {
            error.insertAfter(element);
          }
        }
      });
     
     
   });

  </script>