<% content_for :ribbon do %>
  <!-- RIBBON -->
  <div id="ribbon">

  <span class="ribbon-button-alignment">
    <span id="refresh" class="btn btn-ribbon" data-action="resetWidgets" data-title="refresh"  rel="tooltip" data-placement="bottom" data-original-title="<i class='text-warning fa fa-warning'></i> Warning! This will reset all your widget settings." data-html="true">
      <i class="fa fa-refresh"></i>
    </span>
  </span>

    <!-- breadcrumb -->
    <ol class="breadcrumb">
      <li><%= link_to 'Inicio', root_path %></li>
      <li><%= link_to 'Balance', balance_path %></li>
      <li><%= link_to 'Balance en Período', :back %></li>
      <li>Balance de <%= @cottage.nombre %> </li>
    </ol>
  </div>
  <!-- END RIBBON -->
<% end %>

<!-- MAIN CONTENT -->
<div id="content">

  <!-- widget grid -->
  <section id="widget-grid" class="">

    <!-- row -->
    <div class="row">

      <!-- NEW WIDGET START -->
      <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

        <!-- Widget ID (each widget will need unique ID)-->
        <div class="jarviswidget well jarviswidget-color-darken" id="wid-id-0" data-widget-sortable="false" data-widget-deletebutton="false" data-widget-editbutton="false" data-widget-colorbutton="false">
          <header>
            <span class="widget-icon"> <i class="fa fa-barcode"></i> </span>
          </header>
          <!-- widget div-->
          <div>

            <!-- widget edit box -->
            <div class="jarviswidget-editbox">
              <!-- This area used as dropdown edit box -->

            </div>
            <!-- end widget edit box -->

            <!-- widget content -->
            <div class="widget-body no-padding">

              <div class="padding-10">
           
                <div class="pull-left">
									<h1 class="semi-bold"><%= image_tag 'inmotour/Logo60-60.png', alt: '' %> Inmotur</h1>
								</div>
								
                <div class="pull-right">
                  <h1 class="font-400">Balance</h1>
                </div>
                
                <div class="clearfix"></div>
                <br>
                <br>
                
                <div class="row">
                  <div class="col-sm-9"></div>
                  <div class="col-sm-3">
                    <div>
                      <div class="font-md">
                        <strong>Casa:</strong>
                        <span class=""> <%= @cottage.nombre %> </span>
                      </div>
                    </div>
                    </br>
                    </br>
                    </br>
                  </div>
                </div>
                
                <table class="table table-hover">
                  <thead>
                      <tr>
                        <th class="text-center">Fecha</th>
                        <th class="text-center">Cliente - Días</th>
                        <th class="text-center">Desripción</th>
                        <th class="text-center">Tipo/Ingreso</th>
                        <th class="text-center">Ingreso</th>
                        <th class="text-center">Gasto</th>
                      </tr>
                  </thead>
                  <tbody>
              
                       <% @fecha_d_ax = @fecha_d.to_datetime %>
                       <% @total_egresos = 0 %>
                       <% @total_ingresos = 0 %>
                       <% while @fecha_d_ax <= @fecha_h.to_datetime  do %>
                          <% @ingreso = 0 %>
                          <% @egreso = 0 %>
                          <% @desc_gasto = ''%>
                          <% @persona = ''%>
                          <% @fecha = @fecha_d_ax %>
                          
                          <% @incomes.each do |income| %>
                            <% if income.fecha == @fecha_d_ax.to_datetime  %>
                              <% @ingreso =income.importe %>
                              <% @persona =income.rental.person.nombres + ', '+income.rental.person.apellidos %>
                              <% @total_ingresos = @total_ingresos + income.importe %>
                              <% @dias  = income.rental.fecha_entrega - income.rental.fechadesde  %>
                              <% if @ingreso != 0 ||  @egreso != 0  %>
                                <tr>
                                  <td class="text-center"><strong><%= @fecha.strftime("%d-%m-%Y") %></strong></td>
                                  <td class="text-center"><%= @persona %> ( <%= @dias.to_i %> días ) </td>
                                  
                                  <% if income.importe == income.rental.total_luz  %>
                                    <td class="text-center">Luz</td>
                                  <% else %>
                                    <td class="text-center">Alquiler</td>
                                  <% end %>
                                  <td class="text-center">
                                        <%= 'Giro' if income.tipo=='G' %>
                                       <%= 'Efectivo' if income.tipo=='E' %>
                                  </td>
                                  <td class="text-right">$ <%= @ingreso %></td>
                                  <td class="text-right"></td>
                                </tr>
                              <% end %>
                            <% end %>
                          <% end %>
                        
                          <% @expenses.each do |expense| %>
                            <% if expense.fecha == @fecha_d_ax.to_datetime %>
                              <% @egreso =expense.importe %>
                              <% @desc_gasto =expense.descripcion %>
                              <% @total_egresos = @total_egresos + expense.importe %>
                           
                              <% if @ingreso != 0 ||  @egreso != 0  %>
                                <tr>
                                  <td class="text-center"><strong><%= @fecha.strftime("%d-%m-%Y") %></strong></td>
                                  <td class="text-center"></td>
                                  <td class="text-center"><%= @desc_gasto %></td>
                                  <td class="text-center"></td>
                                  <td class="text-right"></td>
                                  <td class="text-right">$ <%= @egreso %></td>
                                </tr>
                              <% end %>
                            <% end %>
                          <% end %>
                        
                          
                          <% @fecha_d_ax = @fecha_d_ax.to_datetime.next %>
                          
                      <% end %>
                      <tr>
                          <td class="text-center"></td>
                          <td class="text-center"></td>
                          <td class="text-center"></td>
                          <td class="text-center"></td>
                          <td class="text-right"><strong> Total $ <%= @total_ingresos %></strong></td>
                          <td class="text-right"><strong>Total $ <%= @total_egresos %></strong></td>
                      </tr>
                     
                      
                      <% if @total_ingresos != 0 ||  @total_egresos != 0  %>
                        <% @total_saldo = @total_ingresos - @total_egresos %>
                      <% end %>
                  </tbody>
                </table>

                <div class="invoice-footer">

                  <div class="row">
                    <div class="col-sm-6"> </div>
                    <div class="col-sm-5">
                      <div class="invoice-sum-total pull-right">
                        <h3><strong>Total: <span class="text-success">$<%= @total_saldo %> </span></strong></h3>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- end widget content -->
          </div>
          <!-- end widget div -->
        </div>
        <!-- end widget -->
      </article>
      <!-- WIDGET END -->
    </div>
    <!-- end row -->
  </section>
  <!-- end widget grid -->
</div>
<!-- END MAIN CONTENT -->
