<% content_for :ribbon do %>
  <!-- RIBBON -->
  <div id="ribbon">

  <span class="ribbon-button-alignment">
    <span id="refresh" class="btn btn-ribbon" data-action="resetWidgets" data-title="refresh"  rel="tooltip" data-placement="bottom" data-original-title="<i class='text-warning fa fa-warning'></i> Warning! This will reset all your widget settings." data-html="true">
      <i class="fa fa-refresh"></i>
    </span>
  </span>

    <!-- breadcrumb -->
    <ol class="breadcrumb">
      <li><%= link_to 'Inicio', root_path %></li>
      <li><%= link_to 'Balance', balance_path %></li>
      <li><%= link_to 'Balance en Período', :back %></li>
      <li>Balance a <%= @fecha %></li>
    </ol>
  </div>
  <!-- END RIBBON -->
<% end %>

<!-- MAIN CONTENT -->
<div id="content">

  <!-- widget grid -->
  <section id="widget-grid" class="">

    <!-- row -->
    <div class="row">

      <!-- NEW WIDGET START -->
      <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

        <!-- Widget ID (each widget will need unique ID)-->
        <div class="jarviswidget well jarviswidget-color-darken" id="wid-id-0" data-widget-sortable="false" data-widget-deletebutton="false" data-widget-editbutton="false" data-widget-colorbutton="false">
          <header>
            <span class="widget-icon"> <i class="fa fa-barcode"></i> </span>
          </header>
          <!-- widget div-->
          <div>

            <!-- widget edit box -->
            <div class="jarviswidget-editbox">
              <!-- This area used as dropdown edit box -->

            </div>
            <!-- end widget edit box -->

            <!-- widget content -->
            <div class="widget-body no-padding">

              <div class="padding-10">
           
                <div class="pull-left">
									<h1 class="semi-bold"><%= image_tag 'inmotour/Logo60-60.png', alt: '' %> Inmotur</h1>
								</div>
								
                <div class="pull-right">
                  <h1 class="font-400">Balance</h1>
                </div>
                
                <div class="clearfix"></div>
                <br>
                <br>
                
                <div class="row">
                  <div class="col-sm-9"></div>
                  <div class="col-sm-3">
                    <div>
                      <div class="font-md">
                        <strong>Fecha :</strong>
                        <span class="pull-right"> <i class="fa fa-calendar"></i> <%= @fecha %> </span>
                      </div>
                    </div>
                    </br>
                    </br>
                    </br>
                  </div>
                </div>
                
                <table class="table table-hover">
                  <thead>
                      <tr>
                        <th class="text-center">Descripción</th>
                        <th class="text-center">Ingreso</th>
                        <th class="text-center">Egreso</th>
                        <th class="text-center">Subtotal</th>
                      </tr>
                  </thead>
                  <tbody>
                      <% @incomes.each do |income| %>
                        <% @subtotal = @subtotal + income.importe %>
                        <tr>
                            <td class="text-center"><strong><%= income.rental.cottage.nombre %></strong></td>
                            <td class="text-center">$<%= income.importe %></td>
                            <td class="text-center">$0</td>
                            <td class="text-center">$<%= @subtotal %></td>
                        </tr>
                      <% end %>
                      <% @expenses.each do |expense| %>
                        <% @subtotal = @subtotal - expense.importe %>
                        <tr>
                            <td class="text-center"><strong><%= expense.descripcion %></strong></td>
                            <td class="text-center">$0</td>
                            <td class="text-center">$<%= expense.importe %></td>
                            <td class="text-center">$<%= @subtotal %></td>
                        </tr>
                      <% end %>
                  </tbody>
                </table>

                <div class="invoice-footer">

                  <div class="row">
                    <div class="col-sm-6"> </div>
                    <div class="col-sm-5">
                      <div class="invoice-sum-total pull-right">
                        <h3><strong>Total: <span class="text-success">$<%= @subtotal %> </span></strong></h3>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- end widget content -->
          </div>
          <!-- end widget div -->
        </div>
        <!-- end widget -->
      </article>
      <!-- WIDGET END -->
    </div>
    <!-- end row -->
  </section>
  <!-- end widget grid -->
</div>
<!-- END MAIN CONTENT -->
