<% content_for :ribbon do %>
  <!-- RIBBON -->
  <div id="ribbon">

  <span class="ribbon-button-alignment">
    <span id="refresh" class="btn btn-ribbon" data-action="resetWidgets" data-title="refresh"  rel="tooltip" data-placement="bottom" data-original-title="<i class='text-warning fa fa-warning'></i> Warning! This will reset all your widget settings." data-html="true">
      <i class="fa fa-refresh"></i>
    </span>
  </span>

    <!-- breadcrumb -->
    <ol class="breadcrumb">
      <li><%= link_to 'Inicio', root_path %></li>
      <li><%= link_to 'Balance', balance_path %></li>
      <li>Balance en Período</li>
    </ol>
  </div>
  <!-- END RIBBON -->
<% end %>

<!-- MAIN CONTENT -->
<div id="content">

  <!-- widget grid -->
  <section id="widget-grid" class="">

    <!-- row -->
    <div class="row">

      <!-- NEW WIDGET START -->
      <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

        <!-- Widget ID (each widget will need unique ID)-->
        <div class="jarviswidget well jarviswidget-color-darken" id="wid-id-0" data-widget-sortable="false" data-widget-deletebutton="false" data-widget-editbutton="false" data-widget-colorbutton="false">
          <header>
            <span class="widget-icon"> <i class="fa fa-barcode"></i> </span>
          </header>
          <!-- widget div-->
          <div>
            <!-- widget content -->
            <div class="widget-body no-padding">
              <div class="padding-10">
                
                <div class="pull-left">
							  	<h3 class="semi-bold"><%= image_tag 'inmotour/Logo60-60.png', alt: '' %> Inmotur</h3>
							  </div>
					  
                <div class="pull-right">
                  <h1 class="font-400">Balance</h1>
                </div>
             
                <div class="clearfix"></div>
                <br>
                <br>
            
                <div class="row">
                  <div class="col-sm-9"></div>
                  <div class="col-sm-3">
                    <div>
                      <div class="font-md">
                        <strong>Fecha Desde:</strong>
                        <span class="pull-right"> <i class="fa fa-calendar"></i> <%= @fechadesde %> </span>
                      </div>
                    </div>
                    <div>
                      <div class="font-md">
                        <strong>Fecha Hasta:</strong>
                        <span class="pull-right"> <i class="fa fa-calendar"></i> <%= @fechahasta %> </span>
                      </div>
                    </div>
                    <br>
                    <br>
                    <br>
                  </div>
                </div>
              
                <table class="table table-hover">
                  <thead>
                      <tr>
                        <th class="text-center">Fecha</th>
                        <th>Ingresos</th>
                        <th>Egresos</th>
                        <th>Subtotal</th>
                      </tr>
                  </thead>
                  <tbody>
                    <% while @fechaControl <= @fechahasta  do %>
                      <% @total        = 0 %>
                      <% @totalegresos = 0 %>
                      <% @totalsaldo   = 0 %>
                      
                      <% @incomes.each do |income| %>
                        <% if income.fecha == @fechaControl.to_datetime %>
                          <% @total = @total + income.importe %>
                        <% end %>
                      <% end %>
                      
                      <% @expenses.each do |expense| %>
                        <% if expense.fecha == @fechaControl.to_datetime %>
                          <% @totalegresos = @totalegresos + expense.importe %>
                        <% end %>
                      <% end %>
                      
                      <% @totalsaldo = @total - @totalegresos %>
                      <% @totalgeneral =  @totalgeneral + @totalsaldo %>
                      
                      <% if @total != 0 or @totalegresos != 0 %>
                        <tr>
                          <td class="text-center"><strong><%= link_to @fechaControl.to_datetime.strftime("%d-%m-%Y"), balance_afecha_path(@fechaControl) %></a></strong></td>
                          <td>$<%= @total %></td>
                          <td>$<%= @totalegresos %></td>
                          <td>$<%= @totalsaldo %></td>
                        </tr>
                      <% end %>
                      <% @fechaControl = @fechaControl.to_datetime.next %>
                    <% end %>
                  </tbody>
                </table>
                  
                <div class="invoice-footer">
                  <div class="row">
                    <div class="col-sm-5"> </div>
                    <div class="col-sm-5">
                      <div class="invoice-sum-total pull-right">
                        <h3><strong>Total: <span class="text-success">$<%= @totalgeneral %> </span></strong></h3>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
            <!-- end widget content -->
        </div>
          <!-- end widget div -->
      </article>
      <!-- WIDGET END -->
    </div>

  </section>
  <!-- end widget grid -->
</div>
<!-- END MAIN CONTENT -->

