<script>
   
    function habilitarLuz(){

        check = document.getElementById("luz");
        if (check.checked){
          $("#mingreso").css({'display':'block'});
          $("#mfin").css({'display':'block'});
          $("#valkw").css({'display':'block'});
        }else {
          $("#mingreso").css('display','none');
          $("#mfin").css({'display':'none'});
          $("#valkw").css({'display':'none'});
        }
    }
    
    function habilitarIngreso(){

        check = document.getElementById("ingreso");
        if (check.checked){
          $("#ingreso_sect").css({'display':'block'});
        }else {
          $("#ingreso_sect").css('display','none');
          
        }
    }
    
    
    function verGanancia() {
      
        var id = $("#rental_cottage_id").val();
        var tipoc = ''
       
        if (id!=0){
          <% @cottages = Cottage.all %>
          <% @cottages.each do |c|%>
              var idc= '<%= c.id %>';
              if (id == idc){
                tipoc = '<%= c.tipo %>';
              }
          <% end %>
        }

        if (tipoc=='P'){
          $("#gdueno").css({'display':'none'});
          $("#rental_ganancia_dueno").val(""); 
        }else {
          $("#gdueno").css('display','block');
        }

    }
    
    function verPagaLuz() {
       var ingreso = $("#rental_medidoringreso").val();
      
       if (ingreso!=0){
          $("#luz").attr("checked", true);
          habilitarLuz();
       }
       
       
    }
    
    
</script>

<div class="jarviswidget jarviswidget-color-green" id="wid-id-3" data-widget-editbutton="false" >
   
    <header>
      <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
      <h2>Alquileres</h2>  
    </header>
  
    <!-- widget div-->
    <div>
  
      <!-- widget edit box -->
      <div class="jarviswidget-editbox">
        <!-- This area used as dropdown edit box -->
  
      </div>
      <!-- end widget edit box -->
  
      <!-- widget content -->
      <div class="widget-body no-padding">
        
        <%= nested_form_for(@rental ,html:{:class => 'smart-form'}) do |f| %>
          <fieldset>          
            <section>
              <div class="form-group">
                <label>Cliente</label>
                <%= f.collection_select  :person_id, Person.where(:tipo => "C").order("created_at desc"), :id, :nom_ape,{ :include_blank => "Seleccionar cliente..."}, {:class=>'form-control', :required => true}  %>
				      </div>
            </section>
            
            <section>
              <div class="form-group">
                <label>Casa</label>
                <%= f.collection_select  :cottage_id, Cottage.all, :id, :nombre, { :include_blank => "Seleccionar casa..."}, {:class=>'form-control', :onchange => 'verGanancia();', :required => true} %>
				      </div>
            </section>
            
            <section>
              <div class="form-group">
                <div class="row">
                  <section class="col col-6">
                    <label>Fecha entrada</label>
                    <label class="input"> <i class="icon-append fa fa-calendar"></i>
                       <%= f.date_field :fechadesde,  {:required => true} %>     
                    </label>
                  </section>
                  
                  <div class="col col-0"></div>
                  
                  <section class="col col-6">
                    <label>Hora entrada</label>
                    <label class="input"> <i class="icon-append fa fa-clock-o"></i>
                        <%= f.time_field :hora_entrada,  placeholder: 'Hora Entrada', required: true %> 
                    </label>
                  </section>
                </div>  
              </div>  
            </section>
            
            <section>
              <div class="form-group">
                <label>Fecha Salida</label>
                <label class="input"> <i class="icon-append fa fa-calendar"></i>    
                  <%= f.date_field :fechahasta,  placeholder: 'Fecha Hasta', required: true %>
                 
                </label>
              </div>
            </section>
            
            <section>
              <div class="form-group">
                <div class="row">
                  <section class="col col-6">
                    <label>Fecha Entrega</label>
                    <label class="input"> <i class="icon-append fa fa-calendar"></i>
                       <%= f.date_field :fecha_entrega, placeholder: 'Fecha Entrega', required: true %>     
                    </label>
                  </section>
                  
                  <div class="col col-0"></div>
                  
                  <section class="col col-6">
                    <label>Hora entrega</label>
                    <label class="input"> <i class="icon-append fa fa-clock-o"></i>
                        <%= f.time_field :hora_entrega,  placeholder: 'Hora Entrega', required: true %> 
                    </label>
                  </section>
                </div>  
              </div>  
            </section>
          
            
            <section>
              <div class="form-group">
                <label>Precio/Día</label>
                <label class="input"> <i class="icon-append fa fa-money"></i>                
                  <%= f.number_field :valordia,  placeholder: 'Precio/Día', required: true %>
                </label>
              </div>
            </section>
            
            <section>
              <div class="form-group">
                <label>Costo Total</label>
                <label class="input"> <i class="icon-append fa fa-money"></i>                
                  <%= f.number_field :costo_total, placeholder: 'Costo Total', required: true %>
                </label>
              </div>
            </section>
            
            <section id="gdueno" style="display: none;">
              <div class="form-group">
                <label>Ganancia Dueño</label>
                <label class="input"> <i class="icon-append fa fa-bar-chart-o"></i>                
                  <%= f.number_field :ganancia_dueno,  placeholder: 'Ganancia Dueño', required: true %>
                </label>
              </div>
            </section>
            
            <section>
              <div class="form-group">
                <label>Cant. Acompañantes</label>
                <label class="input"> <i class="icon-append fa fa-group"></i>                
                  <%= f.number_field :cant_acomp,  placeholder: 'Cant. Acompañantes', required: true %>
                </label>
              </div>
            </section>
            
            <section>
              <div class="form-group">
                <label>Descripción</label>
                <label class="input"> <i class="icon-append fa fa-reorder"></i>                
                  <%= f.text_field :descripcion ,  placeholder: 'Descripción' %>
                </label>
              </div>
            </section>
            
            <section>
              <div class="form-group">
                <label>Transporte</label>
                <label class="input"> <i class="icon-append fa fa-truck"></i>                
                  <%= f.text_field :transporte ,  placeholder: 'Transporte' %>
                </label>
              </div>
            </section>
            
            <section>
               <label>Paga Luz?</label>   
                <%=check_box_tag('luz', '1', false, {:onchange => 'habilitarLuz();'}) %>
            </section>
            
            <fieldset id="valkw" style="display: none;">
              <h2>Datos Luz</h2> <br>
              
              <section id="mingreso" style="display: none;">
                <div class="form-group">
                  <label>Medidor KW Ingreso</label>
                  <label class="input"> <i class="icon-append fa fa-dashboard"></i>                
                    <%= f.number_field :medidoringreso,  placeholder: 'Medidor KW Ingreso' %>
                  </label>
                </div>
              </section>
              
              <section id="mfin" style="display: none;">
                <div class="form-group">
                  <label>Medidor KW Fin</label>
                  <label class="input"> <i class="icon-append fa fa-dashboard"></i>                
                    <%= f.number_field :medidorfin,  placeholder: 'Medidor KW Fin' %>
                  </label>
                </div>
              </section>
              
              <section>
                <div class="form-group">
                  <div class="row">
                    <section class="col col-6">
                      <label>Precio/KW</label>
                      <label class="input"> <i class="icon-append fa fa-money"></i>                
                        <%= f.number_field :valorkw,  placeholder: 'Precio/KW' %>
                      </label>
                    </section>
                      
                    <div class="col col-0"></div>
                    
                    <section class="col col-6">
                      <label>Total/Luz</label>
                      <label class="input"> <i class="icon-append fa fa-clock-o"></i>
                          <%= f.number_field :total_luz,  placeholder: 'Total/Luz', required: false %> 
                      </label>
                    </section>
                  </div>  
                </div>  
              </section>
              <%= f.hidden_field :pago_luz %> 
            </fieldset>
            
            
            
            <% if params[:action] == 'new'%>
              <section>
                   <label>Realiza Ingreso?</label>   
                  <%=check_box_tag('ingreso', '1', false, {:onchange => 'habilitarIngreso();'}) %>
              </section>
            <% end %>
            
            <section id="ingreso_sect" style="display: none;">
              <%= f.fields_for :incomes, @incomes do |income| %>
                  <section >
                    <div class="form-group">
                      <label class="input" id="incomes_attributes"> 
                        <%= income.date_field :fecha , placeholder: 'Fecha', required: false %>    
                      </label> 
                    </div>
                  </section>
                  
                  <section>
                    <div class="form-group">
                      <label class="input" id="incomes_attributes"> 
                        <%= income.select :tipo, [['Giro', 'G'], ['Efectivo', 'E']], {:include_blank => "Seleccionar tipo..."},  required: true, class:"form-control"  %> 
                      </label> 
                    </div>  
                  </section>
                  
                  <section>
                    <div class="form-group">
                      <label class="input" id="incomes_attributes"> 
                        <%= income.number_field :importe,placeholder: 'Importe', required: false,  data: { rule_menorRestante: "true"}  %> 
                      </label> 
                    </div>  
                  </section>
              <% end %>
            </section>
            <%= f.hidden_field :estado %> 
          </fieldset>

          <fieldset>
              <h2>Acompañantes</h2> <br>
             
              <div class="form-group">
                <section>
                  <%= f.fields_for :companions do |companion| %>
                      <label class="input"> <i class="icon-append fa fa-group"></i>
                        <section class="col col-1">
                           <label class="input">
                            <%= companion.link_to_remove "",class: "btn btn-danger btn-sm fa fa-remove" %>
                          </label>
                        </section>
                        <div class="row">
                          <section class="col col-5">  
                           <label class="input" id="companions_attributes"> Nombre
                               <%= companion.text_field :nombre , placeholder: 'Nombre', required: false %>    
                            </label> 
                          </section>
                      
                          <section class="col col-5">
                            <label class="input" id="companions_attributes"> Segundo Nombre
                               <%= companion.text_field :seg_nombre , placeholder: 'Segundo Nombre', required: false %> 
                            </label>
                          </section>
                        </div>
                        
                        <section class="col col-1"></section>

                        <div class="row">
                          <section class="col col-5">
                            <label class="input" id="companions_attributes"> Apellido
                               <%= companion.text_field :apellido , placeholder: 'Apellido', required: false %> 
                            </label>
                          </section>
                          <section class="col col-5">
                            <label class="input" id="companions_attributes"> Segundo Apellido
                               <%= companion.text_field :seg_apellido , placeholder: 'Segundo Apellido', required: false %> 
                            </label>
                          </section>
                        </div>
                        
                        <section class="col col-1"></section>
                        
                        <div class="row">
                          <section class="col col-5">
                            <label class="input" id="companions_attributes"> Documento
                               <%= companion.text_field :documento , placeholder: 'Documento', required: false %> 
                            </label>
                          </section>
                          <section class="col col-5">
                            <label class="input" id="companions_attributes"> Tipo Documento
                               <%= companion.collection_select :document_type_id, DocumentType.all, :id, :nombre, { :include_blank => "Seleccionar tipo documento..."}, {:class=>'form-control',:required => false}  %> 
                            </label>
                          </section>
                        </div>
                        
                        <section class="col col-1"></section>
                        
                        <div class="row">
                          <section class="col col-5">
                            <label class="input" id="companions_attributes"> Pais Documento
                                <% if params[:action] == "new" %>
                                  <%= companion.collection_select  :pais_origen_doc, Nationality.all, :codigo, :nombre, { :include_blank => "Seleccionar país documento..."}, {:class=>'form-control', :required => false}  %>
                				        <% else %>
                				          <%= companion.collection_select  :pais_origen_doc, Nationality.all, :codigo, :nombre, { :include_blank => "Seleccionar país documento..."}, {:class=>'form-control', :required => false}  %>
                				        <% end %> 
                            </label>
                          </section>
                          <section class="col col-5">
                            <label class="input" id="companions_attributes">  Nacionalidad
                               <% if params[:action] == "new" %>
                                <% @uruguay = Nationality.find_by(:codigo => 'UY') %>
                                <%= companion.collection_select  :nationality_id, Nationality.all, :id, :nombre, { :include_blank => "Seleccionar nacionalidad..." }, {:class=>'form-control',:required => false}  %>
                              <% else %>
                                <%= companion.collection_select  :nationality_id, Nationality.all, :id, :nombre, { :include_blank => "Seleccionar nacionalidad..."}, {:class=>'form-control',:required => false}  %>
                              <% end %>
                            </label>
                          </section>
                        </div>
                        
                        <section class="col col-1"></section>
                        
                        <div class="row">
                          <section class="col col-5">
                            <label class="input" id="companions_attributes">Sexo
                             <% if params[:action] == "new" %>
                               <%= companion.select :sexo, [['Femenino', 'F'], ['Masculino', 'M']], {:include_blank => "Seleccionar sexo...", :selected => 'M' },  required: false, class:"form-control"  %>   
                             <% else %>
                                <%= companion.select :sexo, [['Femenino', 'F'], ['Masculino', 'M']], {:include_blank => "Seleccionar sexo..." },  required: false, class:"form-control"  %> 
                             <% end %>
                            </label>
                          </section>
                          <section class="col col-5">
                            <label class="input" id="companions_attributes">  Fecha Nacimiento
                               <%= companion.date_field :fecha_nac , placeholder: 'Fecha Nacimiento', required: false %> 
                            </label>
                          </section>
                        </div>
                        
                        <section class="col col-1"></section>
                        
                        <div class="row">
                          <section class="col col-5">
                              <label class="input" id="companions_attributes">País Residencia
                                <% if params[:action] == "new" %>
                                    <%= companion.collection_select  :pais_residencia, Nationality.all, :codigo, :nombre, { :include_blank => "Seleccionar país...", :selected => "UY"}, {:class=>'form-control',:required => false}  %>
                                <% else %>
                                    <%= companion.collection_select  :pais_residencia, Nationality.all, :codigo, :nombre, { :include_blank => "Seleccionar país..."}, {:class=>'form-control',:required => false}  %>
                                <% end %>
                              </label>
                          </section>
                         
              		      </div>
                      </label>
                  <% end %>
              
                  <%= f.link_to_add "", :companions, class: "btn btn-info btn-sm fa fa-plus" %>
                </section>
            </div>  
          </fieldset>

          <footer>
             <div>
               <%= f.submit 'Confirmar', class:'btn btn-success'   %>  
               <%= link_to 'Volver', rentals_path, class: 'btn btn-default'  %>
            </div>
          </footer>
        <% end %>
  
      </div>
      <!-- end widget content -->
  
    </div>
    <!-- end widget div -->
  
</div>
<!-- end widget -->



<% content_for :scripts do %>
  <script type="text/javascript">
    $(document).ready(function(){
      verGanancia(); 
      verPagaLuz();
      
      $("#rental_valordia").keyup(function(){
        Total();
      });
      $("#rental_fechadesde").change(function(){
        Total();
      });
       
      $("#rental_fecha_entrega").change(function(){
        Total();
      });
     
      function Total(){
        var start = $("#rental_fechadesde").val();
        var end = $("#rental_fecha_entrega").val();
        
        inicial = start.split("-");
	    	final   = end.split("-");
	    	
	    	var dateStart = new Date(inicial[0],inicial[1],inicial[2]);
        var dateEnd   = new Date(final[0],final[1],final[2]);
        
        var days = (dateEnd - dateStart)/1000/60/60/24
        
        val = $("#rental_valordia").val() * days;
        $("#rental_costo_total").val(val);
      }
      
      
      $("#rental_valorkw").keyup(function(){
  
        var start = $("#rental_medidoringreso").val();
        var end = $("#rental_medidorfin").val();
       
        var wats = end - start
        
        val = $("#rental_valorkw").val() * wats;
        $("#rental_total_luz").val(val);
      });
      
      $("#rental_medidorfin").keyup(function(){
  
        var start = $("#rental_medidoringreso").val();
        var end = $("#rental_medidorfin").val();
       
        var wats = end - start
        
        val = $("#rental_valorkw").val() * wats;
        $("#rental_total_luz").val(val);
      });
      
      
      
      
      $.validator.addMethod("menorRestante", function(value, element) {
            var importe = $("#rental_costo_total").val();
            return importe >= value
        });

        
        var $validator = $(".smart-form").validate({
  
          rules: {
            "rental[incomes_attributes][0][fecha]": {
              required: true,
            },
            "rental[incomes_attributes][0][tipo]": {
              required: true
            },
            "rental[incomes_attributes][0][importe]": {
              required: true,
              min: 1,
              
            }
          },
  
          messages: {
            "rental[person_id]": {
              required: "Por favor seleccione un cliente",
            },
            "rental[cottage_id]": {
              required: "Por favor seleccione una casa",
            },
            "rental[fechadesde]": {
              required: "Por favor ingrese la fecha de entrada",
            },
             "rental[hora_entrada]": {
              required: "Por favor ingrese la hora de entrada",
            },
            "rental[fechahasta]": {
              required: "Por favor ingrese la fecha de salida",
            },
            "rental[fecha_entrega]": {
              required: "Por favor ingrese la fecha de entrega",
            },
            "rental[hora_entrega]": {
              required: "Por favor ingrese la hora de entrega",
            },
            "rental[valordia]": {
              required: "Por favor ingrese el valor por día",
            },
             "rental[costo_total]": {
              required: "Por favor ingrese el costo total",
            },
            "rental[ganancia_dueno]": {
              required: "Por favor ingrese la ganancia del dueño",
            },
            "rental[cant_acomp]": {
              required: "Por favor ingrese la cantidad de acompañantes",
            },
            
            
            "rental[incomes_attributes][0][fecha]": "Por favor ingrese la fecha",
            "rental[incomes_attributes][0][tipo]": "Por favor seleccione el tipo",
            "rental[incomes_attributes][0][importe]": {
              required: "Por favor ingrese el importe",
              menorRestante: "El importe debe ser igual o menor al costo total.",
              min:"El importe debe ser mayor a 0"  
            }
          },
  
          highlight: function (element) {
            $(element).closest('.form-group').removeClass('has-success').addClass('has-error');
          },
          unhighlight: function (element) {
            $(element).closest('.form-group').removeClass('has-error').addClass('has-success');
          },
          errorElement: 'span',
          errorClass: 'help-block',
          errorPlacement: function (error, element) {
            if (element.parent('.input-group').length) {
              error.insertAfter(element.parent());
            } else {
              error.insertAfter(element);
            }
          }
        });
     
   });

  </script>
<% end %>