<!-- Modal -->
<div class="modal fade bs-example-modal-lg" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
          &times;
        </button>
        <h4 class="modal-title" id="myModalLabel">Alquileres</h4>
      </div>
      <div class="modal-body">
          <% @rentals = Rental.all %>
           <!-- Widget ID (each widget will need unique ID)-->
          <div class="jarviswidget jarviswidget-color-green" id="wid-id-1" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-colorbutton="false">
       
            <header>
              <span class="widget-icon"> <i class="fa fa-table"></i> </span>
              <h2>Alquileres</h2>  
            </header>
    
            <!-- widget div-->
            <div>
    
              <!-- widget edit box -->
              <div class="jarviswidget-editbox">
                <!-- This area used as dropdown edit box -->  
              </div>
              <!-- end widget edit box -->
    
              <!-- widget content -->
              <div class="widget-body no-padding">
                  <table id="datatable_tabletools" class="table table-striped table-bordered table-hover" width="100%">
                      <thead>
                        <tr>
                          <th data-class="expand">Casa</th>
                          <th data-hide="phone">Cliente</th>
                          <th data-hide="phone">Fecha Desde</th>
                          <th data-hide="phone">Fecha Hasta</th>
                          <th data-hide="phone">Precio/Día</th>
                          <th data-hide="phone">Costo Total</th>
                          <th data-hide="phone">Costo Remanente</th>
                          <th data-hide="expand"></th>                    
                        </tr>
                      </thead>
                      <tbody>
                        <% @rentals.each do |rental| %>
                          <tr>
                            <td><%= rental.cottage.nombre if rental.cottage %></td>
                            <td><%= rental.person.nombres if rental.person %>, <%=  rental.person.apellidos if rental.person%>,  <%=  rental.person.documento if rental.person %></td>
                            <td><%= rental.fechadesde %></td>
                            <td><%= rental.fechahasta %></td>
                            <td><%= rental.valordia %></td>
                            <td><%= rental.importe_total %></td>
                            <td><%= rental.importe_restante %></td>
                            <td><%= link_to '', '',:onclick=>"$('#rental_id').val(#{rental.id}); $('#myModal').modal('hide');", remote: true,class: "btn btn-success btn-sm fa fa-plus" %>
                            
                          </tr>
                        <% end %>
                      </tbody>
                  </table>  
        
               </div>
              <!-- end widget content -->  
            </div>
            <!-- end widget div -->  
          </div>
          <!-- end widget --> 
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">
          Cancelar
        </button>
        
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<% content_for :scripts do %>
  <script type="text/javascript">

    // DO NOT REMOVE : GLOBAL FUNCTIONS!

    $(document).ready(function() {

      pageSetUp();

     
      var responsiveHelper_datatable_tabletools = undefined;

      var breakpointDefinition = {
        tablet : 1024,
        phone : 480
      };
      

      /* TABLETOOLS */
      $('#datatable_tabletools').dataTable({
        // Tabletools options:
        //https://datatables.net/extensions/tabletools/button_options
        "sDom": "<'dt-toolbar'<'col-xs-12 col-sm-6'f><'col-sm-6 col-xs-6 hidden-xs'T>r>"+
        "t"+
        "<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-sm-6 col-xs-12'p>>",
        "oLanguage": {
          "sSearch": '<span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>'
          
        },
        "oTableTools": {
          "aButtons": [
            
          ],
          "sSwfPath": "assets/plugin/datatables/swf/copy_csv_xls_pdf.swf"
        },
        "autoWidth" : true,
        "preDrawCallback" : function() {
          // Initialize the responsive datatables helper once.
          if (!responsiveHelper_datatable_tabletools) {
            responsiveHelper_datatable_tabletools = new ResponsiveDatatablesHelper($('#datatable_tabletools'), breakpointDefinition);
          }
        },
        "rowCallback" : function(nRow) {
          responsiveHelper_datatable_tabletools.createExpandIcon(nRow);
        },
        "drawCallback" : function(oSettings) {
          responsiveHelper_datatable_tabletools.respond();
        }
      });

      /* END TABLETOOLS */

    })

  </script>
<% end %>