<%= form_for(@rental, remote: true,  html:{:class => 'smart-form'}) do |f| %>
  <fieldset>    
      <section>
        <div class="form-group">
          <label>Medidor KW Ingreso</label>
          <label class="input"> <i class="icon-append fa fa-dashboard"></i>                
            <%= f.number_field :medidoringreso,  placeholder: 'Medidor KW Ingreso' %>
          </label>
        </div>
      </section>

      <section id="mfin" >
        <div class="form-group">
          <label>Medidor KW Fin</label>
          <label class="input"> <i class="icon-append fa fa-dashboard"></i>                
            <%= f.number_field :medidorfin,  placeholder: 'Medidor KW Fin' %>
          </label>
        </div>
      </section>
      
      <section >
        <div class="form-group">
          <div class="row">
            <section class="col col-6">
              <label>Precio/KW</label>
              <label class="input"> <i class="icon-append fa fa-money"></i>                
                <%= f.number_field :valorkw,  placeholder: 'Precio/KW' %>
              </label>
            </section>
              
            <div class="col col-0"></div>
            
            <section class="col col-6">
              <label>Total/Luz</label>
              <label class="input"> <i class="icon-append fa fa-clock-o"></i>
                  <%= f.number_field :total_luz,  placeholder: 'Total/Luz', required: false %> 
              </label>
            </section>
          </div>  
        </div>  
      </section>
  
  </fieldset>


  <footer>
     <%= f.submit 'Aceptar' , class:'btn btn-success',:onclick => 'pagar()'   %>    
  </footer>
<% end %>



<div id="desc_dialog" class="dialog" style="display:none;">
  <div id="rental_edit">
  </div>
</div>

  <script type="text/javascript">
    $(document).ready(function(){
      
      $("#rental_valorkw").keyup(function(){
  
        var start = $("#rental_medidoringreso").val();
        var end = $("#rental_medidorfin").val();
       
        var wats = end - start
        
        val = $("#rental_valorkw").val() * wats;
        $("#rental_total_luz").val(val);
      });
      
      $("#rental_medidorfin").keyup(function(){
  
        var start = $("#rental_medidoringreso").val();
        var end = $("#rental_medidorfin").val();
       
        var wats = end - start
        
        val = $("#rental_valorkw").val() * wats;
        $("#rental_total_luz").val(val);
      });
    });



    function pagar(){
       var idr = '<%= @rental.id %>';
       var importe = $("#rental_total_luz").val();
       
       jQuery.ajax({
          url: "/incomes/modal_new/?idr="+ idr + "&importe="+ importe,
          success: function(data) {
            $('#rental_edit').html(data['form']);
            $('#desc_dialog').dialog({
    	        title: 'Pagar',
    	        modal: true,
    	        width: 500,
    	        close: function(event, ui){
    	            $('#desc_dialog').dialog('destroy')
    	        }
    	        
    	    });
          } 
        });
      	    
      }
  </script>