<% content_for :ribbon do %>
  <!-- RIBBON -->
  <div id="ribbon">
  
    <span class="ribbon-button-alignment">
      <span id="refresh" class="btn btn-ribbon" data-action="resetWidgets" data-title="refresh"  rel="tooltip" data-placement="bottom" data-original-title="<i class='text-warning fa fa-warning'></i> Advertencia! se perderán los cambios no guardados. " data-html="true">
        <i class="fa fa-refresh"></i>
      </span>
    </span>
  
    <!-- breadcrumb -->
        <ol class="breadcrumb">
      <li><%= link_to 'Inicio', root_path %></li>
      <li><%= link_to 'Alquileres', rentals_path %></li>   
      
    </ol>

    <!-- end breadcrumb -->
  </div>
<!-- END RIBBON -->
<% end %>

<!-- MAIN CONTENT -->
<div id="content">

  <!-- widget grid -->
  <section id="widget-grid" class="">
    <!-- row -->
    <div class="row">

      <!-- NEW WIDGET START -->
      <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                
        <!-- Widget ID (each widget will need unique ID)-->
        <div class="jarviswidget jarviswidget-color-green" id="wid-id-3" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-colorbutton="false">
     
          <header>
            <span class="widget-icon"> <i class="fa fa-table"></i> </span>
            <h2>Alquileres</h2>  
          </header>
  
          <!-- widget div-->
          <div>
  
            <!-- widget edit box -->
            <div class="jarviswidget-editbox">
              <!-- This area used as dropdown edit box -->  
            </div>
            <!-- end widget edit box -->
  
            <!-- widget content -->
            <div class="widget-body no-padding">
  
              <table id="datatable_tabletools" class="table table-striped table-bordered table-hover" width="100%">
                <thead>
                  <tr>
                    <th data-class="expand">Casa</th>
                    <th data-hide="expand">Cliente</th>
                    <th data-hide="phone">Fecha Entrada</th>
                    <th data-hide="phone">Fecha Salida</th>
                    <th data-hide="phone">Fecha Entrega</th>
                    <th data-hide="phone">Hora Entrada</th>
                    <th data-hide="phone">Hora Entrega</th>
                    <th data-hide="phone">Precio/Día</th>
                    <th data-hide="phone">Costo Total</th>
                    <th data-hide="phone">Paga Luz?</th>
                    <th data-hide="phone">Estado</th>
                    <th data-hide="expand">Acciones</th>                    
                  </tr>
                </thead>
                <tbody>
                  <% @rentals.each do |rental| %>
                    <tr>
                      <td><%= rental.cottage.nombre if rental.cottage %></td>
                      <td><%= rental.person.nombres if rental.person %>, <%=  rental.person.apellidos if rental.person %></td>
                      <td><%= rental.fechadesde.strftime("%d/%m/%Y") if rental.fechadesde %></td>
                      <td><%= rental.fechahasta.strftime("%d/%m/%Y") if rental.fechahasta %></td>
                      <td><%= rental.fecha_entrega.strftime("%d/%m/%Y") if rental.fecha_entrega %></td>
                      <% if rental.hora_entrada %>
                        <td><%= rental.hora_entrada.to_formatted_s(:time) %></td>
                      <% else %>
                        <td>00:00</td>
                      <% end %> 
                    
                      <% if rental.hora_entrega %>
                        <td><%= rental.hora_entrega.to_formatted_s(:time) %></td>
                      <% else %>
                        <td>00:00</td>
                      <% end %> 
                      <td><%= rental.valordia if rental.valordia %></td>
                      <td><%= rental.costo_total  if rental.costo_total %></td>
                      <% if rental.medidoringreso %>
                        <td>SI</td>
                      <% else %>
                        <td>NO</td>
                      <% end %>
                      <td><%= rental.estado if rental.estado %></td>
                      <td>
                        <%= link_to '', rental, class: 'btn btn-xs btn-default fa fa-eye' %>
                        <%= link_to '', edit_rental_path(rental), class: 'btn btn-xs btn-default fa fa-pencil' %>
                        <%= link_to '', rental, method: :delete, data: { confirm: 'Esta seguro que desea cancelar?' }, class: 'btn btn-xs btn-default fa fa-times'%>
                        <%= link_to '', ingresopdf_path(rental), target: :_blank , class: 'btn btn-xs btn-default fa fa-file' %>
                       
                      
                      </td>
                    </tr>
                  <% end %>
                </tbody>
              </table>  
            </div>
            <!-- end widget content -->  
          </div>
          <!-- end widget div -->  
        </div>
        <!-- end widget -->  
      </article>
      <!-- WIDGET END -->
    </div>
    <!-- end row -->   
  </section>
  <!-- end widget grid -->

<!-- END MAIN CONTENT -->


 <br>

<%= link_to 'Nuevo Alquiler', new_rental_path, class: 'btn btn-success' %>
</div>
<!-- END MAIN CONTENT -->

<% content_for :scripts do %>
  <script type="text/javascript">

    // DO NOT REMOVE : GLOBAL FUNCTIONS!

    $(document).ready(function() {

      pageSetUp();
    
      var responsiveHelper_datatable_tabletools = undefined;

      var breakpointDefinition = {
        tablet : 1024,
        phone : 480
      };
     
      
     $('#datatable_tabletools').DataTable( {
          dom: "<'dt-toolbar'<'col-xs-12 col-sm-6'f> <'col-sm-6 col-xs-6 hidden-xs'BT>r>"+
              "t"+ "<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-sm-6 col-xs-12'p>>",
          buttons: [
              {
                  extend: 'csvHtml5',
                  text: 'CSV',
                  title: 'Alquileres',
                  fieldSeparator: ";",
                  exportOptions: {
                      columns: [0,1,2,3,4,5,6,7,8,9,10]
                  }
              },
              {
                  extend: 'pdfHtml5',
                  text: 'PDF',
                  title: 'Alquileres',
                  exportOptions: {
                      columns: [0,1,2,3,4,5,6,7,8,9,10]
                  }
              },
              {
                  extend: 'excelHtml5',
                  title:'Alquileres',
                  text: 'EXCEL',
                  exportOptions: {
                      columns: [0,1,2,3,4,5,6,7,8,9,10]
                  }
              }                   
              
          ],
          language: {
              search: '<span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>',
              processing: "Procesando...",
              lengthMenu:    "Afficher _MENU_ &eacute;l&eacute;ments",
              info:           "Mostrando _END_ de _MAX_ registros",
              infoEmpty:      "No hay datos para mostrar",
              infoFiltered:   "(filtrado de _MAX_ registros totales)",
              infoPostFix:    "",
              loadingRecords: "Cargando registros...",
              zeroRecords:    "No hay datos para mostrar",
              emptyTable:     "No hay datos para mostrar",
              paginate: {
                  first:      "Primer",
                  previous:   "Anterior",
                  next:       "Siguiente",
                  last:       "Ultimo"
              },
             
          },
          "pageLength": 10,
          "autoWidth" : true,
          "preDrawCallback" : function() {
            // Initialize the responsive datatables helper once.
            if (!responsiveHelper_datatable_tabletools) {
              responsiveHelper_datatable_tabletools = new ResponsiveDatatablesHelper($('#datatable_tabletools'), breakpointDefinition);
            }
          },
          "rowCallback" : function(nRow) {
            responsiveHelper_datatable_tabletools.createExpandIcon(nRow);
          },
          "drawCallback" : function(oSettings) {
            responsiveHelper_datatable_tabletools.respond();
          }
          
          
      });
      
       //Cambio clases a los botones de CSV,PDF,XLS
      $(".dt-buttons").addClass("DTTT_container");
      $(".dt-button").addClass("DTTT_button");
      $(".dt-button").removeClass("dt-button buttons-csv buttons-html5");
      $(".dt-buttons").removeClass("dt-buttons");

    })

  </script>
<% end %>
