
<script type="text/javascript">
  window.onload= window.print();
</script>

<!-- MAIN CONTENT -->
<div id="content">

  <!-- widget grid -->
  <section id="widget-grid" class="">
    <div class="row" align="right">
        <div class="font-md">
          <strong  align="center">FECHA</strong>
          <br>
          <span  align="center" class="pull-right"> <i class="fa fa-calendar"></i> <%= Time.now.strftime("%d/%m/%Y") %> </span>
        </div>
    </div>
    <div class="row" align="center">
        <div class="pull-center">
          <%= image_tag 'inmotour/Logo60-60.png' %>

          <address>
            <strong>INMOTUR</strong>
            <br>
            ALQUILERES DE CASAS EN TERMAS DE ALMIRON
            <br>
            Mónica Cabrera
            <br>
            Tel. 4740 2873 -  Cel. 098 665 055 - www.alimirontermal.com
          </address>
        </div>
    </div>

    <div class="row" align="left">
      <h4>
        <b>
          <i>
            <u>
              CONTROL DE INGRESO
            </u>
          </i>
        </b>
      </h4>
    </div>
   
    <div class="row" align="left">

        <section class="alto">
            <label class="input"><strong>Nombre:  &nbsp; </strong></label>
            <%= @rental.person.nombres %>, <%= @rental.person.apellidos %>
        </section>
        <section class="alto">
            <label class="input"><strong>Domicilio:  &nbsp; </strong></label>
            <%= @rental.person.ciudad %>, <%= @rental.person.domicilio %>
        </section>
        
        <section class="alto">
            <label class="input"><strong>C. Identidad:  &nbsp;</strong></label>
            <%= @rental.person.documento %>
        </section>
        
        <section class="alto">
            <label class="input"><strong>Teléfono:  &nbsp; </strong> </label>
            <% @rental.person.phones.each do |p|  %>
            <%= p.numero %> -  
            <% end %>
        </section>
         
        <section class="alto">
            <label class="input"><strong>Cant. Acompañantes: &nbsp;</strong>  </label>
            <%= @rental.cant_acomp %> 
        </section>  
        
        <section class="alto">
            <label class="input"><strong>Coche / Matrícula: &nbsp;</strong>  </label>
            <%= @rental.transporte %>&nbsp; <%= @rental.person.matricula_coche %>
        </section>  
        
        <section class="alto">
	        <label class="input"><strong>Casa: &nbsp;</strong></label>
	        <%= @rental.cottage.nombre %>
        </section> 
        
         <section class="alto">
            <label class="input"><strong>Cantidad de días:&nbsp;</strong> </label>
            <%= (@rental.fecha_entrega  - @rental.fechadesde).to_i    %> &nbsp;&nbsp;&nbsp;
            <strong>desde:&nbsp;</strong>
            <%= @rental.fechadesde.strftime("%d/%m/%Y") %> &nbsp;&nbsp;
            <strong>hasta:&nbsp;</strong>
            <%= @rental.fechahasta.strftime("%d/%m/%Y") %>
        </section> 
        
        <section class="alto">
            <label class="input"><strong>Fecha Entrega: &nbsp;</strong></label>
            <%= @rental.fecha_entrega.strftime("%d/%m/%Y") %>  &nbsp;&nbsp;&nbsp;
            <strong>hora:&nbsp;</strong>
             <% if @rental.hora_entrega %>
                 <%= @rental.hora_entrega.to_formatted_s(:time)   %>  
            <% else %>
                 00:00    
            <% end %> 
        </section>
        
        <% giro = 0 %>
         <% efectivo = 0 %>
        <% @rental.incomes.each do |income| %>
            <% if income.tipo=='G' %>
               <% giro = giro + income.importe %>
            <% else %>
               <% efectivo = efectivo + income.importe %>
            <% end %>
           
        <% end %>
        
 
    </div>

    <!-- end row -->
    <br>
    
    <div class="row" align="left">
      <h4>
        <b>
          <i>
            <u>
              DETALLE DE PAGO
            </u>
          </i>
        </b>
      </h4>
    </div>
     <br>
    <div class="row" align="center">
        <section align="center"> 
          <table align="center">
            <tr>
              <td>Giro $ </td>
              <td style="width: 70px"><%= giro %></td> 
            </tr>
            <tr>
              <td>Efectivo $ </td>
              <td><%= efectivo %></td> 
            </tr>
            <tr>
              <td>Saldo $ </td>
              <td><%= @rental.costo_total - (efectivo + giro)  %></td> 
            </tr>
            <tr>
              <td><strong>TOTAL $ </strong></td>
              <td><%= @rental.costo_total  %></td> 
            </tr>
          </table>
        </section>
    </div>
    
    <br>
    
    <div class="row" align="left">
      <h4>
        <b>
          <i>
            <u>
              OBSERVACIONES
            </u>
          </i>
        </b>
      </h4>
    </div>
   
    <div class="row" align="left">
      
      <P style="border-bottom: 1px solid">
        
      </P>
      
      <P style="border-bottom: 1px solid">
        
      </P>
      
      <P style="border-bottom: 1px solid">
        
      </P>
     
    </div>
    
    <div class="row" >
      <dl class="dl-horizontal" style="border: 1px solid black">
        <dt><strong>REGLAMENTO DE USO:</strong></dt>
        <dd>El arrendatario esta de acuerdo con la lista de útiles que se brindan con la casa 
        y debera responder por las roturas o pérdidas.</dd>
        <dd>El estacionamiento de los coches deberá hacerse en los lugares para tal fin (calle y/o cochera)
        no se permite usar los lugares verdes (parque) para estacionamiento.</dd>
      </dl>
    </div>
    
  </section>
  <!-- end widget grid -->

</div>
<!-- END MAIN CONTENT -->

<style>
  table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }
  td{
    text-align: right;
    height: 30px;
  }
  
  .alto{
     height: 30px;
  }
</style>
