<% content_for :ribbon do %>
  <!-- RIBBON -->
  <div id="ribbon">
  
    <span class="ribbon-button-alignment">
      <span id="refresh" class="btn btn-ribbon" data-action="resetWidgets" data-title="refresh"  rel="tooltip" data-placement="bottom" data-original-title="<i class='text-warning fa fa-warning'></i> Advertencia! se perderán los cambios no guardados. " data-html="true">
        <i class="fa fa-refresh"></i>
      </span>
    </span>
  
    <!-- breadcrumb -->
    <ol class="breadcrumb">
      <li><%= link_to 'Inicio', root_path %></li>
      <li><%= link_to 'Alquileres', rentals_path %></li>     
      <li>Ver Alquiler</li>
    </ol>
    <!-- end breadcrumb -->
  </div>
<!-- END RIBBON -->
<% end %>
<!-- MAIN CONTENT -->
<div id="content">
<!-- widget grid -->
  <section id="widget-grid" class="">
    <!-- row -->
    <div class="row">

      <!-- NEW COL START -->
        <article class="col-sm-12 col-md-12 col-lg-6">

			<div class="jarviswidget jarviswidget-color-green" id="wid-id-3" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-colorbutton="false" >
				<header>
					<span class="widget-icon"> <i class="fa fa-eye"></i> </span>
					<h2>Ver Alquiler </h2>  
				</header>
				
				<!-- widget div-->
				<div>
					<!-- widget edit box -->
				<div class="jarviswidget-editbox">
						<!-- This area used as dropdown edit box -->
				</div>
					<!-- end widget edit box -->
				
					<!-- widget content -->
					<!--<div class="widget-body no-padding">	-->	
						<fieldset>          	
							<!-- widget div-->
							<div>
								<!-- widget edit box -->
								<div class="jarviswidget-editbox">
									<!-- This area used as dropdown edit box -->
								</div>
								<!-- end widget edit box -->
					
								<!-- widget content -->
								<div class="widget-body no-padding">
									<form class="smart-form">
										<header>
											<label class="label">Casa</label>
											<label class="input">
												<%= @rental.cottage.nombre %>
											</label>
											
											<label class="label">Cliente</label>
											<label class="input">
												<%= @rental.person.nombres %>, <%= @rental.person.apellidos %>
											</label>
										</header>
										<fieldset>

											<section>
												<label class="label">Fecha Entrada</label>
												<label class="input">
													<%= @rental.fechadesde.strftime("%d/%m/%Y") %>
												</label>
											</section>
											<section>
												<label class="label">Hora Entrada</label>
												<label class="input">
													<% if @rental.hora_entrada %>
							                        	<%= @rental.hora_entrada.to_formatted_s(:time)   %>
							                      	<% else %>
							                        	00:00
							                      	<% end %>
												</label>
											</section>
											
											<section>
												<label class="label">Fecha Salida</label>
												<label class="input">
													<%= @rental.fechahasta.strftime("%d/%m/%Y") %>
												</label>
											</section>
											
											<section>
												<label class="label">Fecha Entrega</label>
												<label class="input">
													<%= @rental.fecha_entrega.strftime("%d/%m/%Y") %>
												</label>
											</section>
											
											<section>
												<label class="label">Hora Entrega</label>
												<label class="input">
													<% if @rental.hora_entrega %>
							                        	<%= @rental.hora_entrega.to_formatted_s(:time)   %>
							                      	<% else %>
							                        	00:00
							                      	<% end %>
												</label>
											</section>

											<section>
												<label class="label">Precio/Día</label>
												<label class="input">
													<%= @rental.valordia %>
												</label>
											</section>
											<section>
												
											<section>
												<label class="label">Costo Total</label>
												<label class="input">
													<%= @rental.costo_total %>
												</label>
											</section>
											
											<section>
												<label class="label">Ganancia Dueño</label>
												<label class="input">
													<%= @rental.ganancia_dueno %>
												</label>
											</section>
            
										  
										  <section>
												<label class="label">Medidor KW Ingreso</label>
												<label class="input">
													<%= @rental.medidoringreso %>
												</label>
											</section>
											
											<section>
												<label class="label">Medidor KW Fin</label>
												<label class="input">
													<%= @rental.medidorfin %>
												</label>
											</section>
                      
                      						<section>
												<label class="label">Precio/KW</label>
												<label class="input">
													<%= @rental.valorkw %>
												</label>
											</section>
                  
                      						<section>
												<label class="label">Cant. Acompañantes</label>
												<label class="input">
													<%= @rental.cant_acomp %>
												</label>
											</section>
                      
                     						<section>
												<label class="label">Descripción</label>
												<label class="input">
													<%= @rental.descripcion %>
												</label>
											</section>
											
											<section>
												<label class="label">Transporte</label>
												<label class="input">
													<%= @rental.transporte %>
												</label>
											</section>

                     
										</fieldset>
										<footer>
										 	<div>
							               		<%= link_to 'Volver', rentals_path, class: 'btn btn-default'  %>
							            	</div>
										</footer>
									</form>
								</div>
							</div>
						</fieldset>
				<!--	</div>-->
				</div>
			</div>	
        </article>
      <!-- WIDGET END -->
    </div>
    <!-- end row -->   
 </section>
  <!-- end widget grid -->
</div>



