    <!-- Widget ID (each widget will need unique ID)-->
    <div class="jarviswidget jarviswidget-color-green" id="wid-id-3" data-widget-editbutton="false"  data-widget-deletebutton="false" data-widget-colorbutton="false" >
   
    <header>
      <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
      <h2>Usuarios</h2>  
    </header>
  
    <!-- widget div-->
    <div>
  
      <!-- widget edit box -->
      <div class="jarviswidget-editbox">
        <!-- This area used as dropdown edit box -->
  
      </div>
      <!-- end widget edit box -->
  
      <!-- widget content -->
      <div class="widget-body no-padding">
  
        <%= form_for(@identity, html:{:class => 'smart-form'}) do |f| %>
            <% if @identity.errors.any? %>
              <div class="alert alert-warning fade in">    
                <button data-dismiss="alert" class="close">×
                </button>               
                 <i class="fa-fw fa fa-warning"></i>
                <% @identity.errors.full_messages.each do |message| %>
                  <%= message %>
                <% end %>              
              </div>
            <% end %>
  
          <fieldset>          
            
            <section>
              <label>Email</label>
              <label class="input"> <i class="icon-append fa fa-envelope-o"></i>
                <%= f.email_field :email, placeholder: 'Email', required: true %>     
              </label>
            </section>
  
            <section>
              <label>Contraseña</label>
              <label class="input"> <i class="icon-append fa fa-lock"></i>                
                <%= f.password_field :password,  placeholder: 'Contraseña', required: true %>
              </label>
            </section>
  
            <section>
              <label>Confirmación Contraseña</label>
              <label class="input"> <i class="icon-append fa fa-lock"></i>               
                   <%= f.password_field :password_confirmation,placeholder: 'Confirmación contraseña', required: true %>
                </label>
            </section>
          </fieldset>
  
          <fieldset>
            <div class="row">
            
              <section class="col col-6">
                <label>Imagen</label>                
                <div class="input">
                 <%= f.file_field :avatar, label: 'Imagen',placeholder:"Examinar", class: "button",accept: 'image/png' %>
                </div>
              </section>
                         
            </div>        
          </fieldset>
          <footer>
              <%= f.submit 'Confirmar', class:'btn btn-success'   %>    
            
              <div>
                <%= link_to 'Volver', identities_path, class: 'btn btn-default'  %>
              </div>
            
          </footer>
        <% end %>
  
      </div>
      <!-- end widget content -->
  
    </div>
    <!-- end widget div -->
  
  </div>
  <!-- end widget -->


