<!-- Widget ID (each widget will need unique ID)-->
<div class="jarviswidget jarviswidget-color-green" id="wid-id-3" data-widget-editbutton="false"  data-widget-deletebutton="false" data-widget-colorbutton="false" >

  <header>
    <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
    <h2>Acompañantes
    </h2>  
  </header>
  
  <!-- widget div-->
  <div>
  
    <!-- widget edit box -->
    <div class="jarviswidget-editbox">
      <!-- This area used as dropdown edit box -->
    </div>
    <!-- end widget edit box -->
  
    <!-- widget content -->
    <div class="widget-body no-padding">
  
      <%= form_for(companion, html:{:class => 'smart-form'}) do |f| %>
       <fieldset>   
          <section>
            <div class="form-group">
              <label>Nombres</label>
              <label class="input"> <i class="icon-append fa fa-male"></i>
                <div class="row">
                  <section class="col col-5">
                     <%= f.text_field :nombre, placeholder: 'Primer Nombre', required: true %>  
                  </section>
                  <div class="col col-0"></div>
                  <section class="col col-5">
                    <%= f.text_field :seg_nombre, placeholder: 'Segundo Nombre', required: false %>  
                  </section>
                </div>  
              </label>
            </div>  
          </section>
        
          <section>
            <div class="form-group">
              <label>Apellidos</label>
              <label class="input"> <i class="icon-append fa fa-male"></i>
                <div class="row">
                  <section class="col col-5">
                    <%= f.text_field :apellido, placeholder: 'Primer Apellido', required: true %>  
                  </section>
                  <div class="col col-0"></div>
                  <section class="col col-5">
                    <%= f.text_field :seg_apellido, placeholder: 'Segundo Apellido', required: false %>  
                  </section>
                </div>  
              </label>
            </div>  
          </section>
          
          
          <section>
            <div class="form-group">
              <label>País del Documento</label>
              <% if params[:action] == "new" %>
                <%= f.collection_select  :pais_origen_doc, Nationality.all, :codigo, :nombre, { :include_blank => "Seleccionar país...", :selected => "UY"}, {:class=>'form-control', :required => false}  %>
  		        <% else %>
  		          <%= f.collection_select  :pais_origen_doc, Nationality.all, :codigo, :nombre, { :include_blank => "Seleccionar país..."}, {:class=>'form-control', :required => false}  %>
  		        <% end %>
  		      </div>
  		    </section>
          
          <section>
            <label class="input">Documento</label>
            <label class="input"> <i class="icon-append fa fa-indent"></i>
            <%= f.text_field :documento, placeholder: 'Documento', required: false,  :pattern => '[0-9a-zA-Z_\-]{6,}' %> 
            </label>
          </section>
          
          <section>
              <label class="input">Tipo Documento</label>
              <%= f.collection_select :document_type_id, DocumentType.all, :id, :nombre, { :include_blank => "Seleccionar tipo documento..."}, {:class=>'form-control',:required => false}  %> 
  	      
          </section>
       
          <section>
            <label class="input">Fecha Nacimiento </label>
            <label class="input"><i class="icon-append fa fa-calendar"></i>
              <%= f.date_field :fecha_nac, placeholder: 'Fecha Nacimiento', required: false %>     
            </label>
          </section>
          
          <section>
            <label class="input">Sexo</label>
            <label class="input"><i class="icon-append fa fa-male"></i>
             <% if params[:action] == "new" %>
               <%= f.select :sexo, [['Femenino', 'F'], ['Masculino', 'M']], {:include_blank => "Seleccionar sexo...", :selected => 'M' },  required: false, class:"form-control"  %>   
             <% else %>
                <%= f.select :sexo, [['Femenino', 'F'], ['Masculino', 'M']], {:include_blank => "Seleccionar sexo..." },  required: false, class:"form-control"  %> 
             <% end %>
            </label>
          </section>
          
          <section>
            <div class="form-group">
              <label class="input" for="">Nacionalidad</label>
              <% if params[:action] == "new" %>
                <% @uruguay = Nationality.find_by(:codigo => 'UY') %>
                <%= f.collection_select  :nationality_id, Nationality.all, :id, :nombre, { :include_blank => "Seleccionar nacionalidad...", :selected => @uruguay.id }, {:class=>'form-control',:required => false}  %>
              <% else %>
                <%= f.collection_select  :nationality_id, Nationality.all, :id, :nombre, { :include_blank => "Seleccionar nacionalidad..."}, {:class=>'form-control',:required => false}  %>
              <% end %>
  		      </div>
          </section>
          <section>
            <div class="form-group">
              <label class="input" for="">País Residencia</label>
              <% if params[:action] == "new" %>
                  <%= f.collection_select  :pais_residencia, Nationality.all, :codigo, :nombre, { :include_blank => "Seleccionar país...", :selected => "UY"}, {:class=>'form-control',:required => false}  %>
              <% else %>
                  <%= f.collection_select  :pais_residencia, Nationality.all, :codigo, :nombre, { :include_blank => "Seleccionar país..."}, {:class=>'form-control',:required => false}  %>
              <% end %>
  		      </div>
          </section>
          
          <section>
              <label>Alquiler</label>
              <div class="form-group">
                <div class="row">
                  <section class="col col-10">
                    <label class="input" > 
                      <%= f.collection_select  :rental_id, Rental.where(:estado => :confirmada).or(Rental.where(:estado => :ingresada)).or(Rental.where(:estado => :encurso, )), :id, :casa_cliente, { :include_blank => "Seleccionar alquiler..."}, {:class=>'form-control', :required => true, :id => 'rental_id'} %>   
                    </label> 
                  </section>
                  <section class="col col-1">
                     <label class="input">
                      <%= link_to "", '',class: 'btn btn-success btn-sm fa fa-plus', data: { toggle: "modal", target: "#myModal" } %>
                    </label>
                  </section>
                </div>
              </div>
            <section>
        </fieldset>
        
        
        <footer>
          <%= f.submit 'Confirmar', class:'btn btn-success'   %>  
          <div>
            <%= link_to 'Volver', companions_path, class: 'btn btn-default' %>
          </div>
        </footer>
      <% end %>
  
    </div>
    <!-- end widget content -->
  
  </div>
  <!-- end widget div -->

</div>
<!-- end widget -->




 <%= render 'rentals/modal' %>