<% content_for :ribbon do %>
  <!-- RIBBON -->
  <div id="ribbon">
  
    <span class="ribbon-button-alignment">
      <span id="refresh" class="btn btn-ribbon" data-action="resetWidgets" data-title="refresh"  rel="tooltip" data-placement="bottom" data-original-title="<i class='text-warning fa fa-warning'></i> Advertencia! se perderán los cambios no guardados. " data-html="true">
        <i class="fa fa-refresh"></i>
      </span>
    </span>
  
    <!-- breadcrumb -->
    <ol class="breadcrumb">
      <li><%= link_to 'Inicio', root_path %></li>
    	<li><%= link_to 'Acompañantes', companions_path %></li>
      <li>Ver Acompañante</li>
    </ol>
    <!-- end breadcrumb -->
  </div>
<!-- END RIBBON -->
<% end %>


<!-- MAIN CONTENT -->
<div id="content">
<!-- widget grid -->
  <section id="widget-grid" class="">
    <!-- row -->
    <div class="row">

      <!-- NEW COL START -->
        <article class="col-sm-12 col-md-12 col-lg-6">

			<div class="jarviswidget jarviswidget-color-green" id="wid-id-3" data-widget-editbutton="false"  data-widget-deletebutton="false" data-widget-colorbutton="false" >
				<header>
					<span class="widget-icon"> <i class="fa fa-eye"></i> </span>
					<h2>Ver Acompañante</h2>  
				</header>
				
				<!-- widget div-->
				<div>
					<!-- widget edit box -->
				<div class="jarviswidget-editbox">
						<!-- This area used as dropdown edit box -->
				</div>
					<!-- end widget edit box -->
				
					<!-- widget content -->
					<!--<div class="widget-body no-padding">	-->	
						<fieldset>          	
							<!-- widget div-->
							<div>
								<!-- widget edit box -->
								<div class="jarviswidget-editbox">
									<!-- This area used as dropdown edit box -->
								</div>
								<!-- end widget edit box -->
					
								<!-- widget content -->
								<div class="widget-body no-padding">
									<form class="smart-form">
										<header>
											<label class="label">Nombre</label>
											<label class="input">
												<%= @companion.nombre %>&nbsp;   
												<%= @companion.seg_nombre %>, 
												<%= @companion.apellido %> &nbsp;
												<%= @companion.seg_apellido %>
											</label>
										</header>
										<fieldset>
											<section>
												<label class="label">País documento</label>
												<label class="input">
													<% @nationality = Nationality.find_by(:codigo =>@companion.pais_origen_doc) %>
													<%= @nationality.nombre if @nationality %>
												</label>
											</section>	
												
											<section>
												<label class="label">Tipo documento</label>
												<label class="input">
													<%= @companion.document_type.nombre if @companion.document_type %>
												</label>
											</section>
											<section>
												<label class="label">Documento</label>
												<label class="input">
													<%= @companion.documento %>
												</label>
											</section>
											<section>
												<label class="label">Fecha Nacimiento</label>
												<label class="input">
													<%= @companion.fecha_nac %>
												</label>
											</section>
											<section>
												<label class="label">Sexo</label>
												<label class="input">
													<%= @companion.sexo %>
												</label>
											</section>
											<section>
												<label class="label">Nacionalidad</label>
												<label class="input">
													<%= @companion.nationality.nombre  if @companion.nationality %>
												</label>
											</section>
											<section>
												<label class="label">País residencia</label>
												<label class="input">
													<% @nationality = Nationality.find_by(:codigo => @companion.pais_residencia) %>
													<%= @nationality.nombre if @nationality %>
												</label>
											</section>
									
										</fieldset>
										<footer>
										 	<div>
					               <%= link_to 'Volver', companions_path, class: 'btn btn-default'  %>
					            </div>
										</footer>
									</form>
								</div>
							</div>
						</fieldset>
				<!--	</div>-->
				</div>
			</div>	
        </article>
      <!-- WIDGET END -->
    </div>
    <!-- end row -->   
 </section>
  <!-- end widget grid -->
</div>
