

    <!-- Widget ID (each widget will need unique ID)-->
    <div class="jarviswidget jarviswidget-color-green" id="wid-id-3" data-widget-editbutton="false"  data-widget-deletebutton="false" data-widget-colorbutton="false">
   
    <header>
      <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
      <h2>Categoría</h2>  
    </header>
  
    <!-- widget div-->
    <div>
  
      <!-- widget edit box -->
      <div class="jarviswidget-editbox">
        <!-- This area used as dropdown edit box -->
  
      </div>
      <!-- end widget edit box -->
  
      <!-- widget content -->
      <div class="widget-body no-padding">
  
        <%= form_for(@category, html:{:class => 'smart-form'}) do |f| %>
          <fieldset>         
            
            <section>
              <label>Descripcíon</label>
              <label class="input"> <i class="icon-append fa fa-gears"></i>
                <%= f.text_field :descripcion, placeholder: 'Descripción'%>     
                
              </label>
            </section>
          </fieldset>
          <footer>
            <%= f.submit 'Confirmar', class:'btn btn-success'   %>  
            <div>
               <%= link_to 'Volver', categories_path, class: 'btn btn-default'  %>
            </div>
          </footer>
        <% end %>
  
      </div>
      <!-- end widget content -->
  
    </div>
    <!-- end widget div -->
  
  </div>
  <!-- end widget -->




