<p id="notice"><%= notice %></p>

<p>
  <strong>Descripcion:</strong>
  <%= @email.descripcion %>
</p>

<p>
  <strong>Email:</strong>
  <%= @email.email %>
</p>

<p>
  <strong>Person:</strong>
  <%= @email.person %>
</p>

<%= link_to 'Edit', edit_email_path(@email) %> |
<%= link_to 'Back', emails_path %>
