<!-- Widget ID (each widget will need unique ID)-->
<div class="jarviswidget jarviswidget-color-green" id="wid-id-3" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-colorbutton="false">

  <header>
    <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
    <h2>Gasto</h2>  
  </header>
  
  <!-- widget div-->
  <div>
  
    <!-- widget edit box -->
    <div class="jarviswidget-editbox">
      <!-- This area used as dropdown edit box -->
  
    </div>
    <!-- end widget edit box -->
  
    <!-- widget content -->
    <div class="widget-body no-padding" >
  
      <%= form_for(@expense, html:{:class => 'smart-form'}) do |f| %>
          <% if @expense.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@cottage.errors.count, "error") %> prohibited this identity from being saved:</h2>          
              <ul>
              <% @expense.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
              </ul>
            </div>
          <% end %>
        
  
        <fieldset>          
          
          <section>
            <label>Importe</label>
            <label class="input"> <i class="icon-append fa fa-money"></i>
              <%= f.number_field :importe, placeholder: 'Importe', required: true %>     
            </label>
          </section>
  
          <section>
            <label>Fecha</label>
            <label class="input"> <i class="icon-append fa fa-group"></i>                
              <%= f.date_field :fecha,  placeholder: 'Fecha', required: true %>
            </label>
          </section>
        
          <section>
            <label>Descripción</label>
            <label class="input"> <i class="icon-append fa fa-comment"></i>               
                 <%= f.text_field :descripcion, placeholder: 'Descripción', required: true %>
              </label>
          </section>
          
          <section>
            <label class="input" for="">Categoría</label>
            <%= f.collection_select  :category_id, Category.all, :id, :descripcion, { :include_blank => "Seleccionar categoria..."}, {:class=>'form-control'}  %>
  		    </section>
          
          <section>
            <label class="input" for="">Dueño</label>
            <%= f.collection_select  :person_id, Person.where(:tipo => "D"), :id, :nom_ape, { :include_blank => "Seleccionar dueño..."}, {:class=>'form-control'}  %>
  		    </section>
      
           <section>
            <label class="input" for="">Casa</label>
            <%= f.collection_select  :cottage_id, Cottage.all, :id, :nombre, { :include_blank => "Seleccionar casa..."}, {:class=>'form-control',  :required => true}  %>
  		    </section>
        </fieldset>
  
        <fieldset>
  
        </fieldset>
        <footer>
          <%= f.submit 'Confirmar', class:'btn btn-success'   %>  
          <div>
            <%= link_to 'Volver', expenses_path, class: 'btn btn-default'  %>
            
          </div>
        </footer>
      <% end %>
  
    </div>
    <!-- end widget content -->
  
  </div>
  <!-- end widget div -->
  
</div>
<!-- end widget -->