<% content_for :ribbon do %>
  <!-- RIBBON -->
  <div id="ribbon">
  
    <span class="ribbon-button-alignment">
      <span id="refresh" class="btn btn-ribbon" data-action="resetWidgets" data-title="refresh"  rel="tooltip" data-placement="bottom" data-original-title="<i class='text-warning fa fa-warning'></i> Advertencia! se perderán los cambios no guardados. " data-html="true">
        <i class="fa fa-refresh"></i>
      </span>
    </span>
  
    <!-- breadcrumb -->
    <ol class="breadcrumb">
      <li><%= link_to 'Inicio', root_path %></li>
      <li><%= link_to 'Gastos', expenses_path %></li>     
      <li>Ver Gasto</li>
    </ol>
    <!-- end breadcrumb -->
  </div>
<!-- END RIBBON -->
<% end %>

<!-- MAIN CONTENT -->
<div id="content">
<!-- widget grid -->
  <section id="widget-grid" class="">
    <!-- row -->
    <div class="row">

      <!-- NEW COL START -->
        <article class="col-sm-12 col-md-12 col-lg-6">

			<div class="jarviswidget jarviswidget-color-green" id="wid-id-3" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-colorbutton="false" >
				<header>
					<span class="widget-icon"> <i class="fa fa-eye"></i> </span>
					<h2>Ver Gasto </h2>  
				</header>
				
				<!-- widget div-->
				<div>
					<!-- widget edit box -->
				<div class="jarviswidget-editbox">
						<!-- This area used as dropdown edit box -->
				</div>
					<!-- end widget edit box -->
				
					<!-- widget content -->
					<!--<div class="widget-body no-padding">	-->	
						<fieldset>          	
							<!-- widget div-->
							<div>
								<!-- widget edit box -->
								<div class="jarviswidget-editbox">
									<!-- This area used as dropdown edit box -->
								</div>
								<!-- end widget edit box -->
					
								<!-- widget content -->
								<div class="widget-body no-padding">
									<form class="smart-form">
										<header>
											<label class="label">Casa</label>
											<label class="input">
												<%= @expense.cottage.nombre %>
											</label>
										</header>
										<fieldset>
                      <section>
												<label class="label">Importe</label>
												<label class="input">
													<%= @expense.importe %>
												</label>
											</section>
											<section>
												<label class="label">Fecha</label>
												<label class="input">
													<%= @expense.fecha %>
												</label>
											</section>
											<section>
												<label class="label">Descripción</label>
												<label class="input">
													<%= @expense.descripcion %>
												</label>
											</section>
											<% if @expense.category %>
												<section>
													<label class="label">Categoria</label>
													<label class="input">
														<%= @expense.category.descripcion %>
													</label>
												</section>
											<% end %> 
											<% if @expense.person %>
												<section>
													<label class="label">Persona</label>
													<label class="input">
	                        	<%= @expense.person.nom_ape %>
			                 		</label>
												</section>
											<% end %> 
										</fieldset>
										<footer>
									    <%= link_to 'Volver', expenses_path, class: 'btn btn-default'  %>
										</footer>
									</form>
								</div>
							</div>
						</fieldset>
				<!--	</div>-->
				</div>
			</div>	
        </article>
      <!-- WIDGET END -->
    </div>
    <!-- end row -->   
 </section>
<!-- end widget grid -->
</div>