<!-- Modal -->
<div class="modal fade bs-example-modal-sm" id="ModalDatC" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                      &times;
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Alquiler</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <strong>Casa:</strong>
                                <input type="text" id="casa_nombre" readonly> 
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <strong>Cliente:</strong>
                                <input type="text" id="persona" readonly> 
                            </div>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <strong>Pago Luz?:</strong>
                                <input type="text" id="luz_ingreso" readonly> 
                            </div>
                        </div>
                    </div>
                    
                    <div class="row">
                      <div class="col-sm-6">
                        <div class="form-group">
                            <strong>Fecha Entrada:</strong>
                            <input type="text" id="fechadesde" readonly> 
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="form-group">
                            <strong>Hora Entrada:</strong>
                            <input type="text" id="horadesde" readonly> 
                        </div>
                      </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-sm-6" data-hide="phone">
                            <div class="form-group">
                                <strong>Fecha Salida:</strong>
                                <input type="text" id="fechahasta" readonly> 
                            </div>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-sm-6" data-hide="phone">
                            <div class="form-group">
                                <strong>Fecha Entrega:</strong>
                                <input type="text" id="fechaentrega" readonly> 
                            </div>
                        </div>
                        <div class="col-sm-6" data-hide="phone">
                            <div class="form-group">
                                <strong>Hora Entrega:</strong>
                                <input type="text" id="horahasta" readonly> 
                            </div>
                        </div>
                    </div>
                    
                    
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <strong>Telefono:</strong>
                                <input type="text" id="tel1" readonly> 
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <strong>Email:</strong>
                                <input type="text" id="email" readonly> 
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="row" align="center">
                        <a id="btn_luz" class="btn btn-info fa fa-lightbulb-o" style="width:130px"> Pagar Luz</a>
                    </div>
                    </br>
                    <div class="row" align="center">
                        <a id="btn_confirmar" class="btn btn-info fa fa-money" style="width:130px"> Pagar</a>
                         <a id="btn_ingreso" class="btn btn-warning fa fa-file" style="width:130px"> Imprimir Control</a>
                    </div>  
                    </br>
                    <div class="row" align="center">
                        <a id="btn_finalizar" class="btn btn-primary bg-color-blueDark fa fa-check" style="width:130px"> Finalizar Alquiler</a>
                        <a id="btn_cancelar" class="btn btn-danger fa fa-remove" style="width:130px"> Cancelar Alquiler</a>
                    </div>

                </div>
       
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<style>
    
    input {
        background-color: transparent;
        border: 0px solid;
        height: 20px;
        width: 160px;
       
    }
</style>

