<!-- Modal -->
<div class="modal fade bs-example-modal-lg" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
          &times;
        </button>
        <h4 class="modal-title" id="myModalLabel">Alquiler</h4>
      </div>
      <div class="modal-body">
          <% @person = Person.new %>
          
          <% @person.tipo = 'C' %>
          <%  @person.rentals.build do |r|
                r.incomes.build
              end
          %>
          <%= nested_form_for(@person,html:{ :id=>"wizard-1" }) do |f| %>                 
              <div id="bootstrap-wizard-1" class="col-sm-12">
                <div class="form-bootstrapWizard">
                  <ul class="bootstrapWizard form-wizard">
                    <li class="active" data-target="#step1">
                      <a href="#tab1" data-toggle="tab"> <span class="step">1</span> <span class="title">Cliente</span> </a>
                    </li>
                    <li data-target="#step2">
                      <a href="#tab2" data-toggle="tab"> <span class="step">2</span> <span class="title">Alquiler</span> </a>
                    </li>
                    <li data-target="#step3">
                      <a href="#tab3" data-toggle="tab"> <span class="step">3</span> <span class="title">Confirmación</span> </a>
                    </li>
                  </ul>
                  <div class="clearfix"></div>
                </div>
                <div class="tab-content">
                    <div class="tab-pane active" id="tab1">
                      <br>
                      <h3><strong>Paso 1 </strong> - Cliente</h3>
                      <div class="row">
                        <div class="col-sm-6">
                          <div class="form-group">
                              <label>Primer Nombre</label>
                              <%= f.text_field :nombres, class:"form-control" ,placeholder: "Primer Nombre" %> 
                          </div>
                        </div>
                        <div class="col-sm-6">
                          <div class="form-group">
                              <label>Segundo Nombre</label>
                              <%= f.text_field :segundo_nom, class:"form-control" ,placeholder: "Segundo Nombre" %> 
                          </div>
                        </div>
                      </div>
                      
                      <div class="row">
                        <div class="col-sm-6">
                          <div class="form-group">
                              <label>Primer Apellido</label>
                              <%= f.text_field :apellidos, class:"form-control", placeholder: "Primer Apellido" %>   
                          </div>
                        </div>
                        <div class="col-sm-6">
                          <div class="form-group">
                              <label>Segundo Apellido</label>
                              <%= f.text_field :segundo_ape, class:"form-control" ,placeholder: "Segundo Apellido" %> 
                          </div>
                        </div>
                      </div>
                      
                      <div class="row">
                        <div class="col-sm-6">
                          <div class="form-group">
                              <label>Documento</label>
                              <%= f.text_field :documento, class:"form-control", placeholder: "Documento" %>   
                          </div>
                        </div>
                        <div class="col-sm-6">
                          <div class="form-group">
                              <label>Tipo Documento</label>
                               <%= f.collection_select :document_type_id, DocumentType.all, :id, :nombre, { :include_blank => "Seleccionar tipo documento..."}, {:class=>'form-control',:required => false}  %> 
                          </div>
                        </div>
                      </div>
                      
                      <%= f.hidden_field :tipo %>  
                      
                      <div class="row">
                        <div class="col-sm-6">
                           <section>
                              <div class="form-group">
                                <label>Telefonos</label>
                                 <%= f.fields_for :phones do |phone| %>
                                  <label class="input"></i>
                                    <div class="row">
                                      <div class="col-sm-1">
                                        <%= phone.link_to_remove "",class: "btn btn-danger btn-sm fa fa-remove" %>
                                      </div>
                                      <div class="col-sm-4">
                                        <%= phone.text_field :descripcion , placeholder: 'Descripción', required: false,class:"form-control" %>    
                                        
                                      </div>
                                      <div class="col-sm-4">
                                        <%= phone.text_field :numero , placeholder: 'Numero', required: false,class:"form-control" %> 
                                      </div>
                                    </div>
                                  </label>
                                <% end %>
                              </div>
                              <%= f.link_to_add "", :phones, class: "btn btn-info btn-sm fa fa-plus" %>
                           </section>
                        </div>
                        
                        <div class="col-sm-6">
                          <section>
                              <div class="form-group">
                                <label>Emails</label>
                                 <%= f.fields_for :emails do |email| %>
                                  <label class="input"></i>
                                    <div class="row">
                                      <div class="col-sm-1">
                                        <%= email.link_to_remove "",class: "btn btn-danger btn-sm fa fa-remove" %>
                                      </div>
                                      <div class="col-sm-4">
                                        <%= email.text_field :descripcion , placeholder: 'Descripción', required: false,class:"form-control" %>    
                                        
                                      </div>
                                      <div class="col-sm-4">
                                        <%= email.text_field :email , placeholder: 'Email', required: false,class:"form-control" %> 
                                      </div>
                                    </div>
                                  </label>
                                <% end %>
                              </div>
                              <%= f.link_to_add "", :emails, class: "btn btn-info btn-sm fa fa-plus" %>
                           </section>
                        </div>
                        
                      </div>
                      
                    </div>
                   
                 
                    <div class="tab-pane" id="tab2">
                      <br>
                      <h3><strong>Paso 2</strong> - Alquiler</h3>
                             
                      <%= f.fields_for :rentals do |rental| %>
                        <div class="row">
                          <div class="col-sm-6">
                            <div class="form-group">
                                <label>Casa</label>
                                <%= rental.collection_select :cottage_id, Cottage.all, :id, :nombre, { :include_blank => "Seleccionar casa..."}, {:class=>'form-control',:onchange => 'verGanancia();', :required => true} %> 
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-sm-6">
                            <div class="form-group">
                                <label>Fecha Entrada</label>
                                <%= rental.date_field :fechadesde, class:"form-control", placeholder: "Fecha Desde"%>   
                            </div>
                          </div>
                          <div class="col-sm-6">
                            <div class="form-group">
                                <label>Hora Entrada</label>
                                <%= rental.time_field :hora_entrada, class:"form-control", placeholder: "Hora Entrada"%>   
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-sm-6">
                            <div class="form-group">
                                 <label>Fecha Salida</label>
                                <%= rental.date_field :fechahasta, class:"form-control", placeholder: "Fecha Hasta"%>     
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-sm-6">
                            <div class="form-group">
                                <label>Fecha Entrega</label>
                                <%= rental.date_field :fecha_entrega, class:"form-control", placeholder: "Fecha Entrega"%>   
                            </div>
                          </div>
                          <div class="col-sm-6">
                            <div class="form-group">
                                <label>Hora Entrega</label>
                                <%= rental.time_field :hora_entrega, class:"form-control", placeholder: "Hora Entrega"%>   
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-sm-4">
                            <div class="form-group">
                                <label>Valor/Día</label>
                                <%= rental.number_field :valordia, class:"form-control", placeholder: "Valor/Día"%>   
                            </div>
                          </div>
                          <div class="col-sm-4">
                            <div class="form-group">
                                <label>Costo Total</label>
                                <%= rental.number_field :costo_total, class:"form-control", placeholder: "Costo total"%>   
                            </div>
                          </div>
                          <section id="gdueno" style="display: none;">
                            <div class="col-sm-4">
                              <div class="form-group">
                                  <label>Ganancia Dueño</label>
                                  <%= rental.number_field :ganancia_dueno, class:"form-control", placeholder: "Ganancia Dueño"%>   
                              </div>
                            </div>
                          </section>
                        </div>
                        
                        <div class="row">
                          <div class="col-sm-6">
                            <div class="form-group">
                                <label>Cant. Acompañantes</label>
                                <%= rental.number_field :cant_acomp, class:"form-control", placeholder: "Cant. Acompañantes"%>   
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-sm-6">
                            <div class="form-group">
                                <label>Descripción</label>
                                <%= rental.text_field :descripcion, class:"form-control", placeholder: "Descripción"%>   
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-sm-6">
                            <div class="form-group">
                                <label>Transporte</label>
                                <%= rental.text_field :transporte, class:"form-control", placeholder: "Transporte"%>   
                            </div>
                          </div>
                        </div>
                        
                        <section>
                          <label>Paga Luz?</label>   
                          <%=check_box_tag('luz', '1', false, {:onchange => 'habilitarLuz();'}) %>
                        </section>
                        </br>
                        <section id="miluz" style="display: none;">
                           <h3>Datos Luz</h3>
                          <div class="row">
                            <div class="col-sm-6">
                              <div class="form-group">
                                  <label>Medidor KW Ingreso</label>
                                  <%= rental.number_field :medidoringreso, class:"form-control", placeholder: "Medidor KW Ingreso"%>   
                              </div>
                            </div>
                            <div class="col-sm-6">
                              <div class="form-group">
                                  <label>Precio/KW</label>
                                 <%= rental.number_field :valorkw, class:"form-control", placeholder: "Precio/KW"%>    
                              </div>
                            </div>
                          </div>
                        </section>
                        
                        <section>
                          <label>Realiza Ingreso?</label>   
                          <%=check_box_tag('ingreso', '1', false, {:onchange => 'habilitarIngreso();'}) %>
                        </section>
                        </br>
                        
                        <section id="ingreso_sect" style="display: none;">
                          <h3>Ingresos</h3>
                          <%= rental.fields_for :incomes do |income| %>
                              <div class="row">
                                <div class="col-sm-6">
                                  <div class="form-group">
                                      <label>Fecha</label>
                                      <%= income.date_field :fecha, class:"form-control", placeholder: "Fecha", required: true , value: Time.now.strftime("%Y-%m-%d") %>   
                                  </div>
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-sm-6">
                                  <div class="form-group">
                                      <label>Tipo</label>
                                      <%= income.select :tipo, [['Giro', 'G'], ['Efectivo', 'E']], {:include_blank => "Seleccionar tipo..."},  required: true, class:"form-control"  %>  
                                  </div>
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-sm-6">
                                  <div class="form-group">
                                      <label>Importe</label>
                                      <%= income.number_field :importe,placeholder: 'Importe', data: { rule_menorRestante: "true"},class:"form-control",  required: true   %> 
                                  </div>
                                </div>
                              </div>
                          <% end %>
                        </section>
                        
                        
                        
                        <section>
                          <label>Acompañantes?</label>   
                          <%=check_box_tag('acompa', '1', false, {:onchange => 'habilitarAcompa();'}) %>
                        </section>
                        </br>
                        
                        <section id="acompas_sect" style="display: none;">
                          <h3>Acompañantes</h3>
                          <%= rental.fields_for :companions do |companion| %>
                    
                            <section class="col col-1">
                               <label class="input">
                                <%= companion.link_to_remove "",class: "btn btn-danger btn-sm fa fa-remove" %>
                              </label>
                            </section>
                            <div class="row">
                              <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Nombre</label>
                                    <%= companion.text_field :nombre , placeholder: 'Nombre', required: false,class:"form-control" %>       
                                </div>
                              </div>
                              <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Segundo Nombre</label>
                                    <%= companion.text_field :seg_nombre , placeholder: 'Segundo Nombre', required: false,class:"form-control" %>        
                                </div>
                              </div>
                            </div>
                            
                            <section class="col col-1"></section>
    
                            <div class="row">
                              <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Apellido</label>
                                    <%= companion.text_field :apellido , placeholder: 'Apellido', required: false, class:"form-control" %>        
                                </div>
                              </div>
                              <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Segundo Apellido</label>
                                    <%= companion.text_field :seg_apellido , placeholder: 'Segundo Apellido', required: false, class:"form-control" %>        
                                </div>
                              </div>
                            </div>
                           
                            <section class="col col-1"></section>
                            
                            
                            <div class="row">
                              <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Documento</label>
                                    <%= companion.text_field :documento , placeholder: 'Documento', required: false, class:"form-control" %>         
                                </div>
                              </div>
                              <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Tipo Documento</label>
                                    <%= companion.collection_select :document_type_id, DocumentType.all, :id, :nombre, { :include_blank => "Seleccionar tipo documento..."}, {:class=>'form-control',:required => false}  %> 
                                </div>
                              </div>
                            </div>
                            
                          <% end %>
              
                          <%= rental.link_to_add "", :companions, class: "btn btn-info btn-sm fa fa-plus" %>
                        </section>
                      <% end %>  
                         
                    </div>
                  
                    <div class="tab-pane" id="tab3">
                      <br>
                      <h3><strong>Paso 3</strong> - Confirmación</h3>
                      <br>
                      <h1 class="text-center text-success"><strong><i class="fa fa-check fa-lg"></i> Completo</strong></h1>
                     
                      <br>
                      <br>
                      
                    </div>
                    <div class="modal fade" id="completeModal" tabindex="-1" role="dialog">
                        <div class="modal-dialog modal-sm">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title">Confirmación</h4>
                                </div>
                    
                                <div class="modal-body">
                                    <p class="text-center">El alquiler esta completo</p>
                                    
                                </div>
                    
                                <div class="modal-footer">
                                  <%= f.submit 'Finalizar', class:"btn-success text-center" %>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-actions">
                      <div class="row">
                        <div class="col-sm-12">
                          <ul class="pager wizard no-margin">
                           
                            <li class="previous disabled">
                              <a href="javascript:void(0);" class="btn btn-lg btn-default"> Anterior </a>
                            </li>
                           
                            <li class="next" id="next1">
                              <a href="javascript:void(0);" class="btn btn-lg txt-color-darken"> Siguiente </a>
                              
                            </li>
                            
                          </ul>
                        </div>
                      </div>
                    </div>
                </div>
              </div>
          <% end %>
      </div>
      <div class="modal-footer">
        
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<% content_for :scripts do %>
  <script>
   
    function habilitarLuz(){

        check = document.getElementById("luz");
        if (check.checked){
          $("#miluz").css({'display':'block'});
        }else {
          $("#miluz").css('display','none');
        }
    }
    
    function habilitarIngreso(){

        check = document.getElementById("ingreso");
        if (check.checked){
          $("#ingreso_sect").css({'display':'block'});
        }else {
          $("#ingreso_sect").css('display','none');
          
        }
    }
    
    function habilitarGasto(){

        check = document.getElementById("gasto");
        if (check.checked){
          $("#gasto_sect").css({'display':'block'});
        }else {
          $("#gasto_sect").css('display','none');
          
        }
    }
    
    function habilitarAcompa(){

        check = document.getElementById("acompa");
        if (check.checked){
          $("#acompas_sect").css({'display':'block'});
        }else {
          $("#acompas_sect").css('display','none');
          
        }
    }
    
    
    
    function verGanancia() {
      
        var id = $("#person_rentals_attributes_0_cottage_id").val();
        var tipoc = ''
        
        if (id!=0){
          <% @cottages = Cottage.all %>
          <% @cottages.each do |c|%>
              var idc= '<%= c.id %>';
              if (id == idc){
                tipoc = '<%= c.tipo %>';
              }
          <% end %>
        }

        if (tipoc=='P'){
          $("#gdueno").css({'display':'none'});
          $("#person_rentals_attributes_0_ganancia_dueno").val(""); 
        }else {
          $("#gdueno").css('display','block');
        }

    }

    window.onload= verGanancia();
    
    
    // DO NOT REMOVE : GLOBAL FUNCTIONS!

    $(document).ready(function() {
      
      pageSetUp();

      $("#person_rentals_attributes_0_valordia").keyup(function(){
        Total();
      });

      $("#person_rentals_attributes_0_fechadesde").change(function(){
        Total();
      });
       
      $("#person_rentals_attributes_0_fecha_entrega").change(function(){
        Total();
      });
     
      function Total(){
        var start = $("#person_rentals_attributes_0_fechadesde").val();
        var end = $("#person_rentals_attributes_0_fecha_entrega").val();
        
        inicial = start.split("-");
	    	final   = end.split("-");
	    	
	    	var dateStart = new Date(inicial[0],inicial[1],inicial[2]);
        var dateEnd   = new Date(final[0],final[1],final[2]);
        
        var days = (dateEnd - dateStart)/1000/60/60/24;
  
        if(days == 0){
          var days = 1;
        }
        
        val = $("#person_rentals_attributes_0_valordia").val() * days;
        $("#person_rentals_attributes_0_costo_total").val(val);
      }   

        
      $.validator.addMethod("menorRestante", function(value, element) {
          var total = $("#person_rentals_attributes_0_costo_total").val();
          var importe = Number(value)
          return total >= importe
      });
      //Bootstrap Wizard Validations

      var $validator = $("#wizard-1").validate({

        rules: {
          "person[nombres]": {
            required: true,
          },
          "person[apellidos]": {
            required: true
          },
          "person[document_type_id]": {
            required: false
          },
          "person[nationality_id]": {
            required: false
          },
          "person[documento]": {
            required: false
          },
          "person[fecha_nac]": {
            required: false
          },
          "person[sexo]": {
            required: false
          },
          "person[pais_origen_doc]": {
            required: false
          },
          "person[pais_residencia]": {
            required: false
          },
          "person[rentals_attributes][0][fechadesde]": {
            required: true
          },
          "person[rentals_attributes][0][fechahasta]": {
            required: true
          },
           "person[rentals_attributes][0][fecha_entrega]": {
            required: true
          },
          "person[rentals_attributes][0][valordia]": {
            required: true
          },
          "person[rentals_attributes][0][cant_acomp]": {
            required: true
          },
           "person[rentals_attributes][0][ganancia_dueno]": {
            required: true
          },
          "person[cottage_id]": {
            required: true
          },
          "person[rentals_attributes][0][incomes_attributes][0][importe]": {
            required: true,
          },
          "person[rentals_attributes][0][incomes_attributes][0][tipo]": {
            required: true
          },
          "person[rentals_attributes][0][incomes_attributes][0][importe]": {
            required: true,
            min: 1,
            
          }
        },

        messages: {
          "person[nombres]": "Por favor ingrese los nombres",
          "person[apellidos]": "Por favor ingrese los apellidos",
          "person[document_type_id]": "Por favor seleccione el tipo de documento",
          "person[nationality_id]": "Por favor seleccione la nacionalidad",
          "person[documento]": "Por favor ingrese el documento",
          "person[fecha_nac]": "Por favor ingrese la fecha de nacimiento",
          "person[sexo]": "Por favor seleccione el sexo",
          "person[pais_origen_doc]": "Por favor seleccione el país del documento",
          "person[pais_residencia]": "Por favor seleccione el país de residencia",
          "person[rentals_attributes][0][cottage_id]": {
            required: "Por favor seleccione la casa"
          },
          "person[rentals_attributes][0][fechadesde]": {
            required: "Por favor ingrese la fecha desde",
          },
          "person[rentals_attributes][0][fechahasta]": {
            required: "Por favor ingrese la fecha hasta",
          },
          "person[rentals_attributes][0][fecha_entrega]": {
            required: "Por favor ingrese la fecha de entrega",
          },
          "person[rentals_attributes][0][hora_entrega]": {
            required: "Por favor ingrese la hora de entrega",
          },
          "person[rentals_attributes][0][valordia]": {
            required: "Por favor ingrese el valor por día",
          },
           "person[rentals_attributes][0][costo_total]": {
            required: "Por favor ingrese el costo total",
          },
           "person[rentals_attributes][0][ganancia_dueno]": {
            required: "Por favor ingrese la ganancia del dueño",
          },
          "person[rentals_attributes][0][cant_acomp]": {
            required: "Por favor ingrese la cantidad de acompañantes",
          },
          "person[rentals_attributes][0][incomes_attributes][0][fecha]": {
            required: "Por favor ingrese la fecha"
          },
          "person[rentals_attributes][0][incomes_attributes][0][tipo]": {
            required: "Por favor seleccione el tipo"
          },
          "person[rentals_attributes][0][incomes_attributes][0][importe]": {
            required: "Por favor ingrese el importe",
            menorRestante: "El importe debe ser igual o menor al costo total.",
            min:"El importe debe ser mayor a 0"  
          }
        },

        highlight: function (element) {
          $(element).closest('.form-group').removeClass('has-success').addClass('has-error');
        },
        unhighlight: function (element) {
          $(element).closest('.form-group').removeClass('has-error').addClass('has-success');
        },
        errorElement: 'span',
        errorClass: 'help-block',
        errorPlacement: function (error, element) {
          if (element.parent('.input-group').length) {
            error.insertAfter(element.parent());
          } else {
            error.insertAfter(element);
          }
        }
      });

      $('#bootstrap-wizard-1').bootstrapWizard({
        tabClass: 'form-wizard',
        onTabClick: function(tab, navigation, index) {
          return validateTab(index);
        },
        onNext: function (tab, navigation, index) {
            ok = validateTab(index);
            if (ok) {
              var numTabs    = $('#bootstrap-wizard-1').find('.tab-pane').length;
              if (index == numTabs) {
                  $('#completeModal').modal();
              }
              return ok;
            }else{
              return ok;
            }  
        },
        onTabShow: function(tab, navigation, index) {

          var numTabs = $('#bootstrap-wizard-1').find('.tab-pane').length;
          $('#bootstrap-wizard-1')
              .find('.next')
                  .removeClass('disabled')    // Enable the Next button
                  .find('a')
                  .html(index === numTabs - 1 ? 'Finalizar' : 'Siguiente');

        }
      });



      function validateTab(index) {
          var $valid = $("#wizard-1").valid();
          if (!$valid) {
            $validator.focusInvalid();
            return false;
          } else {
            var ok = true;
            if ($( "#person_rentals_attributes_0_fecha_entrega" ).val()){
              var ok = controlarReserva();
            } 
            if (ok){
              $('#bootstrap-wizard-1').find('.form-wizard').children('li').eq(index - 1).addClass(
              'complete');
              $('#bootstrap-wizard-1').find('.form-wizard').children('li').eq(index - 1).find('.step')
                .html('<i class="fa fa-check"></i>');
              return true;
            }else{
              return false;
            }
            
          }
        
      }
      
      function controlarReserva() {
        var fecha_desde = $( "#person_rentals_attributes_0_fechadesde" ).val();
        var fecha_hasta = $( "#person_rentals_attributes_0_fechahasta" ).val();
        var fecha_entrega = $( "#person_rentals_attributes_0_fecha_entrega" ).val();
        var hora_entrada = $( "#person_rentals_attributes_0_hora_entrada" ).val();
        var hora_entrega = $( "#person_rentals_attributes_0_hora_entrega" ).val();
        var cottage_id =  $("#person_rentals_attributes_0_cottage_id").val();

        var ok = true;
        <% @rentals = Rental.all() %>
        <% @rentals.each do |r|%>
            var cot_id= '<%= r.cottage_id %>';
            var state = '<%= r.estado %>';
            if (cottage_id == cot_id && state != 'cancelada'){
              var fdesde ='<%= r.fechadesde %>';
              var fhasta = '<%= r.fechahasta %>';
              var fentrega = '<%= r.fecha_entrega %>';
              var hentrega = '<%= r.hora_entrega.to_formatted_s(:time) if r.hora_entrega  %>';
              if((fdesde >= fecha_desde && fdesde <= fecha_hasta) || (fentrega >= fecha_desde && fentrega <= fecha_hasta) ){
                  if (fentrega == fecha_desde){
                      if (hora_entrada <= hentrega ){
                          ok = false; 
                          swal("Error", 'La casa esta ocupada a la hora de entrada indicada.', "error");
                      }
                  }else{
                    ok = false; 
                    swal("Error", 'La casa esta ocupada para el periodo indicado.', "error");
                  }
              }
              if (!ok){
                return ok;
              }
            }
        <% end %>
        return ok;
      }
      
      
    })

  </script>
<% end %>