<div class="page-footer">
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <span class="txt-color-white">Inmotur <span class="hidden-xs"> - Gestión Inmobiliaria</span> © 2016</span>
    </div>

  </div>
</div>
