<header id="header">
  <div id="logo-group">

   <span class="logo">
      <%= image_tag 'inmotour/Logo60-60.png', alt: 'Inmotur' %> 
       
    </span>   
   <h1 class="semi-bold" style="color: white;">Inmotur</h1>
  </div>
  <%= yield :top_right %>

  <% if current_identity %>
    
    <!-- pulled right: nav area -->
    <div class="pull-right">

      <!-- collapse menu button -->
      <div id="hide-menu" class="btn-header pull-right">
        <span> <a href="javascript:void(0);" data-action="toggleMenu" title="Collapse Menu"><i class="fa fa-reorder"></i></a> </span>
      </div>
      <!-- end collapse menu -->      

      <!-- logout button -->
      <div id="logout" class="btn-header transparent pull-right">
        <span>
          <%= link_to(log_out_path, method: :delete, title: 'Sign Out') do %>
            <i class="fa fa-sign-out"></i>
          <% end %>
        </span>
      </div>
      <!-- end logout button -->     

      <!-- fullscreen button -->
      <div id="fullscreen" class="btn-header transparent pull-right">
        <span> <a href="javascript:void(0);" data-action="launchFullscreen" title="Full Screen"><i class="fa fa-arrows-alt"></i></a> </span>
      </div>
      <!-- end fullscreen button -->
      
    </div>
    <!-- end pulled right: nav area -->
  <% end %>

</header>
