<aside id="left-panel">

  <!-- User info -->
  <div class="login-info">
				<span> <!-- User image size is adjusted inside CSS, it should stay as it -->

					<a >
            <%= image_tag current_identity.avatar.url(:thumb), alt: 'me', class: 'online' %>
            <span>
							<%= current_identity.email %>
						</span>            
          </a>

				</span>
  </div>
  <!-- end user info -->

  <!-- NAVIGATION : This navigation is also responsive-->
  <nav>
    <ul>
      <%= left_menu %>
    </ul>
  </nav>


		<span class="minifyme" data-action="minifyMenu">
			<i class="fa fa-arrow-circle-left hit"></i>
		</span>

</aside>
