<!DOCTYPE html>
<html lang="en-us" id="<%= yield :html_id %>">
  <head>
    <meta charset="utf-8">
    <title> Inmotur </title>
    <%= csrf_meta_tags %>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  
    <%= stylesheet_link_tag 'application', media: 'screen', 'data-turbolinks-track' => true %>

    
    <%= favicon_link_tag 'inmotour/favicon-inmotour.ico' %>
    <%= favicon_link_tag 'inmotour/favicon-inmotour', rel: 'icon' %>
  

    <%= stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,300,400,700' %>
  
    <!-- iOS web-app metas : hides Safari UI Components and Changes Status Bar Appearance -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
  

    <%= yield :head %>
	
  </head>
<!-- smart-style-2 -->
  <body class="<%= yield :body_class %> smart-style-2 ">
    <% if identity_signed_in?  %>

      <%= render partial: 'layouts/header' unless @lock_screen %>
 
      <%= render partial: 'layouts/left_panel' %>

      <div id="main" role="main">
        <%= yield :ribbon %>
        <% if notice %>
          <div class="alert alert-success fade in">
            <button data-dismiss="alert" class="close">
              ×
            </button>
            <i class="fa-fw fa fa-check"></i>
            <%= notice %>
          </div>
        <% end %>
        <% if alert %>
          <div class="alert alert-warning fade in">
            <button data-dismiss="alert" class="close">
              ×
            </button>
            <i class="fa-fw fa fa-warning"></i>
            <%= alert %>
          </div>
        <% end %>
        <%= yield %>
      </div>

      <%= render partial: 'layouts/footer'  %>
      
     
    <% else %>
      <%= yield %>
    <% end %>
    

    <!-- PACE LOADER - turn this on if you want ajax loading to show (caution: uses lots of memory on iDevices)-->
    <%= javascript_include_tag 'plugin/pace/pace', 'data-pace-options' => '{ "restartOnRequestAfter": true }' %>
    
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
     

	
	
    <%= yield(:scripts).present? ? yield(:scripts) : render(partial: 'layouts/scripts') %>
  
    <!-- Your GOOGLE ANALYTICS CODE Below -->
    <!--<script type="text/javascript">-->
    <!--  var _gaq = _gaq || [];-->
    <!--  _gaq.push(['_setAccount', 'UA-XXXXXXXX-X']);-->
    <!--  _gaq.push(['_trackPageview']);-->
    
    <!--  (function() {-->
    <!--    var ga = document.createElement('script');-->
    <!--    ga.type = 'text/javascript';-->
    <!--    ga.async = true;-->
    <!--    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';-->
    <!--    var s = document.getElementsByTagName('script')[0];-->
    <!--    s.parentNode.insertBefore(ga, s);-->
    <!--  })();-->
    
    <!--</script>-->

     
  </body>


</html>